Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #1787] Export FLINK_ENGINE_HOME in load-kyuubi-env script
  bin/load-kyuubi-env.sh
Due: none

[KYUUBI #1784] Fix float types lose precision
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/RowSet.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/schema/RowSetSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1784] Fix float types lose precision
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/schema/RowSet.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/schema/RowSetSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
Due: kyuubi-spark-sql-engine

for log4j1
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
Due: kyuubi-common

logging
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: none

style
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: none

[KYUUBI #1699] Improve codahale metric
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsSystem.scala
Due: none

[KYUUBI #1764] Reuse the workingDir in ProcBuilder
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/trino/TrinoProcessBuilder.scala
Due: none

fix
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

fix style
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

Only exposing jdbc url for server
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
Due: kyuubi-common

fix
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/schema/RowSet.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/schema/RowSetSuite.scala
Due: none

[KYUUBI #1804]Avoid nightly build for forked repos
  .github/workflows/nightly.yml
Due: none

[KYUUBI #1797] Only exposing jdbc url for server side
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
Due: kyuubi-common

remove oom hook
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ExecutorPool.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopTBinaryFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/ExecutorPoolCaptureOomSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
Due: kyuubi-common

style git diff
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ExecutorPool.scala
Due: kyuubi-common

[KYUUBI #1784][FOLLOWUP][FLINK] Support float type
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

[KYUUBI #1784][FOLLOWUP][TRINO] Fix float types lose precision
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/schema/RowSet.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/schema/RowSetSuite.scala
Due: none

[KYUUBI #1780] Log error message on REST endpoints
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: none

comment
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ExecutorPool.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
Due: kyuubi-common

fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

update the link in the PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE
Due: none

add operation state rate
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
Due: none

[KYUUBI #1800] Remove oom hook
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ExecutorPoolCaptureOom.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopTBinaryFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/ExecutorPoolCaptureOomSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
Due: kyuubi-common

[KYUUBI #1808] Update the link in the PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE
Due: none

backport
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/ThriftBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ExecutorPoolCaptureOom.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopThriftBinaryFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/ExecutorPoolCaptureOomSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiThriftBinaryFrontendService.scala
Due: kyuubi-common

[KYUUBI #1800][1.4] Remove oom hook
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/ThriftBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ExecutorPoolCaptureOom.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopThriftBinaryFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/ExecutorPoolCaptureOomSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiThriftBinaryFrontendService.scala
Due: kyuubi-common

TPC-DS benchmark expose cli arg breakdown
  dev/kyuubi-tpcds/README.md
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/RunBenchmark.scala
Due: none

comment
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
Due: none

fix
  plugins/kyuubi-event-logger-elasticsearch/src/main/scala/org/apache/kyuubi/event/logger/ElasticSearchEventLogger.scala
  plugins/kyuubi-event-logger-elasticsearch/src/main/scala/org/apache/kyuubi/event/logger/elasticsearch/ElasticSearchClient.scala
Due: none

[KYUUBI #1698] Add kyuubi server operation state rate
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
Due: none

[KYUUBI #1806] Fix LaunchEngine may be closed multiple times
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

Enable the internal secure authentication
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/AbstractFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAuthenticationProviderImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiInternalAccessIdentifier.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/PlainSASLHelper.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/SecureAccessProvider.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/SecureAccessor.scala
  kyuubi-common/src/test/resources/META-INF/services/org.apache.kyuubi.service.authentication.SecureAccessProvider
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/SecureAccessorSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/UserDefinedSecureAccessProvider.scala
  kyuubi-ha/src/main/resources/META-INF/services/org.apache.kyuubi.service.authentication.SecureAccessProvider
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/service/authentication/ZooKeeperSecureAccessProviderImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common, kyuubi-ha

refactor
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/AbstractFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessProvider.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessor.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAuthenticationProviderImpl.scala
  kyuubi-common/src/test/resources/META-INF/services/org.apache.kyuubi.service.authentication.EngineSecureAccessProvider
  kyuubi-common/src/test/resources/META-INF/services/org.apache.kyuubi.service.authentication.SecureAccessProvider
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessorSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/UserDefinedEngineSecureAccessProvider.scala
  kyuubi-ha/src/main/resources/META-INF/services/org.apache.kyuubi.service.authentication.EngineSecureAccessProvider
  kyuubi-ha/src/main/resources/META-INF/services/org.apache.kyuubi.service.authentication.SecureAccessProvider
  kyuubi-ha/src/main/scala/org/apache/kyuubi/service/authentication/ZooKeeperEngineSecureAccessProviderImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common, kyuubi-ha

[KYUUBI-1796] Destroy the process after the engine starts
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
Due: kyuubi-common

move
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/AbstractFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/UserDefinedEngineSecureAccessProvider.scala
  kyuubi-common/src/test/resources/META-INF/services/org.apache.kyuubi.service.authentication.EngineSecureAccessProvider
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessorSuite.scala
  kyuubi-ha/src/main/resources/META-INF/services/org.apache.kyuubi.service.authentication.EngineSecureAccessProvider
Due: kyuubi-common, kyuubi-ha

refactor
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/AbstractFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
Due: kyuubi-common

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
