Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

fix commons-lang3 cve
  dev/dependencyList
  pom.xml
Due: none

[KYUUBI #7245] Fix arrow batch converter error
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/execution/arrow/KyuubiArrowConverters.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
Due: kyuubi-spark-sql-engine

Upgrade Flink and Spark to latest patched version
  .github/workflows/master.yml
  bin/docker-image-tool.sh
  docker/playground/.env
  docs/deployment/kyuubi_on_kubernetes.md
  docs/extensions/engines/spark/lineage.md
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveConnectorUtils.scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/deployment/KyuubiOnKubernetesTestsSuite.scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  pom.xml
Due: none

Deprecate support for Flink 1.19, Spark 3.3, 3.4
  docs/security/authorization/spark/build.md
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkEngineUtils.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

nit
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

Fix checkstyle workflow
  .github/workflows/style.yml
Due: none

java17
  .github/workflows/style.yml
Due: none

[KYUUBI #7287] Fix checkstyle workflow
  .github/workflows/style.yml
Due: none

[KYUUBI #7284] Upgrade Flink and Spark to latest patched version
  .github/workflows/master.yml
  bin/docker-image-tool.sh
  docker/playground/.env
  docs/deployment/kyuubi_on_kubernetes.md
  docs/extensions/engines/spark/lineage.md
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveConnectorUtils.scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/deployment/KyuubiOnKubernetesTestsSuite.scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  pom.xml
Due: none

[KYUUBI #7285] Deprecate support for Flink 1.19, Spark 3.3, 3.4
  docs/security/authorization/spark/build.md
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkEngineUtils.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

Bump Maven 3.9.12
  pom.xml
Due: none

[KYUUBI #7288] Bump Maven 3.9.12
  pom.xml
Due: none

Release requires Java 17 or 21
  build/release/release.sh
  docs/contributing/code/release.md
Due: none

[KYUUBI #7289] Release requires Java 17 or 21
  build/release/release.sh
  docs/contributing/code/release.md
Due: none

[KYUUBI #7290] Fix the engine session might still alive when kyuubi session has been closed
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common

If the session already closed, then return
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
Due: kyuubi-common

remove unused comment
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

set shouldRetry to false
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

make sure the client closed
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

playground
  docker/playground/build-image.sh
  docker/playground/compose.yml
  docker/playground/conf/hadoop-env.sh
  docker/playground/conf/hive-env.sh
  docker/playground/conf/kyuubi-env.sh
  docker/playground/conf/spark-env.sh
  docker/playground/image/kyuubi-playground-base.Dockerfile
  docker/playground/image/kyuubi-playground-hadoop.Dockerfile
  docker/playground/image/kyuubi-playground-kyuubi.Dockerfile
  docker/playground/image/kyuubi-playground-spark.Dockerfile
Due: none

fix
  docker/playground/image/kyuubi-playground-base.Dockerfile
Due: none

docs
  docker/playground/README.md
Due: none

nit
  docker/playground/.env
Due: none

nit
  docker/playground/image/kyuubi-playground-hadoop.Dockerfile
Due: none

ca-certificates-java
  docker/playground/image/kyuubi-playground-base.Dockerfile
Due: none
