Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

refactor code
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/KyuubiHadoopUtils.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServerWithMiniYarnService.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithMiniYarnCluster.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationYarnClusterSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/KyuubiServerWithMiniYarnCluster.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/MiniYarnService.scala
Due: kyuubi-common, kyuubi-main

refactor
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/MiniYarnService.scala
Due: kyuubi-main

add on_kubernetes.md
  docs/deployment/on_kubernetes.md
Due: none

change some bug
  docs/deployment/on_kubernetes.md
Due: none

lowcase kubectl
  docs/deployment/on_kubernetes.md
Due: none

do some change to both kubernetes and yarn doc
  docs/deployment/on_kubernetes.md
  docs/deployment/on_yarn.md
Due: none

Adjust chapter order
  docs/deployment/on_kubernetes.md
Due: none

change configurations about volumes
  docs/deployment/on_kubernetes.md
Due: none

Canonical format
  docs/deployment/on_kubernetes.md
Due: none

change words
  docs/deployment/on_kubernetes.md
Due: none

[KYUUBI #656] [DOCS] Deploy Kyuubi engines on Kubernetes
  docs/deployment/on_kubernetes.md
  docs/deployment/on_yarn.md
Due: none

[KYUUBI #654] [GA] Enable Kyuubi nightly build against Spark master
  .github/workflows/master.yml
  .github/workflows/nightly.yml
Due: none

use eventually
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/MiniYarnService.scala
Due: kyuubi-main

[KYUUBI #527] Support test with MiniYARNCluster
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/internal/Tests.scala
  kyuubi-main/pom.xml
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServer.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServerWithMiniYarnService.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationYarnClusterSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/MiniYarnService.scala
  pom.xml
Due: kyuubi-common, kyuubi-main

[KYUUBI #662]Fix run on k8s
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
Due: kyuubi-common

fix comments and add test
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/FrontendServiceSuite.scala
Due: kyuubi-common

fix test
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/FrontendServiceSuite.scala
Due: kyuubi-common

[KYUUBI #662]Fix run on k8s
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/FrontendServiceSuite.scala
Due: kyuubi-common

[TRAVIS] Spark master nigthly build in travis
  .travis.yml
Due: none

[KYUUBI #665]Skip exist check when main resource jar stored remote
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: kyuubi-main

fix
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: kyuubi-main

[KYUUBI #664] [TRAVIS] Spark master nightly build in travis
  .travis.yml
Due: none

init
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/EngineSubmitSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/MiniYarnService.scala
Due: kyuubi-main

Cleanup code and fix typos
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/SchedulerPoolSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/ShareLevel.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/ServiceState.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/HadoopThriftAuthBridgeServer.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliArgumentsSuite.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #669] Cleanup code and fix typos
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/SchedulerPoolSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/ShareLevel.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/ServiceState.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/HadoopThriftAuthBridgeServer.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliArgumentsSuite.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

dump last log
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/EngineSubmitSuite.scala
Due: kyuubi-main

test
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/EngineSubmitSuite.scala
Due: kyuubi-main

client
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/EngineSubmitSuite.scala
Due: kyuubi-main

fix
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/EngineSubmitSuite.scala
Due: kyuubi-main

improve
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
Due: kyuubi-main

[KYUUBI #667] Better error msg if yarn queue has no reousrce during submitting app
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/EngineSubmitSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/MiniYarnService.scala
Due: kyuubi-main

refine
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServerAndMiniYarnService.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/EngineSubmitSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationYarnClusterSuite.scala
Due: kyuubi-main

improve
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServerAndMiniYarnService.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/EngineSubmitSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationYarnClusterSuite.scala
Due: kyuubi-main

improve
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
Due: kyuubi-main

KyuubiSQLException support sqlState and errorCode
  kyuubi-common/src/main/scala/org/apache/kyuubi/KyuubiException.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/KyuubiSQLException.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/OperationLog.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/KyuubiSQLExceptionSuite.scala
Due: kyuubi-common

[KYUUBI #671] Refine WithKyuubiServerWithMiniYarnService
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/EngineSubmitSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationYarnClusterSuite.scala
Due: kyuubi-main

address comments
  kyuubi-common/src/main/scala/org/apache/kyuubi/KyuubiException.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/KyuubiSQLException.scala
Due: kyuubi-common

address comments
  kyuubi-common/src/main/scala/org/apache/kyuubi/KyuubiSQLException.scala
Due: kyuubi-common
