Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #1004] Creates the default zk address instead of falling back to frontend bind address
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
Due: none

fix scala version conflicts
  pom.xml
Due: none

fix yarn dep conflicts
  pom.xml
Due: none

Rename engine.share.level.sub.domain to engine.share.level.subdomain
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: kyuubi-common

Rename engine.share.level.sub.domain to engine.share.level.subdomain
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
Due: kyuubi-common

fix test
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
Due: none

fix hudi dep conflicts
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
  kyuubi-server/pom.xml
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

Add More Issue Templates
  .github/ISSUE_TEMPLATE/config.yml
Due: none

[KYUUBI #1012] Add More Issue Templates
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Enhance load-kyuubi-env.sh
  bin/load-kyuubi-env.sh
Due: none

Address comments
  bin/kyuubi
  bin/load-kyuubi-env.sh
Due: none

indent with 2 spaces
  bin/kyuubi
  bin/load-kyuubi-env.sh
Due: none

nit
  bin/kyuubi
Due: none

[BUILD] Detected dependency list change only on JDK 8
  .github/workflows/master.yml
Due: none

fix jdk11 dep
  .github/workflows/master.yml
Due: none

Add dml test
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

address comments
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: none

[KYUUBI #1014] [BUILD] Detected dependency list change only on JDK 8
  .github/workflows/master.yml
Due: none

[KYUUBI #1013] Enhance bootstrap shell script
  bin/kyuubi
  bin/load-kyuubi-env.sh
Due: none

Change some code standards
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiGetSqlClassification.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiSqlClassification.scala
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

Change some code standards
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiGetSqlClassification.scala
Due: none

change other to undefined
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiGetSqlClassification.scala
Due: none

[KYUUBI #1010] Rename engine.share.level.sub.domain to engine.share.level.subdomain
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: kyuubi-common

[KYUUBI #1007] Implement delegation token renewal framework
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/KyuubiHadoopUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/KyuubiHadoopUtilsSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/EngineCredentialsRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopDelegationProvider.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/UserCredentialsRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/resources/META-INF/services/org.apache.kyuubi.credentials.HadoopDelegationTokenProvider
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopCredentialsManagerSuite.scala
  scalastyle-config.xml
Due: kyuubi-common

some modification
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
Due: none

[KYUUBI #1002] Add classification of SQL_Type: this PR is just for DDL
  dev/kyuubi-extension-spark-3-1/src/main/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiGetSqlClassification.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiSqlClassification.scala
  dev/kyuubi-extension-spark-3-1/src/test/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
  pom.xml
Due: none

exclude jdk.tools dep
  pom.xml
Due: none

[KYUUBI #1011] Fallback some frontend service config option about thrift
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/ThriftFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ServerableSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ThriftFrontendServiceSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/PlainSASLHelperSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/session/SessionManagerSuite.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiServerSuite.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

Check admin acl before killing spark engine
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/ui/EngineTab.scala
Due: kyuubi-spark-sql-engine

send error to notify user
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/ui/EngineTab.scala
Due: kyuubi-spark-sql-engine

refactor code
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/ui/EngineTab.scala
Due: kyuubi-spark-sql-engine

Addressed review suggestion
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/ThriftFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ServerableSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ThriftFrontendServiceSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/PlainSASLHelperSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/session/SessionManagerSuite.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiServerSuite.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

save
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/ui/EngineTab.scala
Due: kyuubi-spark-sql-engine

refactor
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/ui/EngineTab.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1007] Implement delegation token renewal framework
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/KyuubiHadoopUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/KyuubiHadoopUtilsSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/LocalCredentialsRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/RemoteCredentialsRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopCredentialsManagerSuite.scala
  scalastyle-config.xml
Due: kyuubi-common

[KYUUBI #1007] Implement delegation token renewal framework
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/CredentialsRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopCredentialsManagerSuite.scala
Due: none

[BUILD] Remove developers from pom
  pom.xml
Due: none

[KYUUBI #999] Build the basic framework for rest frontend service
  dev/dependencyList
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopServer.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/RestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/api.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/ApiRootResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/RestFrontendServiceSuite.scala
  pom.xml
Due: kyuubi-common
