Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

fix engine ui
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/EngineUIProxyServlet.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/ApiRootResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: none

[KYUUBI #4437] [Authz] Fix dependencies conflict by replacing `jersey-bundle` with `jersey-client`
  extensions/spark/kyuubi-spark-authz/pom.xml
Due: none

fix engine ui
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/EngineUIProxyServlet.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/ApiRootResource.scala
Due: none

features change
  kyuubi-server/web-ui/.env.development
  kyuubi-server/web-ui/src/api/overview/index.ts
  kyuubi-server/web-ui/src/api/server/index.ts
  kyuubi-server/web-ui/src/api/server/types.ts
  kyuubi-server/web-ui/src/locales/en_US/index.ts
  kyuubi-server/web-ui/src/locales/zh_CN/index.ts
  kyuubi-server/web-ui/src/utils/index.ts
  kyuubi-server/web-ui/src/views/overview/index.vue
  kyuubi-server/web-ui/src/views/server/engine/index.vue
  kyuubi-server/web-ui/src/views/session/session-statistics/index.vue
Due: none

[KYUUBI #4439] add list/close operation method for AdminResouce
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
Due: kyuubi-common

change url
  kyuubi-server/web-ui/src/views/server/engine/index.vue
Due: none

fix engine ui
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: none

change date format
  kyuubi-server/web-ui/src/utils/index.ts
Due: none

increase header size
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/ui/JettyServer.scala
Due: none

do not init for alive probe
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
Due: none

Supports ignore table comment when list all tables.
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v3_0.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

add doc
  docs/deployment/settings.md
Due: none

[KYUUBI #4443] Do not set engine session init sql for alive probe session
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
Due: none

fix get operation api
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: kyuubi-common

remove the used blank lines
  bin/docker-image-tool.sh
  bin/kyuubi
  bin/kyuubi-logo
  bin/stop-application.sh
Due: none

rename config
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTables.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v2_4.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v3_0.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/SparkCatalogShim.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

bump log4j from 2.19.0 to 2.20.0
  dev/dependencyList
  pom.xml
Due: none

bump netty to 4.1.89.Final
  dev/dependencyList
  pom.xml
Due: none

refactor engine memory
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/web-ui/src/views/server/engine/index.vue
Due: kyuubi-spark-sql-engine

[KYUUBI #4171] Support skip retrieving table's properties to speed up GetTables operation
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTables.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v2_4.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v3_0.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/SparkCatalogShim.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

Skip etcd test is no docker env
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClientSuite.scala
Due: kyuubi-ha

fix ui
  kyuubi-server/web-ui/package-lock.json
  kyuubi-server/web-ui/src/views/server/engine/index.vue
Due: none

[KYUUBI #4447] Bump log4j from 2.19.0 to 2.20.0
  dev/dependencyList
  pom.xml
Due: none

ignore unknown fields in json mapper
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerLocalClient.scala
Due: none

[KYUUBI #4453] Init Bump
  integration-tests/kyuubi-kubernetes-it/pom.xml
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/MiniKube.scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/WithKyuubiServerOnKubernetes.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/util/KubernetesUtils.scala
  pom.xml
Due: none

[KYUUBI #4453] Fix Dependency
  dev/dependencyList
Due: none

[KYUUBI #4448] Bump Netty from 4.1.87.Final to 4.1.89.Final
  dev/dependencyList
  pom.xml
Due: none

refactor some APIs
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: none

[KYUUBI #3420 Add Spark Web UI Url in zk node]
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ZookeeperSparkEngineRegisterSuite.scala
Due: kyuubi-spark-sql-engine

apply spotless
  docs/deployment/settings.md
Due: none

[KYUUBI #4453] IT test with same logic
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/MiniKube.scala
Due: none

[KYUUBI #4453] Add etcd test
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/EtcdSparkEngineRegisterSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #4453] Remove dup dependence
  integration-tests/kyuubi-kubernetes-it/pom.xml
Due: none

[KYUUBI #3420] Fix style
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ZookeeperSparkEngineRegisterSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #3420] Fix unit test
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/EtcdSparkEngineRegisterSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ZookeeperSparkEngineRegisterSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #3420] Using common test case
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/SparkEngineRegisterSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ZookeeperSparkEngineRegisterSuite.scala
Due: kyuubi-spark-sql-engine

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
