Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #5916] Revert #5916
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/ConfigEntry.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/ConfigEntrySuite.scala
Due: kyuubi-common

[KYUUBI #5867] HiveEngine support run on YARN mode
  docs/configuration/settings.md
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/HiveSQLEngine.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/deploy/HiveYarnModeSubmitter.scala
  externals/kyuubi-hive-sql-engine/src/test/scala/org/apache/kyuubi/engine/hive/deploy/HiveYarnModeSubmitterSuite.scala
  integration-tests/kyuubi-hive-it/pom.xml
  integration-tests/kyuubi-hive-it/src/test/scala/org/apache/kyuubi/it/hive/operation/KyuubiOperationHiveEngineYarnModeSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/deploy/DeployMode.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/deploy/yarn/ApplicationMaster.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/deploy/yarn/ApplicationMasterArguments.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/deploy/yarn/EngineYarnModeSubmitter.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/KyuubiHadoopUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/engine/deploy/yarn/EngineYarnModeSubmitterSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KyuubiApplicationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/hive/HiveProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/hive/HiveYarnModeProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerAndHadoopMiniCluster.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/hive/HiveYarnModeProcessBuilderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/MiniDFSService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/MiniYarnService.scala
Due: kyuubi-common

[KYUUBI #5921] `EngineRef#deregister` should return the value
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefTests.scala
Due: none

typo
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/HiveSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/deploy/yarn/ApplicationMaster.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
Due: kyuubi-common

docs
  docs/configuration/settings.md
Due: none

[KYUUBI #5867][FOLLOWUP] Fix generated configuration docs and typo
  docs/configuration/settings.md
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/HiveSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/deploy/yarn/ApplicationMaster.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
Due: kyuubi-common

notice
  NOTICE
  NOTICE-binary
  extensions/spark/kyuubi-spark-authz-shaded/src/main/resources/META-INF/NOTICE
  externals/kyuubi-flink-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
Due: kyuubi-spark-sql-engine

[K8S][HELM] Add Spark configuration support
  charts/kyuubi/templates/kyuubi-configmap.yaml
  charts/kyuubi/templates/kyuubi-spark-configmap.yaml
  charts/kyuubi/templates/kyuubi-statefulset.yaml
  charts/kyuubi/values.yaml
Due: none

Support proxy user
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/deploy/yarn/EngineYarnModeSubmitter.scala
Due: kyuubi-common

toColumnBasedSetInParallel
  docs/configuration/settings.md
  externals/kyuubi-chat-engine/src/main/scala/org/apache/kyuubi/engine/chat/operation/ChatOperation.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperation.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/operation/JdbcOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/SparkArrowTRowSetGenerator.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/schema/RowSetSuite.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/ExecuteStatement.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperation.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/schema/RowSetSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/result/TRowSetGenerator.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ThreadUtils.scala
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

prevent to use scala.collection.parallel
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/result/TRowSetGenerator.scala
  pom.xml
Due: kyuubi-common

update
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/schema/RowSetSuite.scala
Due: kyuubi-spark-sql-engine

fix
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/result/TRowSetGenerator.scala
Due: kyuubi-common

[KYUUBI #5933] Happy New Year 2024
  NOTICE
  NOTICE-binary
  extensions/spark/kyuubi-spark-authz-shaded/src/main/resources/META-INF/NOTICE
  externals/kyuubi-flink-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
Due: kyuubi-spark-sql-engine

[KYUUBI #5933] Happy New Year 2024
  NOTICE
  NOTICE-binary
  externals/kyuubi-flink-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
Due: kyuubi-spark-sql-engine

[KYUUBI #5797] fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/sql/plan/command/DescribeEngine.scala
Due: none

[KYUUBI #5934] [K8S][HELM] Add Spark configuration support
  charts/kyuubi/templates/kyuubi-configmap.yaml
  charts/kyuubi/templates/kyuubi-spark-configmap.yaml
  charts/kyuubi/templates/kyuubi-statefulset.yaml
  charts/kyuubi/values.yaml
Due: none

[Flink] Reduce excessively long thread sleep
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/result/IncrementalResultFetchIterator.scala
Due: none

fix comments
  .github/labeler.yml
  .github/workflows/license.yml
  .github/workflows/style.yml
  build/dist
  dev/reformat
  docs/tools/spark_block_cleaner.md
  pom.xml
  tools/spark-block-cleaner/kubernetes/docker/Dockerfile
  tools/spark-block-cleaner/kubernetes/docker/entrypoint.sh
  tools/spark-block-cleaner/kubernetes/spark-block-cleaner.yml
  tools/spark-block-cleaner/pom.xml
  tools/spark-block-cleaner/src/main/resources/log4j-block-cleaner.properties
  tools/spark-block-cleaner/src/main/scala/org/apache/kyuubi/tools/KubernetesSparkBlockCleaner.scala
  tools/spark-block-cleaner/src/test/scala/org.apache.kyuubi.tools/KubernetesSparkBlockCleanerSuite.scala
Due: none

nit
  .github/workflows/license.yml
Due: none

fix comment
  docs/tools/spark_block_cleaner.md
Due: none

[KYUUBI #5944][Improvement] Introduce Prometheus and Grafana for Kyuubi Playground
  docker/playground/.env
  docker/playground/README.md
  docker/playground/compose.yml
  docker/playground/grafana/datasource/prometheus.yaml
  docker/playground/prometheus/prometheus.yml
Due: none

Update docs/tools/spark_block_cleaner.md
  docs/tools/spark_block_cleaner.md
Due: none

add license header
  docker/playground/grafana/datasource/prometheus.yaml
  docker/playground/prometheus/prometheus.yml
Due: none

eof
  docker/playground/grafana/datasource/prometheus.yaml
  docker/playground/prometheus/prometheus.yml
Due: none

fix prometheus
  docker/playground/compose.yml
Due: none

[KYUUBI #5941] Drop Kubernetes Block Cleaner Tool from Kyuubi
  .github/labeler.yml
  .github/workflows/license.yml
  .github/workflows/style.yml
  build/dist
  dev/reformat
  docs/tools/spark_block_cleaner.md
  pom.xml
  tools/spark-block-cleaner/kubernetes/docker/Dockerfile
  tools/spark-block-cleaner/kubernetes/docker/entrypoint.sh
  tools/spark-block-cleaner/kubernetes/spark-block-cleaner.yml
  tools/spark-block-cleaner/pom.xml
  tools/spark-block-cleaner/src/main/resources/log4j-block-cleaner.properties
  tools/spark-block-cleaner/src/main/scala/org/apache/kyuubi/tools/KubernetesSparkBlockCleaner.scala
  tools/spark-block-cleaner/src/test/scala/org.apache.kyuubi.tools/KubernetesSparkBlockCleanerSuite.scala
Due: none

fix comments
  docker/playground/.env
  docker/playground/compose.yml
Due: none

make grafana as anonymous
  docker/playground/compose.yml
  docker/playground/grafana/datasource/prometheus.yaml
Due: none

[KYUUBI #5894] Separate closed and online sessions[statements] in the SparkUI's engine tab
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineSessionPage.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/ui/EngineTabSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #5894] fix scalastyle check
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineSessionPage.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #5939] fix gluten cache
  .github/workflows/gluten.yml
Due: none

[KYUUBI #5797] Support to describe engine with command in current session
  kyuubi-server/src/main/antlr4/org/apache/kyuubi/sql/KyuubiSqlBaseLexer.g4
  kyuubi-server/src/main/scala/org/apache/kyuubi/sql/parser/server/KyuubiAstBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/sql/plan/command/DescribeEngine.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/parser/DescribeEngineSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/parser/DescribeSessionSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/parser/KyuubiParserSuite.scala
Due: none

[KYUUBI #5939] test
  .github/workflows/gluten.yml
Due: none

upgrade Gluten version
  .github/workflows/gluten.yml
  integration-tests/kyuubi-gluten-it/pom.xml
Due: none

[KYUUBI #5939] remove test branch
  .github/workflows/gluten.yml
Due: none

[KYUUBI #5939] Bump Gluten version to recover Gluten IT
  .github/workflows/gluten.yml
  integration-tests/kyuubi-gluten-it/pom.xml
Due: none

declare metrics related config
  docker/playground/conf/kyuubi-defaults.conf
Due: none

[KYUUBI #5797][FOLLOWUP] desc engine command support show engine registered attributes
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/sql/plan/command/DescribeEngine.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/parser/DescribeEngineSuite.scala
Due: none
