Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #3776] [BUILD] Revise Kyuubi Spark engine shaded
  LICENSE-binary
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/LICENSE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/services/org.apache.spark.status.AppHistoryServerPlugin
  kyuubi-ha/pom.xml
  pom.xml
Due: kyuubi-ha, kyuubi-spark-sql-engine

[KYUUBI #3790] Avoid using SchemaResolver directly in GetColumns operation
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetColumns.scala
Due: none

debug python version
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/PySparkTests.scala
Due: kyuubi-spark-sql-engine

print ga debug info
  .github/workflows/master.yml
Due: none

test ga
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/PySparkTests.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #3795][PYSPARK] Python 3.8+ support
  externals/kyuubi-spark-sql-engine/src/main/resources/python/execute_python.py
Due: kyuubi-spark-sql-engine

deplist
  dev/dependencyList
Due: none

[KYUUBI #3798] Bump protobuf-java from 3.21.1 to 3.21.7
  dev/dependencyList
  pom.xml
Due: none

address comment
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineTab.scala
Due: kyuubi-spark-sql-engine

add arctic utils
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/v2Commands.scala
Due: none

restructure
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/FileSessionConfAdvisor.scala
Due: none

optimize
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/OperationType.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/ArcticCmdUtils.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/v2Commands.scala
Due: none

fix
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/v2Commands.scala
Due: none

remove replace
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
Due: none

adding custom connection limit in SessionLimiter.scala and providing custom group's name at EngineRef.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/resources/sql/mysql/metadata-store-schema-mysql.sql
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/UserCustomStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataDatasource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCUserCustomStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/SessionLimiter.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/session/SessionLimiterSuite.scala
Due: kyuubi-common

Style
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/FileSessionConfAdvisor.scala
Due: none

remove unused import
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
Due: none

print output
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/PySparkTests.scala
Due: kyuubi-spark-sql-engine

merge master， and use unified method to check persist hive functions.
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtension.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleApplyPermanentViewMarker.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleAuthorization.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleAuthorizationProvider.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleRelationAuthorization.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/spark/sql/hive/HiveFunctionPrivilegeBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AuthzConfigurationCheckerSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

active stage can't calculate the number of tasks correctly in sql operation listener
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #3801] Correctly calculate active stages in SQLOperationListener
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
Due: kyuubi-spark-sql-engine

address comment
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
Due: kyuubi-spark-sql-engine

change
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
Due: none

[DOCS] Make the quick start less wordy and easier
  docs/conf.py
  docs/quick_start/index.rst
  docs/quick_start/quick_start.md
  docs/quick_start/quick_start.rst
  docs/requirements.txt
Due: none

[DOCS] Make the quick start less wordy and easier
  docs/conf.py
Due: none

[KYUUBI #3742] Add FileSessionConfAdvisor to manage session level configuration
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/FileSessionConfAdvisor.scala
  kyuubi-server/src/test/resources/kyuubi-session-cluster-a.conf
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/PluginLoaderSuite.scala
Due: kyuubi-common

sync primary col
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/ArcticCmdUtils.scala
Due: none

[KYUUBI #3804] [DOCS] Make the quick start less wordy and easier to understand
  docs/conf.py
  docs/quick_start/index.rst
  docs/quick_start/quick_start.md
  docs/quick_start/quick_start.rst
  docs/requirements.txt
Due: none

Support get python path from Spark config. Prefer the system env PYSPARK_DRIVER_PYTHON than PYSPARK_PYTHON for Python execute path.
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
Due: kyuubi-spark-sql-engine

nit
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
Due: kyuubi-spark-sql-engine

fix NoSuchElementException
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
Due: kyuubi-spark-sql-engine

[#3809] make some adjust according to the kyuubi suggestion
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/resources/sql/mysql/metadata-store-schema-mysql.sql
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: kyuubi-common

v1.6.1-incubating changelog
  docs/changelog/v1.6.1-incubating.md
Due: none

[KYUUBI #3811] Add v1.6.1-incubating changelog
  docs/changelog/v1.6.1-incubating.md
Due: none

fix bug: Caused by: java.lang.ClassNotFoundException: com.google.common.util.concurrent.internal.InternalFutureFailureAccess
  kyuubi-assembly/pom.xml
Due: none

fix quick start broken link
  docs/client/bi_tools/datagrip.md
  docs/client/bi_tools/hue.md
  docs/client/jdbc/hive_jdbc.md
Due: none

update dev/dependencyList and LICENSE-binary
  LICENSE-binary
  dev/dependencyList
Due: none
