Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

bump hikaricp to 4.0.3
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/JDBCStateStore.scala
  pom.xml
Due: none

save
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/InMemoryStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/JDBCStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/StateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
Due: none

save
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/InMemoryStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/SessionStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/StateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/api/BatchMeta.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/api/BatchState.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
Due: kyuubi-common

refactor
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/InMemoryStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/SessionStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/StateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/api/BatchMeta.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/api/BatchState.scala
Due: none

[KYUUBI#2405] Support Flink StringData Data Type
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/result/ResultSetSuite.scala
Due: none

[KYUUBI#2405] Fix index out of range when result set is empty
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
Due: none

[KYUUBI#2405] Update externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
Due: none

add jdbc dialect
  docs/deployment/settings.md
  externals/kyuubi-jdbc-engine/src/main/resources/META-INF/services/org.apache.kyuubi.engine.jdbc.dialect.JdbcDialect
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/JdbcSQLEngine.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/JdbcStatement.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/dialect/DorisDialect.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/dialect/JdbcDialect.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/doris/DorisExecuteStatement.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/doris/DorisJdbcOperationManager.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/doris/DorisStatement.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/mysql/MysqlStatement.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/operation/ExecuteStatement.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/operation/JdbcOperation.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/operation/JdbcOperationManager.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/session/JdbcSessionManager.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/doris/WithDorisEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/EngineType.scala
Due: kyuubi-common

[KYUUBI#2405] Fix index out of range when sampling
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
Due: none

[KYUUBI #2715] Introduce session state store for batch session multiple HA
  dev/dependencyList
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/resources/sql/derby/statestore-schema.sql
  kyuubi-server/src/main/resources/sql/mysql/statestore-shema.sql
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/SessionStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/StateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/StateStoreProvider.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/api/BatchMeta.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/api/BatchState.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/DataBaseType.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStoreSuite.scala
  pom.xml
Due: kyuubi-common

[KYUUBI#2405] Update comments
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
Due: none

add comments for conf
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
Due: kyuubi-common

[KYUUBI#2405] Simplify sampling code
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
Due: none

refactor mysql schema
  kyuubi-server/src/main/resources/sql/mysql/statestore-shema.sql
Due: none

refactor derby schema
  kyuubi-server/src/main/resources/sql/derby/statestore-schema.sql
  kyuubi-server/src/main/resources/sql/mysql/statestore-shema.sql
Due: none

refactor jdbc state store
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
Due: none

order by key_id
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
Due: none

refactor resource name
  kyuubi-server/src/main/resources/sql/derby/statestore-schema.derby.sql
  kyuubi-server/src/main/resources/sql/mysql/statestore-shema.mysql.sql
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
Due: none

schema refactor
  kyuubi-server/src/main/resources/sql/derby/statestore-schema.derby.sql
  kyuubi-server/src/main/resources/sql/mysql/statestore-shema.mysql.sql
Due: none

add ipaddress to batch meta
  kyuubi-server/src/main/resources/sql/derby/statestore-schema.derby.sql
  kyuubi-server/src/main/resources/sql/mysql/statestore-shema.mysql.sql
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/SessionStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/api/BatchMeta.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStoreSuite.scala
Due: none

Support internal rest request authentication to enable redirect http request across kyuubi instances
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/InternalSecurityAccessor.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/InternalSecuritySecretProvider.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/InternalSecurityAccessorSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/UserDefinedInternalSecuritySecretProvider.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/service/authentication/ZooKeeperEngineSecuritySecretProviderImpl.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/service/authentication/ZooKeeperInternalSecuritySecretProviderImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthSchemes.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationFilter.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/KyuubiHttpAuthenticationFactory.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/KyuubiInternalAuthenticationHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationWithEngineSecurity.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiRestAuthenticationSuite.scala
Due: kyuubi-common, kyuubi-ha

Fix KyuubiDatabaseMetaData#supportsCatalogs*
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiDatabaseMetaData.java
Due: none

revert
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Due: none

ut
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkMetadataTests.scala
Due: kyuubi-common

[KYUUBI #2714] Log4j2 layout pattern add date
  conf/log4j2.properties.template
  docs/deployment/settings.md
  kyuubi-common/src/main/resources/log4j2-defaults.properties
Due: kyuubi-common

refactor
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
Due: none

comments
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/service/authentication/ZooKeeperEngineSecuritySecretProviderImpl.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/service/authentication/ZooKeeperInternalSecuritySecretProviderImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiRestAuthenticationSuite.scala
Due: kyuubi-common, kyuubi-ha

make it internal
  docs/deployment/settings.md
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
Due: kyuubi-ha

refactor
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
Due: kyuubi-common

[KYUUBI #2706] Spark extensions support Spark-3.3
  extensions/spark/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLCommonExtension.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLParser.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/InsertShuffleNodeBeforeJoinSuite.scala
  extensions/spark/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/ZorderSuite.scala
  extensions/spark/kyuubi-extension-spark-3-2/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLCommonExtension.scala
  extensions/spark/kyuubi-extension-spark-3-2/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLParser.scala
  extensions/spark/kyuubi-extension-spark-3-2/src/test/scala/org/apache/spark/sql/InsertShuffleNodeBeforeJoinSuite.scala
  extensions/spark/kyuubi-extension-spark-3-2/src/test/scala/org/apache/spark/sql/ZorderSuite.scala
  extensions/spark/kyuubi-extension-spark-3-3/pom.xml
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/DropIgnoreNonexistent.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLCommonExtension.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLParser.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/RebalanceBeforeWriting.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/watchdog/ForcedMaxOutputRowsRule.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/test/resources/log4j.properties
  extensions/spark/kyuubi-extension-spark-3-3/src/test/scala/org/apache/spark/sql/DropIgnoreNonexistentSuite.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/test/scala/org/apache/spark/sql/FinalStageConfigIsolationSuite.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/test/scala/org/apache/spark/sql/InsertShuffleNodeBeforeJoinSuite.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/test/scala/org/apache/spark/sql/RebalanceBeforeWritingSuite.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/test/scala/org/apache/spark/sql/WatchDogSuite.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/test/scala/org/apache/spark/sql/ZorderSuite.scala
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/watchdog/MaxPartitionStrategy.scala
  extensions/spark/kyuubi-extension-spark-common/src/test/scala/org/apache/spark/sql/InsertShuffleNodeBeforeJoinSuiteBase.scala
  extensions/spark/kyuubi-extension-spark-common/src/test/scala/org/apache/spark/sql/ZorderSuiteBase.scala
  pom.xml
Due: none

refactor the table schema
  kyuubi-server/src/main/resources/sql/mysql/statestore-shema.mysql.sql
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/SessionStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/StateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/api/BatchMetadata.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/DatabaseType.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStoreSuite.scala
Due: none

fix ut
  kyuubi-server/src/main/resources/sql/derby/statestore-schema.derby.sql
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStoreSuite.scala
Due: none

[KYUUBI #2720] Fix KyuubiDatabaseMetaData#supportsCatalogs*
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkMetadataTests.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiDatabaseMetaData.java
Due: kyuubi-common

refactor
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Due: none

refactor
  kyuubi-server/src/main/resources/sql/derby/statestore-schema.derby.sql
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/SessionStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/StateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStoreSuite.scala
Due: none

remove old do
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/SessionStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/api/BatchMeta.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/api/BatchState.scala
Due: none

unify the createInstance
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ClassUtils.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/DiscoveryClientProvider.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/StateStoreProvider.scala
Due: kyuubi-common, kyuubi-ha

refactor docs
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/StateStore.scala
Due: none
