Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #1055] Refine zorder plan
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLExtensionException.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/OptimizeZorderCommand.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/OptimizeZorderStatement.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ResolveZorder.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/Zorder.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderBeforeWrite.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderBytesUtils.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSqlAstBuilder.scala
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

add comments
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/OperationLog.scala
Due: kyuubi-common

[KYUUBI #1034] Engine may deadlock when close operationLog
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/OperationLog.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #1018] Set spark.sql.execution.topKSortFallbackThreshold to 10000
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1057] [KYUUBI#1056] Output error log when currentEngine is None
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1059] Add Plan Only Operations
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
Due: kyuubi-common

[KYUUBI #1009] Implement Hive metastore server Delegation Token Provider
  dev/dependencyList
  kyuubi-server/pom.xml
Due: none

merge master
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

[KYUUBI #1037] Add classification of SQL_Type: for dql and auxiliary statement
  dev/kyuubi-extension-spark-3-1/src/main/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiGetSqlClassification.scala
  dev/kyuubi-extension-spark-3-1/src/test/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

[KYUUBI #1009] Implement Hive metastore server Delegation Token Provider
  dev/dependencyList
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/resources/META-INF/services/org.apache.hadoop.security.token.TokenIdentifier
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopDelegationProvider.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProvider.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HiveDelegationTokenProvider.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopCredentialsManagerSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProviderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HiveDelegationTokenProviderSuite.scala
  pom.xml
Due: kyuubi-common

support insert zorder by table properties
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/InsertZorderBeforeWritingDatasource.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/Zorder.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderBytesUtils.scala
  dev/kyuubi-extension-spark-3-1/src/test/resources/log4j.properties
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

add test
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/InsertZorderBeforeWriting.scala
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

reduce hudi spark extraJars deps
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
Due: kyuubi-common

&& -> ||
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiAnalysis.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiQueryStagePreparation.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSparkSqlExtensionsParser.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSqlAstBuilder.scala
  docs/sql/rules.md
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ZooKeeperClientProvider.scala
  pom.xml
Due: kyuubi-common, kyuubi-ha

1
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiAnalysis.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiQueryStagePreparation.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSparkSqlExtensionsParser.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSqlAstBuilder.scala
  docs/sql/rules.md
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ZooKeeperClientProvider.scala
  pom.xml
Due: kyuubi-common, kyuubi-ha

1
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ZooKeeperClientProvider.scala
Due: kyuubi-ha

[KYUUBI #1052] Implement api: /sessions (POST)
  kyuubi-server/pom.xml
  kyuubi-server/src/main/java/org/apache/kyuubi/server/api/v1/dto/SessionOpenRequest.java
  kyuubi-server/src/main/java/org/apache/kyuubi/server/api/v1/dto/SessionOpenedCount.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/RestFrontendServiceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
  pom.xml
Due: none

Support the eventLog upload to hdfs
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/JsonEventLogger.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EventLoggingServiceSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

Support the eventLog upload to hdfs
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EventLoggingServiceSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/JsonEventLogger.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #1059] Add Plan Only Operations
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/PlanOnlyOperationSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #703][FOLLOWUP][DEPS][TEST] Reduce hudi spark extraJars deps
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
Due: kyuubi-common

Addressed review suggestion
  kyuubi-server/pom.xml
  kyuubi-server/src/main/java/org/apache/kyuubi/server/api/v1/dto/SessionOpenedCount.java
Due: none

Correct typos in bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

[KYUUBI #1078] Correct typos in bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

[FEATURE] Replace umbrella.md with umbrella.yml
  .github/ISSUE_TEMPLATE/umbrella.md
  .github/ISSUE_TEMPLATE/umbrella.yml
Due: none

[KYUUBI #1080] Move stringifyException to Utils
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/KyuubiSQLException.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

test
  .github/workflows/master.yml
Due: none

[KYUUBI #1083] Correct wrong build strategy matrix
  .github/workflows/master.yml
Due: none

Modify some UT
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EventLoggingServiceSuite.scala
Due: kyuubi-spark-sql-engine

Remove "toString" from ut
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EventLoggingServiceSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1088] Refactor java version dto to scala version
  kyuubi-server/src/main/java/org/apache/kyuubi/server/api/v1/dto/SessionOpenRequest.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/dto.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: none

[KYUUBI #916] Send DelegationTokens to SQL engines
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLBackendService.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkThriftFrontendService.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkContextHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/ThriftFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/KyuubiHadoopUtils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common, kyuubi-spark-sql-engine
