Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

pruning unnecessary code
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/EngineEnvironment.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/SessionEntry.java
Due: none

pruning unnecessary code
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/EngineEnvironment.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/SinkTableEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/SourceSinkTableEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/SourceTableEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/TableEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/TemporalTableEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/ViewEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/context/ExecutionContext.java
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSQLSessionManager.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

pruning unnecessary code
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/EngineEnvironment.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/EngineEntry.java
Due: none

pruning unnecessary code
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSQLSessionManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/shim/CatalogShim_v1_12.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/shim/FlinkCatalogShim.scala
Due: none

[KYUUBI #1525] Implement GetCatalogs operation and do the further initialization
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/ConfigUtil.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/EngineEnvironment.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/CatalogEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/ConfigEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/ConfigurationEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/DeploymentEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/EngineEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/ExecutionEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/FunctionEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/ModuleEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/SessionEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/SinkTableEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/SourceSinkTableEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/SourceTableEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/TableEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/TemporalTableEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/ViewEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/context/EngineContext.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/context/ExecutionContext.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/context/SessionContext.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/deployment/ClusterDescriptorAdapter.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/ArrayFetchIterator.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/ColumnInfo.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/Constants.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/FetchIterator.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/OperationUtil.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/ResultKind.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/ResultSet.java
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperation.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetCatalogs.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSQLSessionManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSessionImpl.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/shim/CatalogShim_v1_12.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/shim/FlinkCatalogShim.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/schema/RowSet.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

pruning unnecessary code
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/EngineEnvironment.java
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/schema/RowSet.scala
Due: none

refactor code
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperation.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetCatalogs.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

pruning unnecessary code
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/EngineEnvironment.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/CatalogEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/context/ExecutionContext.java
Due: none

pruning unnecessary code
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/DeploymentEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/context/ExecutionContext.java
Due: none

pruning unnecessary code
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/EngineEnvironment.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/ConfigurationEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/context/ExecutionContext.java
Due: none

Address review suggestion
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/ExecutionEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/context/ExecutionContext.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/ColumnInfo.java
  pom.xml
Due: none

add session conf advisor
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-plugin/pom.xml
  kyuubi-plugin/src/main/java/org/apache/kyuubi/plugin/DefaultSessionConfAdvisor.java
  kyuubi-plugin/src/main/java/org/apache/kyuubi/plugin/SessionConfAdvisor.java
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/PluginLoader.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/PluginLoaderSuite.scala
  pom.xml
Due: kyuubi-common

replace operationDetail with OperationEvent
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiOperationEvent.scala
Due: kyuubi-common

comment
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/PluginLoader.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
Due: none

replace operationDetail with OperationEvent
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiOperationEvent.scala
Due: kyuubi-spark-sql-engine

replace operationDetail with OperationEvent
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/LaunchEngine.scala
Due: none

fix toHiveString
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/schema/RowSet.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/schema/engine/trino/RowSetSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/RowSetUtils.scala
Due: kyuubi-common

Modify the default value to false
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
Due: kyuubi-ha

[KYUUBI #1525][FLINK] Implement GetCatalogs operation and do the further initialization
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/EngineEnvironment.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/ConfigEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/config/entries/ExecutionEntry.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/context/EngineContext.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/context/ExecutionContext.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/context/SessionContext.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/ColumnInfo.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/Constants.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/OperationUtil.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/ResultKind.java
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/ResultSet.java
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperation.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetCatalogs.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSQLSessionManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSessionImpl.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
  pom.xml
Due: none

remove timeZone
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/schema/RowSet.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/schema/engine/trino/RowSetSuite.scala
Due: none

replace operationDetail with OperationEvent
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiOperationEvent.scala
Due: none

typo
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ServiceDiscoveryClient.scala
Due: kyuubi-ha

gen settings
  docs/deployment/settings.md
Due: none

replace operationDetail with OperationEvent
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: none

[DOC] The TTL Of Kyuubi Engines
  docs/community/badges.md
  docs/community/index.rst
  docs/conf.py
  docs/deployment/engine_lifecycle.md
  docs/deployment/index.rst
  docs/deployment/spark/index.rst
  docs/develop_tools/index.rst
  docs/imgs/engine_lifecycle.drawio
  docs/requirements.txt
Due: none

[KYUUBI #1515] Add RowSet for trino engine
  externals/kyuubi-trino-engine/pom.xml
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/schema/RowSet.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/schema/engine/trino/RowSetSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/RowSetUtils.scala
  pom.xml
Due: kyuubi-common

[KYUUBI #1550] Add Windows configuration steps
  docs/client/kerberized_kyuubi.md
Due: none

[KYUUBI #1174][FOLLOWUP] change configuration(ha.zookeeper.publish.configs) default value to false
  docs/deployment/settings.md
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ServiceDiscoveryClient.scala
Due: kyuubi-ha

[KYUUBI #1174][FOLLOWUP] change configuration(ha.zookeeper.publish.configs) default value to false
  docs/deployment/settings.md
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

Algin all Jackson libs version
  dev/dependencyList
  pom.xml
Due: none

fix
  dev/dependencyList
Due: none

[KYUUBI #1557] [DOC] The TTL Of Kyuubi Engines
  docs/community/badges.md
  docs/community/index.rst
  docs/conf.py
  docs/deployment/engine_lifecycle.md
  docs/deployment/index.rst
  docs/deployment/spark/index.rst
  docs/develop_tools/index.rst
  docs/imgs/engine_lifecycle.drawio
  docs/requirements.txt
Due: none

[KYUUBI #1539] Replace operationDetail with KyuubiEvent
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiOperationEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/LaunchEngine.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/dto.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/EventLoggingServiceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/OperationsResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #1550] Improve doc style
  docs/client/kerberized_kyuubi.md
  docs/security/kinit.md
Due: none

Update deps
  dev/dependencyList
  pom.xml
Due: none

[KYUUBI #1560] Align all Jackson libs version
  dev/dependencyList
  pom.xml
Due: none

Bump Jackson 2.12.5
  dev/dependencyList
  pom.xml
Due: none

[KYUUBI #1550] Add kerberos authentication flow
  docs/client/kerberized_kyuubi.md
  docs/imgs/kyuubi_kerberos_authentication.png
  docs/security/kinit.md
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
