Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

remove unnecessary test
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineSuite.scala
Due: kyuubi-spark-sql-engine

nit
  externals/kyuubi-download/pom.xml
  pom.xml
Due: none

timeout
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineSuite.scala
Due: kyuubi-spark-sql-engine

split ServiceDiscovery to server and engine
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineSuite.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/KyuubiServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine

check level at engine discovery
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha, kyuubi-spark-sql-engine

nit
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
Due: kyuubi-ha

Bump up curator to 2.12.0
  docs/deployment/settings.md
  pom.xml
Due: none

test
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #389] Bump up curator to 2.12.0
  docs/deployment/settings.md
  pom.xml
Due: none

replace abbr in doc
  README.md
  docs/deployment/hive_metastore.md
  docs/deployment/settings.md
  docs/deployment/trouble_shooting.md
  docs/overview/kyuubi_vs_hive.md
  docs/quick_start/quick_start.md
  docs/security/authentication.md
  docs/security/kinit.md
  docs/tools/building.md
  docs/tools/debugging.md
Due: none

Bump up guava to 14.0.1
  pom.xml
Due: none

[KYUUBI #390] Replace abbr in doc
  README.md
  docs/deployment/hive_metastore.md
  docs/deployment/settings.md
  docs/deployment/trouble_shooting.md
  docs/overview/kyuubi_vs_hive.md
  docs/quick_start/quick_start.md
  docs/security/authentication.md
  docs/security/kinit.md
  docs/tools/building.md
  docs/tools/debugging.md
Due: none

[KYUUBI #391] Bump up guava to 14.0.1
  pom.xml
Due: none

Remove netty dependency
  kyuubi-assembly/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-main/pom.xml
  pom.xml
Due: kyuubi-ha, kyuubi-main

nit
  pom.xml
Due: none

[KYUUBI #392] Remove netty dependency
  kyuubi-assembly/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-main/pom.xml
  pom.xml
Due: kyuubi-ha, kyuubi-main

nit
  .travis.yml
Due: none

deps
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

deps
  externals/kyuubi-spark-sql-engine/pom.xml
  pom.xml
Due: kyuubi-spark-sql-engine

move method
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
Due: kyuubi-ha

test fix
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  kyuubi-common/src/test/java/org/apache/kyuubi/tags/DataLakeTest.java
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/datalake/IcebergOperationSuite.scala
  pom.xml
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

set up travis
  .travis.yml
  pom.xml
Due: none

set up ga
  .github/workflows/master.yml
Due: none

typo
  docs/deployment/settings.md
  kyuubi-main/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
  pom.xml
Due: kyuubi-main

[KYUUBI #386] Clean up discovery service before engine stop in connection share level
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/SparkSQLEngineListenerSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithDiscoverySparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkIcebergOperationSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/session/SessionSuite.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/KyuubiServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine

ga
  .github/workflows/master.yml
Due: none

[KYUUBI #298]Add Support for Apache Spark 3.1.1
  .github/workflows/master.yml
  .travis.yml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkIcebergOperationSuite.scala
  kyuubi-common/src/test/java/org/apache/kyuubi/tags/DataLakeTest.java
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
  pom.xml
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

Add Support for Hadoop 3.2
  .github/workflows/master.yml
  .github/workflows/release.yml
  .travis.yml
  build/dist
  pom.xml
Due: none

nit
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  pom.xml
Due: kyuubi-main

wip
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
Due: kyuubi-ha

[KYUUBI #393] Add Support for Hadoop 3.2
  .github/workflows/master.yml
  .github/workflows/release.yml
  .travis.yml
  build/dist
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  pom.xml
Due: kyuubi-main

Add Backward Compatibility Checker for Compile with Spark 3.0 but Run on 3.1
  .github/workflows/master.yml
  .travis.yml
Due: none

[KYUUBI #383] remove regex match, add server side test cases
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/package.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

[KYUUBI #383] Support beeline --hivevar --hiveconf
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/package.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #396] Add Backward Compatibility Checker for Compile with Spark 3.0 but Run on 3.1
  .github/workflows/master.yml
  .travis.yml
Due: none

[KYUUBI #398] move to hadoop shaded client
  .github/workflows/master.yml
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-main/pom.xml
  pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine

update travis.yml
  .travis.yml
Due: none
