Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #5177] Use Scala binary version placeholder in Maven module's artifactId suffix
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-tpcds/pom.xml
  extensions/spark/kyuubi-extension-spark-3-1/pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/pom.xml
  extensions/spark/kyuubi-extension-spark-3-3/pom.xml
  extensions/spark/kyuubi-extension-spark-common/pom.xml
  extensions/spark/kyuubi-extension-spark-jdbc-dialect/pom.xml
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-connector-common/pom.xml
  extensions/spark/kyuubi-spark-connector-hive/pom.xml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
  extensions/spark/kyuubi-spark-lineage/pom.xml
  externals/kyuubi-chat-engine/pom.xml
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-jdbc-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-trino-engine/pom.xml
  integration-tests/kyuubi-flink-it/pom.xml
  integration-tests/kyuubi-hive-it/pom.xml
  integration-tests/kyuubi-jdbc-it/pom.xml
  integration-tests/kyuubi-trino-it/pom.xml
  integration-tests/kyuubi-zookeeper-it/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-events/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-server/pom.xml
  kyuubi-util-scala/pom.xml
  kyuubi-zookeeper/pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

Support to limit some user to make connection.
  docs/configuration/settings.md
  docs/tools/kyuubi-admin.rst
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/refresh/RefreshConfigCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/opt/AdminCommandLine.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/AdminControlCliArgumentsSuite.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/AdminRestApi.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/SessionLimiter.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/session/SessionLimiterSuite.scala
Due: kyuubi-common

[KYUUBI #5180] Replace deprecated classes by equivalent in scala.tools.nsc.interpreter package
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/repl/KyuubiSparkILoop.scala
Due: kyuubi-spark-sql-engine

Use Iterable instead of Seq in kyuubi-ctl commands
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/create/CreateServerCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteEngineCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetEngineCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetServerCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/AdminListEngineCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/AdminListServerCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListServerCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListSessionCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/util/Render.scala
Due: none

[KYUUBI #5179] Use Iterable instead of Seq in kyuubi-ctl commands
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/create/CreateServerCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteEngineCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetEngineCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetServerCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/AdminListEngineCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/AdminListServerCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListServerCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListSessionCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/util/Render.scala
Due: none

introduce new profile scala-2.13
  pom.xml
Due: none

skip deprecated compiler option "-Yno-adapted-args" in 2.13
  pom.xml
Due: none

ensure kyuubi-common module compilable on scala 2.13
  kyuubi-common/src/main/scala/org/apache/kyuubi/KyuubiSQLException.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImplSuite.scala
Due: kyuubi-common

ensure kyuubi-ha module compilable on scala 2.13
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClient.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClient.scala
Due: kyuubi-ha

ensure kyuubi-ctl module compilable on scala 2.13
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteServerCommand.scala
Due: none

update
  pom.xml
Due: none

comment
  pom.xml
Due: none

2.13.11
  pom.xml
Due: none

rename Kyuubi's StageInfo to SparkStageInfo preventing class mismatch
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkConsoleProgressBar.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/StageStatus.scala
Due: kyuubi-spark-sql-engine

Support to limit some user to make connection.
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/opt/AdminCommandLine.scala
Due: none

Revert "tgz"
  pom.xml
Due: none

remove staging repo
  pom.xml
Due: none

update
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkConsoleProgressBar.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #5184] [Improvement] Rename Kyuubi's StageInfo to SparkStageInfo to fix class mismatch
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkConsoleProgressBar.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/StageStatus.scala
Due: kyuubi-spark-sql-engine

duplicate scala-maven-plugin configs in profile
  pom.xml
Due: none

Support to limit some user to make connection.
  docs/configuration/settings.md
  docs/tools/kyuubi-admin.rst
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/SessionLimiter.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/session/SessionLimiterSuite.scala
Due: kyuubi-common

fix info message in UserFilter
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/UserFilterFactory.scala
Due: kyuubi-common

[KYUUBI #5187] [Minor] Fix info message in UserFilter
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/UserFilterFactory.scala
Due: kyuubi-common

Align scala 2.13 version with Spark to 2.13.8
  pom.xml
Due: none

[KYUUBI #5183] Introducing profile scala-2.13 for development use
  kyuubi-common/src/main/scala/org/apache/kyuubi/KyuubiSQLException.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImplSuite.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteServerCommand.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClient.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClient.scala
  pom.xml
Due: kyuubi-common, kyuubi-ha

adapt server module to 2.13
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/ServerEventHandlerRegister.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLQueryResult.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: none

adapt spark sql module to 2.13
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/scala-2.13/org/apache/kyuubi/engine/spark/repl/KyuubiSparkILoop.scala
Due: kyuubi-spark-sql-engine

move back scala 2.12's KyuubiSparkILoop
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/repl/KyuubiSparkILoop.scala
Due: kyuubi-spark-sql-engine

remove original KyuubiSparkILoop
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/repl/KyuubiSparkILoop.scala
Due: kyuubi-spark-sql-engine

rename export variable
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
Due: none

2.12's KyuubiSparkILoop
  externals/kyuubi-spark-sql-engine/src/main/scala-2.12/org/apache/kyuubi/engine/spark/repl/KyuubiSparkILoop.scala
Due: kyuubi-spark-sql-engine

Use Iterable for collections
  externals/kyuubi-spark-sql-engine/src/main/scala-2.13/org/apache/kyuubi/engine/spark/repl/KyuubiSparkILoop.scala
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/handler/KafkaLoggingEventHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/ServerEventHandlerRegister.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/handler/ServerKafkaLoggingEventHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLQueryResult.scala
Due: kyuubi-spark-sql-engine

adapt spark authz module to 2.13
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleAuthorization.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/SparkSessionProvider.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/V2CommandsPrivilegesSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/V2JdbcTableCatalogPrivilegesBuilderSuite.scala
Due: none

Support to limit some user to make connection.
  docs/configuration/settings.md
Due: none

adapt spark ext plugin to Scala 2.13
  extensions/spark/kyuubi-extension-spark-3-4/pom.xml
  extensions/spark/kyuubi-extension-spark-3-4/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLAstBuilder.scala
  extensions/spark/kyuubi-extension-spark-3-4/src/test/scala/org/apache/spark/sql/WatchDogSuiteBase.scala
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLAstBuilder.scala
  extensions/spark/kyuubi-extension-spark-common/src/test/scala/org/apache/spark/sql/WatchDogSuiteBase.scala
Due: none

adapt spark hive connector plugin to Scala 2.13
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveTableCatalog.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HivePartitionReaderFactory.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/SparkFilePartitionReader.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/spark/sql/hive/kyuubi/connector/HiveBridgeHelper.scala
Due: none

defer toMap
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveTableCatalog.scala
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
