Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/SessionLimiter.scala
Due: none

Export JAVA_HOME. It seems TravisCI stopped doing it recently
  .travis.yml
Due: none

The correct path for the JDK 8 installation is /usr/lib/jvm/adoptopenjdk-8-hotspot-arm64
  .travis.yml
Due: none

[KYUUBI #2385] Export JAVA_HOME. It seems TravisCI stopped doing it recently
  .travis.yml
Due: none

[KYUUBI #2308][SUB-TASK][KPIP-4] Batch job configuration ignore list and server predefined configurations
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiBatchYarnClusterSuite.scala
Due: kyuubi-common

[KYUUBI #2361] [Improvement] Configuring Trino Engine heap memory and java opts
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/trino/TrinoProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/trino/TrinoProcessBuilderSuite.scala
Due: kyuubi-common

[KYUUBI #2338] [DOCS] Upgrade sphinx dependencies for documentation build
  docs/requirements.txt
Due: none

use yarn tags kill application
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: none

add application killed successfully test case
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderOnYarnSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: none

Unused import
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

resolve conflicts
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

Update SparkProcessBuilderOnYarnSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderOnYarnSuite.scala
Due: none

no need changes
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

Update SparkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

use eventually
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderOnYarnSuite.scala
Due: none

seperate event
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-events/pom.xml
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/EventBus.scala
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/EventLoggerType.scala
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/JsonProtocol.scala
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/KyuubiEvent.scala
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/handler/JsonLoggingEventHandler.scala
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/handler/package.scala
  kyuubi-events/src/test/scala/org/apache/kyuubi/events/EventBusSuite.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #2323] Separate events to a submodule - kyuubi-event
  externals/kyuubi-spark-sql-engine/pom.xml
Due: kyuubi-spark-sql-engine

[KYUUBI #2323] Separate events to a submodule - kyuubi-event
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSession.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-spark-sql-engine

fix privileges builder return wrong result when there is no project op
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

[KYUUBI #2323] Separate events to a submodule - kyuubi-event
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

[KYUUBI #2323] Separate events to a submodule - kyuubi-event
  kyuubi-events/pom.xml
Due: none

fix unit test
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/hive/HiveProcessBuilderSuite.scala
Due: none

[KYUUBI #2390] RuleEliminateMarker stays in analyze phase for data masking
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtension.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

[KYUUBI #2391] Fix privileges builder return wrong result when there is no project but has filter/join
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

[KYUUBI #2369] [Improvement] update developer.md to describe what append descriptions of new configurations to settings.md
  docs/develop_tools/developer.md
Due: none

[KYUUBI #2390] RuleEliminateMarker stays in analyze phase for data masking
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

Bump Delta Lake 1.2.0
  kyuubi-common/src/test/scala/org/apache/kyuubi/DeltaSuiteMixin.scala
  kyuubi-server/pom.xml
  pom.xml
Due: kyuubi-common

add shade and log4j to test/resources
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-events/src/test/resources/log4j2-test.properties
Due: kyuubi-spark-sql-engine

[DOC] Add Documentation for Spark AuthZ Extension
  docs/security/authorization/spark/index.rst
  docs/security/authorization/spark/install.md
  docs/security/authorization/spark/overview.md
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtension.scala
Due: none

[DOC] Add Documentation for Spark AuthZ Extension
  docs/security/authorization/spark/authorization.md
Due: none

[DOC] Add Documentation for Spark AuthZ Extension
  docs/security/authorization/index.rst
  docs/security/authorization/spark/authorization.md
  docs/security/authorization/spark/build.md
  docs/security/authorization/spark/index.rst
  docs/security/authorization/spark/install.md
  docs/security/authorization/spark/overview.md
Due: none

add unit tests
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/hive/HiveProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/hive/HiveProcessBuilderSuite.scala
Due: kyuubi-common

[KYUUBI #2360] [Subtask] Configuring Hive engine heap memory and java opts
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/hive/HiveProcessBuilderSuite.scala
Due: none

add doc
  docs/tools/index.rst
  docs/tools/kyuubi-ctl.md
Due: none

[KYUUBI #2308][SUB-TASK][KPIP-4] Batch job configuration ignore list and pre-defined configuration in server-side
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiBatchYarnClusterSuite.scala
Due: kyuubi-common

support --version
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
Due: none

add more cases in buildQuery method
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
Due: none

add more unit test for PrivilegesBuilder
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
