Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI-1816] Add the @KVIndex property to the event, which will be used for KvStore
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SessionEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SparkOperationEvent.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1610] Rest frontend service jetty server has started at null
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/JettyServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
Due: none

[KYUUBI-1816] Add SparkSQLEngineEventListener
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineEventListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
Due: kyuubi-spark-sql-engine

[KYUUBI-1816] Refactor EngineEventsStore to get Events through ElementTrackingStore.
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EngineEventsStore.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkContextHelper.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineEventListener.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EngineEventsStoreSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1778] Support Flink set operations
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/ExecuteStatement.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

[KYUUBI-1816] Add KyuubiHistoryServerPlugin
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EngineEventsStore.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkContextHelper.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineEventListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineSessionPage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineTab.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/KyuubiHistoryServerPlugin.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1821] Add trino ExecuteStatement
  externals/kyuubi-trino-engine/pom.xml
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoBackendService.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoSqlEngine.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/ExecuteStatement.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperation.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationManager.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/session/TrinoSessionImpl.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/session/TrinoSessionManager.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/WithTrinoEngine.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationSuite.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/session/SessionSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
Due: kyuubi-common

[KYUUBI #1778] Support Flink reset operations
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/kyuubi/engine/flink/result/OperationUtil.java
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/ExecuteStatement.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

[KYUUBI #1825] Generate appName for Flink applications
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkSQLEngine.scala
Due: none

save
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessor.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/PlainSASLHelper.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessorSuite.scala
Due: kyuubi-common

refactor
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/CipherModes.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessProvider.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessor.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/UserDefinedEngineSecureAccessProvider.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessorSuite.scala
Due: kyuubi-common

save
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/security/EngineSecureCryptoConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessor.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/UserDefinedEngineSecureAccessProvider.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessorSuite.scala
  pom.xml
Due: kyuubi-common

Keep compatible with log4j12
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender12.scala
Due: kyuubi-common

use orignal cipher
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/security/EngineSecureCryptoConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessor.scala
  pom.xml
Due: kyuubi-common

add more ut:
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/security/EngineSecureCryptoConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessSecretProvider.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessor.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/UserDefinedEngineSecureAccessSecretProvider.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessorSuite.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/service/authentication/ZooKeeperEngineSecureAccessSecretProviderImpl.scala
Due: kyuubi-common, kyuubi-ha

refactor
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessor.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureSecretProvider.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessorSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/UserDefinedEngineSecureSecretProvider.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/service/authentication/ZooKeeperEngineSecureSecretProviderImpl.scala
Due: kyuubi-common, kyuubi-ha

refactor
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessor.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/service/authentication/ZooKeeperEngineSecureSecretProviderImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationWithEngineSecure.scala
Due: kyuubi-common, kyuubi-ha

do not use main output dir
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/repl/KyuubiSparkILoop.scala
Due: kyuubi-spark-sql-engine

refactor
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/security/EngineSecureCryptoConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessor.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureSecretProvider.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessorSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationWithEngineSecure.scala
Due: kyuubi-common

fix conf
  docs/deployment/settings.md
Due: none

[RELEASE] Bump 1.4.1-incubating
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-extension-spark-3-2/pom.xml
  dev/kyuubi-extension-spark-common/pom.xml
  dev/kyuubi-tpcds/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kubernetes/integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

enhance prompt
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessor.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessorSuite.scala
Due: kyuubi-common

[BUILD] Bump 1.4.2-SNAPSHOT
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-extension-spark-3-2/pom.xml
  dev/kyuubi-extension-spark-common/pom.xml
  dev/kyuubi-tpcds/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kubernetes/integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

address comments
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender.scala
Due: kyuubi-common

address commments
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/Log4j12DivertAppender.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/Log4j2DivertAppender.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender.scala
Due: kyuubi-common

reformat
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessor.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
Due: kyuubi-common

place holder
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessor.scala
Due: kyuubi-common

refactor provider conf
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecureSecretProvider.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/EngineSecureAccessorSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationWithEngineSecure.scala
Due: kyuubi-common

[KYUUBI #1610] Rest frontend service jetty server has started at null
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/JettyServer.scala
Due: kyuubi-common

Update the docs for jdbc url
  docs/client/hive_jdbc.md
Due: none

refactor
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/repl/KyuubiSparkILoop.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1825] Add the default branch for pattern matching
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkSQLEngine.scala
Due: none

[KYUUBI #1825] Set app name only if absent
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkSQLEngine.scala
Due: none

[KYUUBI #1832] fixed: forcedMaxOutputRows extension for subquery
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/watchdog/ForcedMaxOutputRowsBase.scala
  dev/kyuubi-extension-spark-common/src/test/scala/org/apache/spark/sql/WatchDogSuiteBase.scala
Due: none

[KYUUBI #1825] Remove `null` execution target case branch
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkSQLEngine.scala
Due: none

[KYUUBI #1825] Return key-value properties in two separate columns
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/ExecuteStatement.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

fix time unit
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoConf.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoSqlEngine.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperation.scala
Due: none

[KYUUBI #1610] Rest frontend service jetty server has started at null
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/JettyServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
Due: kyuubi-common

[KYUUBI #1831] [DOCS] Fix the jdbc connection url format doc
  docs/client/hive_jdbc.md
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
