Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

update ha related configuration parameter from zk to zookeeper
  docs/deployment/high_availability_guide.md
Due: none

[KYUUBI #347] The 'lastIdleTime' needs to be updated after the last expired Handle has been cleaned
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/FrontendServiceSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/session/SessionManagerSuite.scala
Due: kyuubi-common

3.0.2
  bin/load-kyuubi-env.sh
  docs/tools/distribution.md
  pom.xml
Due: none

fix
  bin/load-kyuubi-env.sh
Due: none

[KYUUBI #356] Update built-in Spark version to 3.0.2
  bin/load-kyuubi-env.sh
  docs/tools/distribution.md
  pom.xml
Due: none

[KYUUBI #310] GetColumns supports DSv2 and keeps its backward compatibility
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetCatalogs.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetColumns.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetSchemas.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTableTypes.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTables.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v2_4.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v3_0.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/SparkCatalogShim.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/schema/SchemaHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicIcebergJDBCTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #356] Fix missing default versions
  bin/load-kyuubi-env.sh
Due: none

sql wildcards to java regex
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetColumns.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetFunctions.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetSchemas.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTables.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v2_4.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v3_0.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/SparkCatalogShim.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
Due: kyuubi-spark-sql-engine

sync
  bin/load-kyuubi-env.sh
Due: none

[KYUUBI #310] GetColumns supports DSv2 and keeps its backward compatibility
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetCatalogs.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetColumns.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetFunctions.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetSchemas.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTableTypes.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTables.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v2_4.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v3_0.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/SparkCatalogShim.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/schema/SchemaHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicIcebergJDBCTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #357] [Kyuubi-1.0] Update built-in Spark version to 3.0.2
  bin/load-kyuubi-env.sh
  docs/tools/distribution.md
  pom.xml
Due: none

Remove Hive Suffix for built in
  bin/load-kyuubi-env.sh
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: kyuubi-main

[KYUUBI #361] Remove Hive Suffix for built in
  bin/load-kyuubi-env.sh
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: kyuubi-main

[WIP]Travis
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetCatalogs.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
Due: kyuubi-main, kyuubi-spark-sql-engine

[WIP]Travis
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
Due: kyuubi-main, kyuubi-spark-sql-engine

[WIP]Travis
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
Due: kyuubi-main

[KYUUBI #363] exclude hive-shims unused dependencies
  pom.xml
Due: none

init
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common, kyuubi-main

[WIP]Travis
  kyuubi-ha/src/test/resources/log4j.properties
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
  pom.xml
Due: kyuubi-ha, kyuubi-main

[WIP]Travis
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: kyuubi-main

append
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-main

[KYUUBI #365] Support user specify app name and tag
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common, kyuubi-main

[WIP]Travis
  kyuubi-main/src/test/resources/log4j.properties
Due: kyuubi-main

[WIP]Spark3.1
  .travis.yml
Due: none

[WIP]Travis
  .github/workflows/master.yml
  .travis.yml
  pom.xml
Due: none

[WIP]Spark3.1
  externals/kyuubi-download/pom.xml
  pom.xml
Due: none

[WIP]Travis
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common, kyuubi-main

[WIP]Travis
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-ha, kyuubi-main

[WIP]Travis
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/datalake/IcebergOperationSuite.scala
Due: kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine

[WIP]Travis
  pom.xml
Due: none

Engine terminating checker should start after exposed
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

nit
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

address comment
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
Due: kyuubi-spark-sql-engine

fix test
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common

[KYUUBI #367] Engine terminating checker should start after exposed
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

Using a lightweight zk client for kyuubi session
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-main/src/test/resources/log4j.properties
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
  pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-main

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
