Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #692] Simplify construct of KyuubiException
  kyuubi-common/src/main/scala/org/apache/kyuubi/KyuubiException.scala
Due: kyuubi-common

[KYUUBI #689] Fix MetricsSystemSuite on JDK 11
  kyuubi-metrics/src/test/scala/org/apache/kyuubi/metrics/MetricsSystemSuite.scala
Due: none

Save hadoop conf to file instead of appending all conf to jdbc url
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/KyuubiHadoopUtils.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/MiniYarnService.scala
Due: kyuubi-common, kyuubi-main

use configuration.writeXml
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/MiniYarnService.scala
Due: kyuubi-main

refactor
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/MiniYarnService.scala
Due: kyuubi-main

fix
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/EngineProcess.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: kyuubi-main

fix
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/EngineProcess.scala
Due: kyuubi-main

address comments
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/MiniYarnService.scala
Due: kyuubi-main

nit
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/EngineProcess.scala
Due: kyuubi-main

[KYUUBI #696] Save Hadoop conf file instead of appending all of them to connection url
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/KyuubiHadoopUtils.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/MiniYarnService.scala
Due: kyuubi-common, kyuubi-main

desc
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/DataGenerator.scala
Due: none

*
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/DataGenerator.scala
Due: none

[KYUUBI #700] Add class description for DataGenerator
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/DataGenerator.scala
Due: none

docs
  docs/sql/index.rst
  docs/sql/rules.md
Due: none

docs
  docs/sql/index.rst
Due: none

nit
  docs/sql/rules.md
Due: none

[KYUUBI #699][DOCS] Add document for kyuubi-extension-spark_3.1 module
  docs/sql/index.rst
  docs/sql/rules.md
Due: none

[KYUUBI #620] [TEST] Close Source to avoid file leak
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
Due: kyuubi-common

[KYUUBI #627] Support multiple engines for non-connection share levels
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/session/SessionSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/EngineName.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/SQLEngineAppName.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServer.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/EngineNameSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/SQLEngineAppNameSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/spark/InitializeSQLSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationManagerSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerServerSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/datalake/DeltaOperationSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/datalake/IcebergOperationSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/tpcds/TPCDSDDLSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/tpcds/TPCDSOutputSchemaSuite.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine

[KYUUBI #625]Kyuubi server-side support 'operation.idle. timeout'
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/session/SessionManagerSuite.scala
Due: kyuubi-common

[KYUUBI #623] Improve OperationLog to deliver detail stats of sql statements
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SQLOperationListenerSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #628] solve the folder naming problem
  build/dist
Due: none

[KYUUBI #624] Add lock while creating engine with non-CONNECTION mode
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/SQLEngineAppName.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-ha, kyuubi-main

[KYUUBI #619] [TEST] Refactor data lake test suite hierarchical
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkIcebergOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/DataLakeSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/DeltaSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/IcebergSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicDeltaJDBCTests.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicIcebergJDBCTests.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/datalake/DeltaOperationSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/datalake/IcebergOperationSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/tpcds/TPCDSHelper.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

[KYUUBI #622] [NOTICE] Add NOTICE
  NOTICE
Due: none

[KYUUBI #630] [METRICS] Support expose Prometheus metrics
  LICENSE-binary
  dev/dependencyList
  docs/deployment/settings.md
  docs/monitor/metrics.md
  kyuubi-metrics/pom.xml
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConf.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsSystem.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/PrometheusReporterService.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/ReporterType.scala
  kyuubi-metrics/src/test/scala/org/apache/kyuubi/metrics/MetricsSystemSuite.scala
  licenses-binary/LICENSE-jakarta-servlet-api.txt
  pom.xml
Due: none

Prepare Kyuubi v1.3.0
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-tpcds/pom.xml
  docs/conf.py
  externals/kyuubi-download/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-main/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #633] [FOLLOWUP #631] [BUILD] Fix kyuubi-extension-spark_3.1 module version
  dev/kyuubi-extension-spark_3.1/pom.xml
Due: none

[KYUUBI #632] solve the timeout problem when stop the kyuubiServer
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
Due: kyuubi-common, kyuubi-main

[KYUUBI #629] Refine distributed lock to lock only engine bootstrap
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/EngineName.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/EngineNameSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
Due: kyuubi-ha, kyuubi-main

[KYUUBI #631] Add kyuubi-spark-extensions module
  .github/workflows/master.yml
  dev/kyuubi-extension-spark_3.1/pom.xml
  dev/kyuubi-extension-spark_3.1/src/main/scala/org/apache/kyuubi/sql/KyuubiAnalysis.scala
  dev/kyuubi-extension-spark_3.1/src/main/scala/org/apache/kyuubi/sql/KyuubiEnsureRequirements.scala
  dev/kyuubi-extension-spark_3.1/src/main/scala/org/apache/kyuubi/sql/KyuubiQueryStagePreparation.scala
  dev/kyuubi-extension-spark_3.1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  dev/kyuubi-extension-spark_3.1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark_3.1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
  kyuubi-assembly/pom.xml
  pom.xml
Due: none

[KYUUBI #634] Move kyuubi extension to its own dir when building
  build/dist
  kyuubi-assembly/pom.xml
Due: none

[KYUUBI #636] Add kyuubi-extension-spark_3.1 in release script
  .github/workflows/release.yml
Due: none

[KYUUBI #637] [METRICS] Remove unnecessary Guava Cache
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsSystem.scala
  kyuubi-metrics/src/test/scala/org/apache/kyuubi/metrics/MetricsSystemSuite.scala
Due: kyuubi-main

[KYUUBI #635] Fix stage level config miss ReusedExchange
  dev/kyuubi-extension-spark_3.1/src/main/scala/org/apache/kyuubi/sql/KyuubiQueryStagePreparation.scala
  dev/kyuubi-extension-spark_3.1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

[KYUUBI #638] Refine kyuubi extension config docs
  dev/kyuubi-extension-spark_3.1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
Due: none

[KYUUBI #645] [BUILD] [FOLLOWUP #631] Fix CI profile kyuubi-extension-spark_3.1
  .github/workflows/master.yml
  .travis.yml
  dev/kyuubi-extension-spark_3.1/src/test/resources/log4j.properties
Due: none

[KYUUBI #648] [FOLLOWUP #647] Fix flaky test
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: kyuubi-main

[KYUUBI #644] [DOCS] Migrate to travis.com
  README.md
Due: none
