Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

Codecov for flink/trino/beeline/jdbc modules
  dev/kyuubi-codecov/pom.xml
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSQLSessionManager.scala
Due: aggregate

[KYUUBI #1886] Add GetSchemas for trino engine
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/GetSchemas.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationManager.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationSuite.scala
Due: none

add comment
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
Due: kyuubi-common

addressed comment
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
Due: kyuubi-common

[KYUUBI #1908] Codecov for flink/trino/beeline/jdbc modules
  dev/kyuubi-codecov/pom.xml
Due: aggregate

lower case
  kyuubi-common/src/main/resources/log4j2-defaults.properties
Due: kyuubi-common

[KYUUBI #1905] log4j2-defaults.properties is not working since log4j 2 is always intialized by default
  kyuubi-common/src/main/resources/log4j2-defaults.properties
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
Due: kyuubi-common

fix
  README.md
Due: none

Add session conf advisor
  kyuubi-plugin/pom.xml
  kyuubi-plugin/src/main/java/org/apache/kyuubi/plugin/DefaultSessionConfAdvisor.java
  kyuubi-plugin/src/main/java/org/apache/kyuubi/plugin/SessionConfAdvisor.java
Due: none

style
  .github/workflows/style.yml
Due: none

Add session conf advisor
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/PluginLoader.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/PluginLoaderSuite.scala
  pom.xml
Due: kyuubi-common

fix
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/PluginLoader.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: kyuubi-common

fix
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: none

address comment
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server-plugin/pom.xml
  kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/DefaultSessionConfAdvisor.java
  kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/SessionConfAdvisor.java
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/PluginLoader.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  pom.xml
Due: kyuubi-common

fix test
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: none

address comment
  .github/workflows/style.yml
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/SessionConfAdvisor.java
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/PluginLoader.scala
Due: kyuubi-common

comment
  .github/workflows/style.yml
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

codecov
  dev/kyuubi-codecov/pom.xml
Due: aggregate

[KYUUBI #1909] [DOCS] Remove unnecessary docs link in readme
  README.md
Due: none

[KYUUBI #1887] Add GetTables for trino engine
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/GetTables.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationManager.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationSuite.scala
Due: none

Remove staging repo
  pom.xml
Due: none

[KYUUBI #1899] Bump Iceberg 0.13.1
  kyuubi-common/src/test/scala/org/apache/kyuubi/IcebergSuiteMixin.scala
  pom.xml
Due: kyuubi-common

[KYUUBI #1536] Add session conf advisor
  .github/workflows/style.yml
  dev/kyuubi-codecov/pom.xml
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server-plugin/pom.xml
  kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/DefaultSessionConfAdvisor.java
  kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/SessionConfAdvisor.java
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/PluginLoader.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/PluginLoaderSuite.scala
  pom.xml
Due: kyuubi-common, aggregate

[KYUUBI #1876] Set Spark 3.2.1 as default
  bin/docker-image-tool.sh
  build/release/create-package.sh
  docs/community/release.md
  docs/deployment/kyuubi_on_kubernetes.md
  pom.xml
Due: none

[KYUUBI #1911] Add GetTypeInfo for trino engine
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/GetTypeInfo.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationManager.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationSuite.scala
Due: none

update metric doc
  docs/monitor/metrics.md
Due: none

[KYUUBI #1867] Support PlanOnlyStatement operation like Spark SQL engine
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/ExecuteStatement.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/PlanOnlyStatement.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/result/ResultSetUtil.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/PlanOnlyOperationSuite.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/PlanOnlyOperationSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1867] Bugfix FlinkSQLSessionManager should open Flink session
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSQLSessionManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSessionImpl.scala
Due: none

[KYUUBI #1867] Support `PlanOnlyStatement` operation like Spark SQL engine
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/ExecuteStatement.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/PlanOnlyStatement.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/result/ResultSetUtil.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSQLSessionManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSessionImpl.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/PlanOnlyOperationSuite.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/PlanOnlyOperationSuite.scala
Due: kyuubi-spark-sql-engine

Build and test on Linux ARM64
  .travis.yml
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
