Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

fix comments
  kyuubi-server/src/main/resources/sql/mysql/005-KYUUBI-5327.mysql.sql
  kyuubi-server/src/main/resources/sql/mysql/metadata-store-schema-1.8.0.mysql.sql
Due: none

fix comments
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/GlutenPlanManager.scala
Due: none

fix comments
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/GlutenPlanManager.scala
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
Due: none

mark as experimental
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/GlutenPlanManager.scala
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
Due: none

[JDBC] Adaptive call fetchLaunchEngineResult
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
Due: kyuubi-common

[KYUUBI #5333][JDBC] Adaptive call fetchLaunchEngineResult
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
Due: kyuubi-common

fix_4186
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkConsoleProgressBar.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/StageStatus.scala
Due: kyuubi-spark-sql-engine

Set markdown file EOL
  .gitattributes
Due: none

Revert "fix_4186"
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkConsoleProgressBar.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/StageStatus.scala
Due: kyuubi-spark-sql-engine

Added Custom Audit Handler for Spark
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/SparkRangerAuditHandler.scala
Due: none

fix
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/IndividualSparkSuite.scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #5335] Set markdown file EOL
  .gitattributes
Due: none

AdminResourceSuite make engine idle time 3min
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
Due: none

Add label hacktoberfest to project
  .asf.yaml
Due: none

[KYUUBI #5342] Add label hacktoberfest to project
  .asf.yaml
Due: none

[KYUUBI #5339] [MINOR] Avoid using `kyuubi.session.engine.initialize.timeout` string
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/IndividualSparkSuite.scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
Due: kyuubi-spark-sql-engine

change default metrics reporter to prometheus
  docs/configuration/settings.md
  docs/deployment/migration-guide.md
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConf.scala
Due: none

[KYUUBI #5340] AdminResourceSuite make engine idle time 3min
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
Due: none

restore version number for kyuubi.metrics.reporters in doc
  docs/configuration/settings.md
Due: none

set METRICS_PROMETHEUS_PORT to 0 for test cases
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: none

[DOCS] Fix non-kerberized code description in quick_start_with_jdbc
  docs/quick_start/quick_start_with_jdbc.md
Due: none

[KYUUBI #5345] [DOCS] Fix non-kerberized code description in quick_start_with_jdbc
  docs/quick_start/quick_start_with_jdbc.md
Due: none

[DOCS] Fix java code errors in quick_start_with_jdbc
  docs/quick_start/quick_start_with_jdbc.md
Due: none

[KYUUBI #5347] [DOCS] Fix java code errors in quick_start_with_jdbc
  docs/quick_start/quick_start_with_jdbc.md
Due: none

fix comments
  kyuubi-server/src/main/resources/sql/derby/005-KYUUBI-5327.derby.sql
  kyuubi-server/src/main/resources/sql/derby/metadata-store-schema-1.8.0.derby.sql
  kyuubi-server/src/main/resources/sql/mysql/005-KYUUBI-5327.mysql.sql
  kyuubi-server/src/main/resources/sql/mysql/metadata-store-schema-1.8.0.mysql.sql
  kyuubi-server/src/main/resources/sql/sqlite/metadata-store-schema-1.8.0.sqlite.sql
Due: none

add expression test
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/GlutenPlanManager.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/test/scala/org/apache/kyuubi/sql/GlutenPlanManagerSuite.scala
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
