Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #2084][FOLLOWUP] Support arbitrary parameters for KyuubiConf
  kyuubi-common/src/test/resources/kyuubi-defaults.conf
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
Due: kyuubi-common

[KYUUBI #2084][FOLLOWUP] Support arbitrary parameters for KyuubiConf
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

[KYUUBI #2084][FOLLOWUP] Support arbitrary parameters for KyuubiConf
  docs/deployment/settings.md
Due: none

fix flink
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkSQLEngine.scala
Due: none

[KYUUBI #2084][FOLLOWUP] Support arbitrary parameters for KyuubiConf
  docs/deployment/settings.md
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/resources/kyuubi-defaults.conf
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
Due: kyuubi-common

unify
  extensions/spark/kyuubi-extension-spark-3-1/dependency-reduced-pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/dependency-reduced-pom.xml
Due: none

fix
  extensions/spark/kyuubi-extension-spark-3-1/dependency-reduced-pom.xml
  extensions/spark/kyuubi-extension-spark-3-1/pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/dependency-reduced-pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/pom.xml
  extensions/spark/kyuubi-extension-spark-common/pom.xml
Due: none

unify
  .github/labeler.yml
  .travis.yml
  extensions/README.md
  extensions/kyuubi-server/kyuubi-server-plugin/pom.xml
  extensions/kyuubi-server/kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/DefaultSessionConfAdvisor.java
  extensions/kyuubi-server/kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/SessionConfAdvisor.java
  pom.xml
Due: none

fix
  extensions/kyuubi-server/kyuubi-server-plugin/pom.xml
Due: none

[KYUUBI #2250] add method to shutdown threadpool executor in ThreadUtils
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ThreadUtils.scala
Due: kyuubi-common

ordering
  pom.xml
Due: none

[KYUUBI #2292] Unify kyuubi server plugin location
  .github/labeler.yml
  .travis.yml
  extensions/README.md
  extensions/kyuubi-server/kyuubi-server-plugin/pom.xml
  extensions/kyuubi-server/kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/DefaultSessionConfAdvisor.java
  extensions/kyuubi-server/kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/SessionConfAdvisor.java
  pom.xml
Due: none

fix
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/OperationLog.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
Due: kyuubi-common

fix
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/log/OperationLogSuite.scala
Due: kyuubi-common

[test] add clientInfo test case
  externals/kyuubi-hive-sql-engine/src/test/scala/org/apache/kyuubi/engine/hive/operation/HiveOperationSuite.scala
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
Due: none

add conf
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server-plugin/src/main/scala/org/apache/kyuubi/plugin/tag/TagConfAdvisor.scala
  kyuubi-server-plugin/src/test/scala/org/apache/kyuubi/plugin/tag/FileTagConfAdvisorSuite.scala
Due: kyuubi-common

merge
  extensions/kyuubi-server/kyuubi-server-plugin/src/main/scala/org/apache/kyuubi/plugin/tag/TagConfAdvisor.scala
  extensions/kyuubi-server/kyuubi-server-plugin/src/main/scala/org/apache/kyuubi/plugin/tag/TagConfProvider.scala
  extensions/kyuubi-server/kyuubi-server-plugin/src/main/scala/org/apache/kyuubi/plugin/tag/Tags.scala
  extensions/kyuubi-server/kyuubi-server-plugin/src/main/scala/org/apache/kyuubi/plugin/tag/file/FileTagConfAdvisor.scala
  extensions/kyuubi-server/kyuubi-server-plugin/src/main/scala/org/apache/kyuubi/plugin/tag/file/FileTagConfProvider.scala
  extensions/kyuubi-server/kyuubi-server-plugin/src/test/resources/kyuubi-tags.conf
  extensions/kyuubi-server/kyuubi-server-plugin/src/test/scala/org/apache/kyuubi/plugin/tag/FileTagConfAdvisorSuite.scala
Due: none

fix
  extensions/kyuubi-server/kyuubi-server-plugin/src/test/resources/kyuubi-tags.conf
Due: none

Add ugi assuming http handler wrapper for kerberos enabeld restful front
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/AbstractFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/KyuubiHttpAuthenticationFactory.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/ui/JettyServer.scala
Due: kyuubi-common

revert KyuubiAuthenticationFactory change
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/AbstractFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/ui/JettyServer.scala
Due: kyuubi-common

[test] fix test case failure
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkMetadataTests.scala
Due: kyuubi-common

remove blank
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/KyuubiHttpAuthenticationFactory.scala
Due: none

fix
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithSimpleDFSService.scala
Due: none

verify proxy user for rest open session
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: none

[KYUUBI-2299] Fix flaky test
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: none

[KYUUBI #2299] Fix flaky test: support engine alive probe to fast fail on engine broken
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: none

[KYUUBI #2250] limit the spark engine max running time
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #2250] Support to limit the spark engine max running time
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/ShareLevelSparkEngineSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ThreadUtils.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

fix unused import
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
Due: none

[KYUUBI #2296] Fix operation log file handler leak
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/OperationLog.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/log/OperationLogSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
Due: kyuubi-common

fix
  extensions/spark/kyuubi-spark-authz/pom.xml
Due: none

ordering
  extensions/spark/kyuubi-spark-authz/pom.xml
Due: none

refine github label
  .github/labeler.yml
Due: none

Spark data type TimestampNTZ supported version changes as 3.4.0
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/SchemaHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #2312] Spark data type TimestampNTZ supported version changes as 3.4.0
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/SchemaHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[DOCS] Change "Imporving the documentation" to "Improving the documentation"
  .github/ISSUE_TEMPLATE/doc-improvement-report.yml
Due: none

[KYUUBI #2310] Make ranger extension work with mac m1
  extensions/spark/kyuubi-spark-authz/pom.xml
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
