Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

info openSession count before engine shutdown because life time too long
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #3744][Bug] InvalidACL appears in engine after upgrade to Kyuubi 1.6.0
  docs/deployment/migration-guide.md
Due: none

[KYUUBI #3766] Support real user for KyuubiSession
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTHttpFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLCommandHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSession.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/RestClientTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerGroupSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiRestAuthenticationSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: kyuubi-common

[KYUUBI #3772] Switch default catalog to tpcds in playground
  docker/playground/image/load-dataset-tpcds-tiny.sql
  docker/playground/image/load-dataset-tpch-tiny.sql
  docker/playground/image/spark-defaults.conf
Due: none

[KYUUBI #3774] Output OpenSessionCount when Engine is waiting for exit because it reaches the Max lifetime
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

Paving for further PySpark support in Beeline
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
Due: none

[KYUUBI #3775] Paving for further PySpark support in Beeline
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
Due: none

PySpark support
  externals/kyuubi-spark-sql-engine/src/main/resources/python/execute_python.py
  externals/kyuubi-spark-sql-engine/src/main/resources/python/kyuubi_util.py
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/api/python/KyuubiPythonGatewayServer.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

[GA] setup python
  .github/workflows/master.yml
Due: none

pythonExec
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
Due: kyuubi-spark-sql-engine

pass SPARK_HOME environment variable.
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
Due: kyuubi-spark-sql-engine

remove findspark dependency
  externals/kyuubi-spark-sql-engine/src/main/resources/python/execute_python.py
Due: kyuubi-spark-sql-engine

add ut
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
Due: kyuubi-spark-sql-engine

license
  externals/kyuubi-spark-sql-engine/src/main/resources/python/execute_python.py
  externals/kyuubi-spark-sql-engine/src/main/resources/python/kyuubi_util.py
Due: kyuubi-spark-sql-engine

address comment
  externals/kyuubi-spark-sql-engine/src/main/resources/python/kyuubi_util.py
Due: kyuubi-spark-sql-engine

get conn_info_file from env
  externals/kyuubi-spark-sql-engine/src/main/resources/python/kyuubi_util.py
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/api/python/KyuubiPythonGatewayServer.scala
Due: kyuubi-spark-sql-engine

fix ga
  externals/kyuubi-spark-sql-engine/src/main/resources/python/execute_python.py
Due: kyuubi-spark-sql-engine

revert kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
Due: none

fix style
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/api/python/KyuubiPythonGatewayServer.scala
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
Due: kyuubi-spark-sql-engine

resolve conflict
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
Due: none

[KYUUBI #3744][Bug] InvalidACL appears in engine after upgrade to Kyuubi 1.6.0
  docs/deployment/migration-guide.md
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: kyuubi-ha

[KYUUBI #3744][Bug] InvalidACL appears in engine after upgrade to Kyuubi 1.6.0
  docs/deployment/index.rst
  docs/deployment/migration-guide.md
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: kyuubi-ha

[RELEASE] Bump 1.6.1-incubating
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-tpcds/pom.xml
  extensions/server/kyuubi-server-plugin/pom.xml
  extensions/spark/kyuubi-extension-spark-3-1/pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/pom.xml
  extensions/spark/kyuubi-extension-spark-3-3/pom.xml
  extensions/spark/kyuubi-extension-spark-common/pom.xml
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-connector-common/pom.xml
  extensions/spark/kyuubi-spark-connector-kudu/pom.xml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-jdbc-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-trino-engine/pom.xml
  integration-tests/kyuubi-flink-it/pom.xml
  integration-tests/kyuubi-hive-it/pom.xml
  integration-tests/kyuubi-jdbc-it/pom.xml
  integration-tests/kyuubi-kubernetes-it/pom.xml
  integration-tests/kyuubi-trino-it/pom.xml
  integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-events/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-rest-client/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

Add v1.6.1-incubating changelog
  docs/changelog/v1.6.1-incubating.md
Due: none

Bump 1.6.2-SNAPSHOT
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-tpcds/pom.xml
  extensions/server/kyuubi-server-plugin/pom.xml
  extensions/spark/kyuubi-extension-spark-3-1/pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/pom.xml
  extensions/spark/kyuubi-extension-spark-3-3/pom.xml
  extensions/spark/kyuubi-extension-spark-common/pom.xml
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-connector-common/pom.xml
  extensions/spark/kyuubi-spark-connector-kudu/pom.xml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-jdbc-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-trino-engine/pom.xml
  integration-tests/kyuubi-flink-it/pom.xml
  integration-tests/kyuubi-hive-it/pom.xml
  integration-tests/kyuubi-jdbc-it/pom.xml
  integration-tests/kyuubi-kubernetes-it/pom.xml
  integration-tests/kyuubi-trino-it/pom.xml
  integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-events/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-rest-client/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

address comment
  externals/kyuubi-spark-sql-engine/src/main/resources/python/execute_python.py
  externals/kyuubi-spark-sql-engine/src/main/resources/python/kyuubi_util.py
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
Due: kyuubi-spark-sql-engine

fix style
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
Due: kyuubi-spark-sql-engine

address comment
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
Due: kyuubi-spark-sql-engine

multi-line
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/PySparkTests.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
Due: kyuubi-spark-sql-engine

Fix ssl port binded
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
Due: kyuubi-common

double check
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
Due: kyuubi-spark-sql-engine

init commit
  extensions/spark/kyuubi-extension-spark-3-2/src/main/scala/org/apache/kyuubi/sql/AddRepeatJarCloseSession.scala
  extensions/spark/kyuubi-extension-spark-3-2/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
Due: none

Fix descriptions of action
  docs/client/rest/rest_api.md
Due: none

[KYUUBI #3039][DOCS] Add operation resource REST docs
  docs/client/rest/rest_api.md
Due: none

Fix descriptions
  docs/client/rest/rest_api.md
Due: none

[DOCS] Remove unused stale imagine from documentation
  docker/helm/Chart.yaml
  docs/conf.py
  docs/develop_tools/index.rst
  docs/imgs/authorization.png
  docs/imgs/ha_failover.png
  docs/imgs/impersonation.png
  docs/imgs/kyuubi.png
  docs/imgs/kyuubi_architecture.png
  docs/imgs/kyuubi_internal.png
  docs/imgs/kyuubi_logo_legacy.png
  docs/imgs/kyuubi_logo_white_legacy.png
  docs/imgs/logo.png
  docs/imgs/logo_gray_short.png
  docs/imgs/logo_red_short.png
  docs/imgs/logo_white_short.png
  docs/tools/index.rst
Due: none
