Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

format changes
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
  kyuubi-monitor/pom.xml
Due: kyuubi-spark-sql-engine

[KYUUBI #732] Fix always print the name of abstract ServiceDiscovery class
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/KyuubiServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

remove redundant constructor
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

add kyuubi-monitor module for TPC-DS Tests
  .github/workflows/master.yml
  kyuubi-monitor/pom.xml
Due: none

fix
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
Due: kyuubi-spark-sql-engine

BugFix: resolve the problem that can't get jobEnd's metrics from SQLOperationListener
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
Due: kyuubi-spark-sql-engine

add kyuubi-monitor module
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-monitor/README.md
  kyuubi-monitor/pom.xml
  pom.xml
Due: kyuubi-spark-sql-engine

remove dependency
  externals/kyuubi-spark-sql-engine/pom.xml
Due: kyuubi-spark-sql-engine

Update README.md
  kyuubi-monitor/README.md
Due: none

[KYUUBI #735] Shutdown timeout cleaner as far as possible
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
Due: kyuubi-spark-sql-engine

minor typo in kudu.md
  docs/integrations/kudu.md
Due: none

[KYUUBI #740] minor typo in kudu.md
  docs/integrations/kudu.md
Due: none

Update pom.xml
  kyuubi-monitor/pom.xml
Due: none

refine test suites
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationHiveCatalogSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationYarnClusterSuite.scala
Due: kyuubi-main

change module name
  kyuubi-monitor/pom.xml
  pom.xml
Due: none

code style
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/tpcds/OutputSchemaTPCDSSuite.scala
Due: kyuubi-common, kyuubi-main

change module name
  kyuubi-spark-monitor/README.md
  kyuubi-spark-monitor/pom.xml
  pom.xml
Due: none

change module's location
  externals/kyuubi-spark-monitor/README.md
  externals/kyuubi-spark-monitor/pom.xml
  pom.xml
Due: none

add module for tpc tests
  .github/workflows/master.yml
Due: none

[KYUUBI #741] [TEST] Refine test suites
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationHiveCatalogSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationYarnClusterSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/tpcds/OutputSchemaTPCDSSuite.scala
Due: kyuubi-common, kyuubi-main

Update pom.xml
  pom.xml
Due: none

[KYUUBI #737] add monitor module
  externals/kyuubi-spark-monitor/README.md
  externals/kyuubi-spark-monitor/pom.xml
  pom.xml
Due: none

[BUILD] Enhance build/mvn in CI mode
  .github/workflows/master.yml
  .github/workflows/nightly.yml
  .travis.yml
  build/mvn
Due: none

MAVEN_CLI_OPTS
  build/mvn
Due: none

fix syntax
  build/mvn
Due: none

--no-transfer-progress
  build/mvn
Due: none

fix using the ThreadAudit in the KyuubiFunSuite
  kyuubi-common/src/test/scala/org/apache/kyuubi/KyuubiFunSuite.scala
Due: kyuubi-common

[KYUUBI #743] fix using the ThreadAudit in the KyuubiFunSuite
  kyuubi-common/src/test/scala/org/apache/kyuubi/KyuubiFunSuite.scala
Due: kyuubi-common

update log info to keep the consistent code style
  kyuubi-common/src/test/scala/org/apache/kyuubi/ThreadAudit.scala
Due: kyuubi-common

update log 'Closing ...' to corrent position and add 'Closed...'
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
Due: kyuubi-common

[KYUUBI #744] Log update
  kyuubi-common/src/test/scala/org/apache/kyuubi/ThreadAudit.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
Due: kyuubi-common

[KYUUBI #742] [BUILD] Enhance build/mvn in CI mode
  .github/workflows/master.yml
  .github/workflows/nightly.yml
  .travis.yml
  build/mvn
Due: none

Add dependency jaxb-api
  dev/kyuubi-extension-spark_3.1/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  pom.xml
Due: kyuubi-spark-sql-engine

enlarge ENGINE_INIT_TIMEOUT
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServer.scala
Due: kyuubi-main

minicluster
  kyuubi-main/pom.xml
  pom.xml
Due: kyuubi-main

GA matrix
  .github/workflows/master.yml
Due: none

license for jaxb
  LICENSE-binary
  dev/dependencyList
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-common/pom.xml
  licenses-binary/LICENSE-jaxb.txt
Due: kyuubi-common, kyuubi-spark-sql-engine

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
