Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

apply `--no-snapshot-updates` option in build_classpath
  build/dependency.sh
Due: none

[KYUUBI #4191] [Improvement] Skip fetching Maven dependency snapshot update when building `dependencyList`
  build/dependency.sh
Due: none

LDAP test password uses alphanumeric
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/WithLdapServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationKerberosAndPlainAuthSuite.scala
Due: kyuubi-common

nit
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

nit
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/ChainFilterFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/UserFilterFactory.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/ldap/ChainFilterSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/ldap/UserFilterSuite.scala
Due: kyuubi-common

nit
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
Due: kyuubi-common

nit
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/FilterFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/QueryFactory.scala
Due: kyuubi-common

nit
  docs/deployment/settings.md
Due: none

show line number and content of expected and got when verifying markdown files
  kyuubi-common/src/test/scala/org/apache/kyuubi/TestUtils.scala
Due: kyuubi-common

updated hints of markdown generation for AllKyuubiConfiguration and KyuubiDefinedFunctionSuite
  docs/deployment/settings.md
  docs/develop_tools/developer.md
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/udf/KyuubiDefinedFunctionSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
Due: kyuubi-spark-sql-engine

update hints
  docs/develop_tools/developer.md
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/udf/KyuubiDefinedFunctionSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/TestUtils.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

style
  kyuubi-common/src/test/scala/org/apache/kyuubi/TestUtils.scala
Due: kyuubi-common

Using DB and table name when checking Delta table schema.
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v2_4.scala
Due: kyuubi-spark-sql-engine

exclude indirect dependency `error_prone_annotations` from `grpc-grpclb`
  kyuubi-ha/pom.xml
Due: kyuubi-ha

save
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
Due: none

histo
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsSystem.scala
Due: none

ut
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

docs
  docs/monitor/metrics.md
Due: none

reformat
  docs/monitor/metrics.md
Due: none

operation.exec_time
  docs/monitor/metrics.md
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
Due: none

reforamt
  docs/monitor/metrics.md
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsSystem.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

scale out
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
Due: none

Remove useless build-arg CLICKHOUSE_JDBC_VERSION
  docker/playground/build-image.sh
Due: none

remove min > 0, incase it is 0
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

[KYUUBI #4212] Show line number and assertion when verifying generated markdown files in lines
  docs/develop_tools/developer.md
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/udf/KyuubiDefinedFunctionSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/TestUtils.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

Refactor docker-image-tool.sh
  bin/docker-image-tool.sh
Due: none

[KYUUBI #4214] Trace ExecuteStatement operation exec time histogram
  docs/monitor/metrics.md
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsSystem.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

Copy download spark binary
  bin/docker-image-tool.sh
Due: none

client for creating batch with uploading resource file
  kyuubi-rest-client/pom.xml
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/BatchRestApi.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/IRestClient.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/RestClient.java
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
  pom.xml
Due: none

update dependencyList
  dev/dependencyList
Due: none

style
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/RestClient.java
Due: none

nit
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/BatchRestApi.java
Due: none

fix content type
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/RestClient.java
Due: none

Enlarge REST client default timeout
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/KyuubiRestClient.java
Due: none

[KYUUBI #4215] Remove useless build-arg CLICKHOUSE_JDBC_VERSION
  docker/playground/build-image.sh
Due: none

nit
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/KyuubiRestClient.java
Due: none

doc for the `fast` maven profile
  docs/develop_tools/building.md
Due: none

nit
  docs/develop_tools/building.md
Due: none
