Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #4239] Remove duplicate buildConf methods and use `KyuubiConf.buildConf` directly
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CtlConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStoreConf.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
Due: kyuubi-ha

dpcs
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

Improvement in auto-generated Markdown docs with MarkdownBuilder
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/udf/KyuubiDefinedFunctionSuite.scala
  kyuubi-common/src/test/resources/licence.md
  kyuubi-common/src/test/scala/org/apache/kyuubi/MarkdownUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/TestUtils.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

add MarkdownBuilder.apply
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/udf/KyuubiDefinedFunctionSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/MarkdownUtils.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

remove licence.md
  kyuubi-common/src/test/resources/licence.md
  kyuubi-common/src/test/scala/org/apache/kyuubi/MarkdownUtils.scala
Due: kyuubi-common

[KYUUBI #4245] [SPARK] Support UserDefinedType of spark since Spark3.2.0
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/SchemaHelper.scala
Due: kyuubi-spark-sql-engine

change logging level from `warn` to `debug` in multi extractor rule in Authz serde
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/serde/CommandSpec.scala
Due: none

Revert "Using DB and table name when checking Delta table schema."
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v2_4.scala
Due: kyuubi-spark-sql-engine

Revert "[KYUUBI #1458] Delta lake table columns won't show up in DBeaver."
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v2_4.scala
Due: kyuubi-spark-sql-engine

Reversing match order in getColumnsByCatalog.
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v3_0.scala
Due: kyuubi-spark-sql-engine

make buffer private in MarkdownBuilder
  kyuubi-common/src/test/scala/org/apache/kyuubi/MarkdownUtils.scala
Due: kyuubi-common

bump
  dev/dependencyList
  integration-tests/kyuubi-kubernetes-it/pom.xml
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/MiniKube.scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/WithKyuubiServerOnKubernetes.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/util/KubernetesUtils.scala
  pom.xml
Due: none

remove useless dependence
  integration-tests/kyuubi-kubernetes-it/pom.xml
Due: none

debug ci dep
  .github/workflows/dep.yml
  dev/dependencyList
Due: none

modify comment
  pom.xml
Due: none

fix
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
Due: none

add ci
  .github/workflows/master.yml
Due: none

fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
Due: none

fix dependency list
  dev/dependencyList
Due: none

test
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
Due: none

test
  .github/workflows/master.yml
Due: none

fix
  dev/dependencyList
Due: none

[Bump] Maven Version for build/mvn
  pom.xml
Due: none

[KYUUBI #4247] Bump maven from 3.8.6 to 3.6.7
  pom.xml
Due: none

[KYUUBI #4147] [K8S][HELM] Add configuration support for multiple frontends to helm chart
  charts/kyuubi/templates/NOTES.txt
  charts/kyuubi/templates/_helpers.tpl
  charts/kyuubi/templates/kyuubi-configmap.yaml
  charts/kyuubi/templates/kyuubi-deployment.yaml
  charts/kyuubi/templates/kyuubi-service.yaml
  charts/kyuubi/values.yaml
Due: none

[KYUUBI #4218] Using DB and table name when checking Delta table schema.
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v2_4.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v3_0.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #4234] Keep the same version for Integration Test on Kubernetes
  .github/workflows/master.yml
Due: none

bump the minikube version to 1.29.0 and the kubernetes version to 1.26.1
  .github/workflows/master.yml
Due: none

[KYUUBI #4241] Only force close engine ref when open session failed
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

[KYUUBI #4244] Improvement in auto-generated Markdown docs with MarkdownBuilder
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/udf/KyuubiDefinedFunctionSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/MarkdownUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/TestUtils.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #4209] [Authz] Set logging level to DEBUG in PrivilegesBuilder for multiple specs
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/serde/CommandSpec.scala
Due: none

save
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
Due: none

save
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStoreSuite.scala
Due: none

[KYUUBI #3934] Format and add test case
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/trino/api/KyuubiTrinoQueryResultAdapt.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/trino/api/v1/KyuubiTrinoQueryResultAdaptSuite.scala
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
