Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

fix
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoContext.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoStatement.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/WithTrinoEngine.scala
Due: none

fix test
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EngineEventsStoreSuite.scala
Due: kyuubi-spark-sql-engine

use flag instead breakable
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoStatement.scala
Due: none

[KYUUBI-1873] Fix incorrect applicationId
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
Due: kyuubi-spark-sql-engine

Fix compile SQL measurement
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/Query.scala
Due: none

[KYUUBI #1873] Fix incorrect applicationId
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1816] Implement KyuubiHistoryServerPlugin
  .rat-excludes
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/services/org.apache.spark.status.AppHistoryServerPlugin
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EngineEventsStore.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SessionEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SparkOperationEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkContextHelper.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineEventListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineSessionPage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineTab.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/KyuubiHistoryServerPlugin.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EngineEventsStoreSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/ui/EngineTabSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1884] Fix compile SQL measurement
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/Query.scala
Due: none

fix format
  dev/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/watchdog/ForcedMaxOutputRowsBase.scala
Due: none

[KYUUBI #1821] Add trino ExecuteStatement
  externals/kyuubi-trino-engine/pom.xml
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoBackendService.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoConf.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoContext.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoSqlEngine.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoStatement.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/ExecuteStatement.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperation.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationManager.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/session/TrinoSessionImpl.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/session/TrinoSessionManager.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/WithTrinoEngine.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationSuite.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/session/SessionSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
Due: kyuubi-common

[KYUUBI #1885] Add GetCatalogs for trino engine
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/GetCatalogs.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationManager.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationSuite.scala
Due: none

use <code>
  docs/deployment/settings.md
  kyuubi-server/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
Due: none

expose results-dir
  dev/kyuubi-tpcds/README.md
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/Benchmark.scala
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/RunBenchmark.scala
Due: none

increase max width
  docs/_static/css/custom.css
  docs/conf.py
Due: none

add newline
  docs/_static/css/custom.css
Due: none

format metrics.md
  docs/monitor/metrics.md
Due: none

[KYUUBI #1889] Improve the user experience of the configuration parameters of the document
  docs/_static/css/custom.css
  docs/conf.py
  docs/deployment/settings.md
  docs/monitor/metrics.md
  kyuubi-server/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
Due: none

[KYUUBI #1880] Fixed: forcedMaxOutputRows extension for join
  dev/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/watchdog/ForcedMaxOutputRowsBase.scala
  dev/kyuubi-extension-spark-common/src/test/scala/org/apache/spark/sql/WatchDogSuiteBase.scala
Due: none

style
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/RunBenchmark.scala
Due: none

Bump Delta 1.0.1
  pom.xml
Due: none

nit
  dev/kyuubi-tpcds/README.md
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/RunBenchmark.scala
Due: none

[KYUUBI #1893] Bump Delta 1.0.1
  pom.xml
Due: none

[KYUUBI #1811] TPC-DS benchmark expose cli args breakdown and results-dir
  dev/kyuubi-tpcds/README.md
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/Benchmark.scala
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/RunBenchmark.scala
Due: none

make `Query Details` and `Failure Reason` sortable on the Kyuubi Query Engine page.
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1896] Make `Query Details` and `Failure Reason` sortable on the Kyuubi Query Engine page
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
Due: kyuubi-spark-sql-engine

Bump Iceberg 0.13.1
  pom.xml
Due: none

Remove workaround
  kyuubi-common/src/test/scala/org/apache/kyuubi/IcebergSuiteMixin.scala
Due: kyuubi-common

[KYUUBI-1898] Enhance release guide add more information about how to generate mail content automatically
  docs/community/release.md
Due: none

fix desc
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

[KYUUBI #1898] Enhance release guide add more information about how to…
  docs/community/release.md
Due: none

regenerate settings.md
  docs/deployment/settings.md
Due: none

fix checkout version
  .github/workflows/publish-snapshot.yml
Due: none

[KYUUBI #1901] [GA] Fix checkout version
  .github/workflows/publish-snapshot.yml
Due: none

[KYUUBI #1903] Add GetTableTypes for trino engine
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/GetTableTypes.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationManager.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationSuite.scala
Due: none

log4j2-defaults.properties is not working since log4j 2 is always initialized by default
  kyuubi-common/src/main/resources/log4j2-defaults.properties
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
Due: kyuubi-common

fix style
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
Due: kyuubi-common

revert kyuubi-common/src/main/resources/log4j2-defaults.properties
  kyuubi-common/src/main/resources/log4j2-defaults.properties
Due: kyuubi-common

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
