Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

Exclude unused files from source release
  .gitattributes
Due: none

[KYUUBI #971] [LICENSE] Add DISCLAIMER to binary release
  build/dist
Due: none

[KYUUBI #972] [LICENSE] Exclude binary/doc files from source release
  .dockerignore
  .gitattributes
Due: none

[KYUUBI #972] [LICENSE] Exclude binary/doc files from source release
  .gitattributes
Due: none

[RELEASE] Bump 1.3.0-incubating
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-tpcds/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-spark-monitor/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kubernetes/integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

[LICENSE] Remove Scala Using
  LICENSE
  kyuubi-common/src/main/scala-2.12/scala/util/Using.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
Due: kyuubi-common

Remove redundant license declaration
  LICENSE
Due: none

[KYUUBI #962] Support multiple engines under USER share level
  dev/dependencyList
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/engine/ProvidePolicy.scala
  kyuubi-ha/pom.xml
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: kyuubi-common, kyuubi-ha

[RELEASE] Bump 1.3.1-SNAPSHOT
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-tpcds/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-spark-monitor/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kubernetes/integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

[KYUUBI #973] [LICENSE] Fix license issue
  LICENSE
  kyuubi-common/src/main/scala-2.12/scala/util/Using.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
Due: kyuubi-common

Introduce AbstractFrontendService
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/AbstractFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/ThriftFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #961] fixed: opHanle's operation may not be release
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
Due: kyuubi-common

[BUILD] Fix source release ut failures
  .gitattributes
Due: none

enhance check option value
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
Due: kyuubi-ha

[KYUUBI #961] Fixed: opHanle's operation may not be release
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
Due: kyuubi-common

Support create binary from source release
  build/dist
Due: none

Introduce KyuubiFrontendService
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: none

enhance user tests
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

improve wrong logic
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: none

[LICENSE] Fix the source license issue
  LICENSE
  LICENSE-binary
  NOTICE
  NOTICE-binary
Due: none

rich user tests
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: kyuubi-ha

improve tests with countdownlatch
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

increase engine idle timeout
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

rich per user suite
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

add license && update option
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  licenses-binary/LICENSE-paranamer.txt
Due: kyuubi-ha

[KYUUBI 979] Introduce AbstractFrontendService and KyuubiFrontendService
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/AbstractFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/ThriftFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

improve scala syntax
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: kyuubi-ha

Update License
  LICENSE
  LICENSE-binary
Due: none

compatible with the old version
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
Due: kyuubi-ha

improve coding
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: kyuubi-ha

[KYUUBI #979] Introduce AbstractFrontendService and KyuubiFrontendService
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/AbstractFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/ThriftFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #978] [LICENSE] Fix the source license issue
  LICENSE
  LICENSE-binary
  NOTICE
  NOTICE-binary
Due: none

[KYUUBI#922]Add OperationEvent for server to track operation state
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EngineEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/KyuubiSparkEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SessionEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EventLoggingServiceSuite.scala
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/EventLogger.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/EventLoggerType.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/EventLoggingService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/JsonEventLogger.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/JsonProtocol.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/KyuubiEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiServerEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/StatementEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/EventLoggingService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/EventLoggingServiceSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

add dependency
  dev/dependencyList
Due: none

fix comment
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EventLoggingService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/AbstractEventLoggingService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/EventLoggingService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/EventLoggingServiceSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
