Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

simplify with "row filter expressions"
  docs/security/authorization/spark/install.md
Due: none

update docs and clearify difference between ranger.plugin.hive.policy.cache.dir and ranger.plugin.spark.policy.cache.dir configs
  docs/security/authorization/spark/install.md
Due: none

plain text
  docs/security/authorization/spark/install.md
Due: none

[KYUUBI #3020] kyuubi ldap add new config property kyuubi.authentication.ldap.bindpw and kyuubi.authentication.ldap.attrs
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactorySuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImplSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/WithLdapServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/RestClientTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationKerberosAndPlainAuthSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpKerberosAndPlainAuthSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: kyuubi-common

Change the first letter to uppercase
  docs/extensions/server/authentication.rst
Due: none

code change from as commented
  kyuubi-server/web-ui/.gitignore
  kyuubi-server/web-ui/README.md
  kyuubi-server/web-ui/auto-imports.d.ts
  kyuubi-server/web-ui/components.d.ts
  kyuubi-server/web-ui/package.json
  kyuubi-server/web-ui/src/App.vue
  kyuubi-server/web-ui/src/components/card/index.vue
  kyuubi-server/web-ui/src/components/menu/index.vue
  kyuubi-server/web-ui/src/views/contact/index.vue
  kyuubi-server/web-ui/src/views/layout/components/aside/index.vue
  kyuubi-server/web-ui/src/views/layout/components/header/index.vue
  kyuubi-server/web-ui/src/views/layout/index.vue
  kyuubi-server/web-ui/src/views/operation/completedJobs/index.vue
  kyuubi-server/web-ui/src/views/operation/runningJobs/index.vue
  kyuubi-server/web-ui/src/views/overview/index.vue
  kyuubi-server/web-ui/src/views/workload/analysis/index.vue
  kyuubi-server/web-ui/src/views/workload/query/index.vue
  kyuubi-server/web-ui/src/views/workload/queue/index.vue
  kyuubi-server/web-ui/src/views/workload/session/index.vue
  kyuubi-server/web-ui/tsconfig.json
Due: none

refine
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
Due: kyuubi-common

[KYUUBI #3217] [DOCS] Doc for using Marcos in row-level filter in Authz
  docs/security/authorization/spark/install.md
Due: none

transfer element-plus auto import to full import
  kyuubi-server/web-ui/.gitignore
  kyuubi-server/web-ui/auto-imports.d.ts
  kyuubi-server/web-ui/components.d.ts
  kyuubi-server/web-ui/package-lock.json
  kyuubi-server/web-ui/package.json
  kyuubi-server/web-ui/pnpm-lock.yaml
  kyuubi-server/web-ui/src/main.ts
  kyuubi-server/web-ui/src/styles/element/index.scss
  kyuubi-server/web-ui/src/styles/index.scss
  kyuubi-server/web-ui/vite.config.ts
Due: none

comment
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
Due: kyuubi-common

add docs for jdbc authentication provider
  docs/security/authentication.rst
  docs/security/jdbc.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

typo
  docs/security/jdbc.md
Due: none

regenerate conf docs. udpate jdbc.md.
  docs/deployment/settings.md
  docs/security/jdbc.md
Due: none

update doc description
  docs/security/jdbc.md
Due: none

update doc for auth query sql
  docs/security/jdbc.md
Due: none

fix config example mistakes
  docs/security/jdbc.md
Due: none

bump spotless to 2.24.1
  pom.xml
Due: none

[KYUUBI #3275] [KYUUBI 3269] [DOCS] Doc for JDBC authentication provider
  docs/deployment/settings.md
  docs/security/authentication.rst
  docs/security/jdbc.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

[KYUUBI #3222][FOLLOWUP] Introdude JdbcUtils to simplify code
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/JdbcUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

nit
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

nit
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

nit
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/JdbcUtils.scala
Due: kyuubi-common

[KYUUBI #3279][INFRA] Bump spotless-maven-plugin to 2.24.1
  pom.xml
Due: none

fix ut
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

move render result set to test
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/JdbcUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/TestUtils.scala
Due: kyuubi-common

remove pool
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

[KYUUBI #3020][FOLLOWUP] Refactor the code style
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
Due: kyuubi-common

JdbcUtilsSuite
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/JdbcUtilsSuite.scala
Due: kyuubi-common

nit
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/JdbcUtilsSuite.scala
Due: kyuubi-common

Synchronize graceful session shutdown
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/KyuubiServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

[KYUUBI #3285] [FEATURE] Add configs to post event async
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/EventHandlerRegister.scala
Due: kyuubi-common

nit
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
Due: kyuubi-common
