Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

refine
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/session/NoopSessionImpl.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

Addressed the review concerns
  dev/dependencyList
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/RestFrontendService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/RestFrontendServiceSuite.scala
Due: none

[KYUUBI #1008] Implement Hadoop File System Delegation Token Provider
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProvider.scala
Due: kyuubi-common

order
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1032][FOLLOWUP] Refine session hande in AbstractSession
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/session/NoopSessionImpl.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #1031] Implement api: /sessions/count
  dev/dependencyList
  kyuubi-server/pom.xml
  kyuubi-server/src/main/java/org/apache/kyuubi/server/api/v1/dto/SessionOpenedCount.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/RestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/api.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/RestFrontendServiceSuite.scala
  pom.xml
Due: none

[KYUUBI #1036] New Bug Report Template based on YAML
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

clean up
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-extension-spark-3-1/src/main/antlr4/org/apache/kyuubi/sql/zorder/ZorderSqlExtensions.g4
  dev/kyuubi-extension-spark-3-1/src/main/antlr4/org/apache/kyuubi/zorder/ZorderSqlExtensions.g4
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/KyuubiZorderExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSparkSqlExtensionsParser.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSqlAstBuilder.scala
Due: none

pom
  dev/kyuubi-extension-spark-3-1/pom.xml
Due: none

eight indention
  dev/kyuubi-extension-spark-3-1/src/main/antlr4/org/apache/kyuubi/sql/zorder/ZorderSqlExtensions.g4
Due: none

remove dataLakeSuiteMixin tableOptions
  kyuubi-common/src/test/scala/org/apache/kyuubi/DataLakeSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/DeltaSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/IcebergSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicHudiJDBCTests.scala
Due: kyuubi-common

[KYUUBI #1045] Clean up zorder .g4
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-extension-spark-3-1/src/main/antlr4/org/apache/kyuubi/sql/zorder/ZorderSqlExtensions.g4
  dev/kyuubi-extension-spark-3-1/src/main/antlr4/org/apache/kyuubi/zorder/ZorderSqlExtensions.g4
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/KyuubiZorderExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSparkSqlExtensionsParser.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSqlAstBuilder.scala
Due: none

change format
  dev/kyuubi-extension-spark-3-1/src/main/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiGetSqlClassification.scala
  dev/kyuubi-extension-spark-3-1/src/test/resources/sql-classification-default.json
Due: none

roll back
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicHudiJDBCTests.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
Due: kyuubi-common

roll back
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicHudiJDBCTests.scala
Due: kyuubi-common

fix "File line length exceeds 100 characters"
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicHudiJDBCTests.scala
Due: kyuubi-common

[KYUUBI #1008] Implement Hadoop File System Delegation Token Provider
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProvider.scala
Due: none

order the matching rule in jsonFile
  dev/kyuubi-extension-spark-3-1/src/main/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/test/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

[KYUUBI #1008] Implement Hadoop File System Delegation Token Provider
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
  kyuubi-server/src/main/resources/META-INF/services/org.apache.kyuubi.credentials.HadoopDelegationTokenProvider
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProvider.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithSecuredDFSService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopCredentialsManagerSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProviderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/MiniDFSService.scala
Due: kyuubi-common

[KYUUBI#1047] Use deployment to run kyuubi server HA on k8s
  docker/kyuubi-deployment.yaml
Due: none

remove space
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicHudiJDBCTests.scala
Due: kyuubi-common

1. Add analyzeColumnCommand and AnalyzePartitionCommand 2. change ExplainCommand to other
  dev/kyuubi-extension-spark-3-1/src/main/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/test/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

[KYUUBI #1040] Add NoOpBootstrapIndex config for hudi table
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicHudiJDBCTests.scala
Due: kyuubi-common

Add Kyuubi server event
  kyuubi-common/src/main/scala/org/apache/kyuubi/package.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiServerEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiSessionEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiStatementEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/ServerEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/EventLoggingService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/EventLoggingServiceSuite.scala
Due: kyuubi-common

1. Remove NullPointException 2. If the url is null, use the default jsonFile
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiGetSqlClassification.scala
Due: none

[KYUUBI #1047] Use deployment to run kyuubi server HA on k8s
  docker/kyuubi-deployment.yaml
Due: none

Set spark.sql.execution.topKSortFallbackThreshold to 10000
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1009] Implement Hive metastore server Delegation Token Provider
  dev/dependencyList
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/resources/META-INF/services/org.apache.hadoop.security.token.TokenIdentifier
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopDelegationProvider.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProvider.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HiveDelegationTokenProvider.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopCredentialsManagerSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProviderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HiveDelegationTokenProviderSuite.scala
  pom.xml
Due: kyuubi-common

[KYUUBI #1009] Implement Hive metastore server Delegation Token Provider
  dev/dependencyList
Due: none

refine zorder plan
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLExtensionException.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/OptimizeZorderCommand.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/OptimizeZorderStatement.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ResolveZorder.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/Zorder.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderBeforeWrite.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderBytesUtils.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSqlAstBuilder.scala
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

simplify
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/OptimizeZorderStatement.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ResolveZorder.scala
Due: none

[KYUUBI#1056] Output error log when currentEngine is None
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1059] Add Plan Only Operations
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #1009] Implement Hive metastore server Delegation Token Provider
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopDelegationProvider.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HiveDelegationTokenProvider.scala
Due: none

[KYUUBI #1059] Add Plan Only Operations
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1034]Engine may deadlock when close operationLog
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/OperationLog.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

Replace feature_request.md with feature-request.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

fix
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1058] Replace feature_request.md with feature-request.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
