Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

delete ENGINE_NAMESPACE column
  kyuubi-server/src/main/scala/org/apache/kyuubi/sql/plan/command/DescribeEngine.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/parser/DescribeEngineSuite.scala
Due: none

make it compatible with kyuubi 1.8
  grafana/Dockerfile
  grafana/dashboard_template.json
Due: none

add status chart
  grafana/dashboard_template.json
Due: none

fix CI test, fix html document id duplicate
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineSessionPage.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/ui/EngineTabSuite.scala
Due: kyuubi-spark-sql-engine

delete test code
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/ui/EngineTabSuite.scala
Due: kyuubi-spark-sql-engine

fix code
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineSessionPage.scala
Due: kyuubi-spark-sql-engine

Update docker/playground/README.md
  docker/playground/README.md
Due: none

Improve doc for Session Conf Advisor
  docs/extensions/server/configuration.rst
Due: none

[KYUUBI #5951] [DOC] Improve doc for Session Conf Advisor
  docs/extensions/server/configuration.rst
Due: none

Update NOTICE
  NOTICE
  NOTICE-binary
Due: none

update notice
  NOTICE
  NOTICE-binary
  externals/kyuubi-flink-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
  kyuubi-hive-jdbc-shaded/src/main/resources/META-INF/NOTICE
Due: kyuubi-spark-sql-engine

[KYUUBI #5955][TEST][GLUTEN] Disable gluten ui when running integration test
  kyuubi-common/src/test/scala/org/apache/kyuubi/GlutenSuiteMixin.scala
Due: kyuubi-common

[KYUUBI #5953] [LICENSE] Update NOTICE
  NOTICE
  NOTICE-binary
  externals/kyuubi-flink-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
  kyuubi-hive-jdbc-shaded/src/main/resources/META-INF/NOTICE
Due: kyuubi-spark-sql-engine

[KYUUBI #5959][Bug] Flink engine should return the result when fetch timeout but already fetched some data
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/result/IncrementalResultFetchIterator.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

warn
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/KerberosAuthentication.java
Due: none

do not infer fromSubject if fromTicketCache && ugi
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/JdbcConnectionParams.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Due: none

[KYUUBI #5959][Bug] Flink engine should return the result when fetching timeout but already fetched some data
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/result/IncrementalResultFetchIterator.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

Bump Flink 1.17.1 to 1.17.2
  pom.xml
Due: none

math.min
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
Due: kyuubi-spark-sql-engine

save
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
Due: kyuubi-spark-sql-engine

ut
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelperSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #5962] Bump Flink 1.17.1 to 1.17.2
  pom.xml
Due: none

Allows the user to choose whether to add 'batch_request_args' to the returned object of 'bathc'
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/ResponseModels.scala
Due: kyuubi-common

optimized
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
Due: none

fix Kyuubi Query Engine tab error:StringIndexOutOfBoundsException: String index out of range: 7
  kyuubi-common/src/main/scala/org/apache/kyuubi/package.scala
Due: kyuubi-common

Update kyuubi-common/src/main/scala/org/apache/kyuubi/package.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/package.scala
Due: kyuubi-common

[KYUUBI #5966] Error occurs on clicking on the Spark UI Kyuubi Query Engine tab
  kyuubi-common/src/main/scala/org/apache/kyuubi/package.scala
Due: kyuubi-common

fix
  kyuubi-server/web-ui/pnpm-lock.yaml
Due: none

for logical plan
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelperSuite.scala
Due: kyuubi-spark-sql-engine

refine
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/JdbcConnectionParams.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
