Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #4757][UI] Move Statistics to Management Menu
  kyuubi-server/web-ui/src/router/index.ts
  kyuubi-server/web-ui/src/router/management/index.ts
  kyuubi-server/web-ui/src/router/operation/index.ts
  kyuubi-server/web-ui/src/router/server/index.ts
  kyuubi-server/web-ui/src/router/session/index.ts
  kyuubi-server/web-ui/src/views/layout/components/aside/types.ts
  kyuubi-server/web-ui/src/views/management/engine-statistics/index.vue
  kyuubi-server/web-ui/src/views/management/operation-statistics/index.vue
  kyuubi-server/web-ui/src/views/management/server-statistics/index.vue
  kyuubi-server/web-ui/src/views/management/session-statistics/index.vue
Due: none

add tests
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
Due: none

fmt
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
Due: none

[KYUUBI #4655][DOCS][FOLLOWUP] Recover the missing code-block
  docs/client/jdbc/kyuubi_jdbc.rst
Due: none

fix
  docs/client/jdbc/kyuubi_jdbc.rst
Due: none

[KYUUBI #4655][DOCS][FOLLOWUP] Recover the missing JDBC URL
  docs/client/jdbc/kyuubi_jdbc.rst
Due: none

[DOCS] Fix the Kyuubi JDBC kerberos parameters
  docs/client/advanced/kerberos.md
  docs/client/jdbc/kyuubi_jdbc.rst
  docs/quick_start/quick_start_with_jdbc.md
Due: none

nit
  docs/quick_start/quick_start_with_jdbc.md
Due: none

nit
  docs/client/jdbc/kyuubi_jdbc.rst
Due: none

fix
  docs/client/advanced/kerberos.md
  docs/client/jdbc/kyuubi_jdbc.rst
Due: none

fix
  docs/quick_start/quick_start_with_jdbc.md
Due: none

nit
  docs/client/advanced/kerberos.md
Due: none

[KYUUBI #3887][FOLLOWUP] fix kyuubiServerPrincipal logic in KyuubiCommands
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
Due: none

[KYUUBI #4738] `AdminResource.getEngineSpace` should use primary group name on GROUP share level
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
Due: none

[KYUUBI #4763] [DOCS] Fix the Kyuubi JDBC kerberos parameters
  docs/client/advanced/kerberos.md
  docs/client/jdbc/kyuubi_jdbc.rst
  docs/quick_start/quick_start_with_jdbc.md
Due: none

[KYUUBI #3887][FOLLOWUP] Fix kyuubiServerPrincipal logic in KyuubiCommands
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
Due: none

fix class not found issue
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperClientProvider.scala
Due: kyuubi-ha

[KYUUBI #4320] Support GetPrimaryKeys for Trino Fe
  kyuubi-server/src/main/antlr4/org/apache/kyuubi/sql/KyuubiTrinoFeBaseLexer.g4
  kyuubi-server/src/main/antlr4/org/apache/kyuubi/sql/KyuubiTrinoFeBaseParser.g4
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/trino/api/KyuubiTrinoOperationTranslator.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/sql/parser/trino/KyuubiTrinoFeAstBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/sql/plan/trino/TrinoFeOperations.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/parser/trino/KyuubiTrinoFeParserSuite.scala
Due: none

correct submit time
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
Due: none

[KYUUBI #4652][FOLLOWUP] Fix JaasConfiguration ClassNotFoundException for Hadoop 3.3.4 and previous
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperClientProvider.scala
Due: kyuubi-ha

fake submit timeout
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
Due: none

[KYUUBI #4745] Improve variable naming
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

[KYUUBI #4745] Pin time zone in tests
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/result/ResultSetSuite.scala
Due: none

[KYUUBI #4745] Replace hive's timestamp format with the kyuubi's
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
Due: none

_app start time
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: none

metrics
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkArrowbasedOperationSuite.scala
Due: kyuubi-spark-sql-engine

refactor
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: none

check submit app and final state
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: none

Guidelines for Document and Code contributions
  .github/ISSUE_TEMPLATE/documentation.yml
  docs/conf.py
  docs/contributing/code/building.md
  docs/contributing/code/debugging.md
  docs/contributing/code/developer.md
  docs/contributing/code/distribution.md
  docs/contributing/code/get_started.rst
  docs/contributing/code/idea_setup.md
  docs/contributing/code/index.rst
  docs/contributing/code/style.rst
  docs/contributing/code/testing.md
  docs/contributing/doc/build.rst
  docs/contributing/doc/get_started.rst
  docs/contributing/doc/index.rst
  docs/contributing/doc/style.rst
  docs/develop_tools/build_document.md
  docs/index.rst
  docs/requirements.txt
  kyuubi-common/src/main/scala/org/apache/kyuubi/error/sql/KyuubiSQLTimeOutException.scala
Due: kyuubi-common

check app started
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: none

Guidelines for Document and Code contributions
  kyuubi-common/src/main/scala/org/apache/kyuubi/error/sql/KyuubiSQLTimeOutException.scala
Due: kyuubi-common

Guidelines for Document and Code contributions
  docs/contributing/doc/build.rst
  docs/contributing/doc/get_started.rst
Due: none

ut
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkArrowbasedOperationSuite.scala
Due: kyuubi-spark-sql-engine

add SparkMetricsTestUtils
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkArrowbasedOperationSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/sql/execution/metric/SparkMetricsTestUtils.scala
Due: kyuubi-spark-sql-engine
