Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #6049] Support to filter sessions/operations with session type
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/AdminRestApi.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
Due: none

[KYUUBI #6265]Resource isolation in Spark Scala mode
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteScala.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkJobArtifactHelper.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/hive/HiveClientHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #6322] Expose more config items of server internal rest client to users
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/InternalRestClient.scala
Due: kyuubi-common

bump spark 3.4.3
  .github/workflows/master.yml
  docker/playground/.env
  pom.xml
Due: none

[KYUUBI #6323] Upgrade Spark 3.4.3
  .github/workflows/master.yml
  docker/playground/.env
  pom.xml
Due: none

[KYUUBI #6338] Support `kyuubi.server.thrift.resultset.default.fetch.size` conf
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendServiceSuite.scala
Due: kyuubi-common

fix style and address comments
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
Due: kyuubi-common

comments
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
Due: kyuubi-common

fix
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

[# 6297] Package Spark SQL engine both Scala 2.12 and 2.13 Follow Up
  build/dist
Due: none

[# 6297] imporve Package Spark SQL engine both Scala 2.12 and 2.13 Follow Up
  build/dist
Due: none

FlinkProcessBuilder prioritizes user configurations
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KyuubiApplicationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilderSuite.scala
Due: none

spark engine adaptive pool size
  docs/configuration/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClientSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

fix style
  docs/configuration/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

else
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: none

fix style
  docs/configuration/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/EngineServiceDiscovery.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

fix test and add flink constant
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KyuubiApplicationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilderSuite.scala
Due: none

[KYUUBI #6346] Change Kyuubi JDBC Driver default port and make it effective
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/Utils.java
Due: none

[KYUUBI #6338] Support connecting Kyuubi using Hive JDBC driver 4.0
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendServiceSuite.scala
Due: kyuubi-common

[KYUUBI #6348] Upgrade iceberg from 1.5.0 to 1.5.1 #6348
  pom.xml
Due: none

reproduce KYUUBI-5367: add failing test
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/datamasking/DataMaskingTestBase.scala
Due: none

KYUUBI-5367 fix ClassCastException when joining masked tables
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/rule/datamasking/DataMaskingStage0Marker.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/datamasking/DataMaskingTestBase.scala
Due: none

fix test
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/datamasking/DataMaskingTestBase.scala
Due: none

[KYUUBI apache#6295][TASK][EASY] Engine supports to bind only a specific range of ports apache#6295
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/session/SessionSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/TFrontendServiceSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

address comment
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KyuubiApplicationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
Due: none

[KYUUBI #6244] Fix test logs upload error
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithEtcdCluster.scala
Due: kyuubi-spark-sql-engine

Initialize github action for python unit testing
  .github/workflows/python.yml
  python/.gitignore
  python/dev_requirements.txt
  python/docker/conf/presto/catalog/hive.properties
  python/docker/conf/presto/config.properties
  python/docker/conf/presto/jvm.config
  python/docker/conf/presto/node.properties
  python/docker/conf/trino/catalog/hive.properties
  python/docker/conf/trino/config.properties
  python/docker/conf/trino/jvm.config
  python/docker/conf/trino/node.properties
  python/docker/docker-compose.yml
  python/docker/hadoop-hive.env
  python/pyhive/tests/test_hive.py
  python/scripts/conf/com/dropbox/DummyPasswdAuthenticationProvider.java
  python/scripts/conf/hive/hive-site-custom.xml
  python/scripts/conf/hive/hive-site-ldap.xml
  python/scripts/conf/hive/hive-site.xml
  python/scripts/install-deps.sh
  python/scripts/travis-conf/presto/catalog/hive.properties
  python/scripts/travis-conf/trino/catalog/hive.properties
  python/scripts/travis-install.sh
  python/setup.cfg
Due: none

Switch action setup provider to docker
  .github/workflows/python.yml
Due: none

Remove randome flag which causes failed test run
  python/setup.cfg
Due: none

[KYUUBI #6244] Fix test logs upload error
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClientSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefWithEtcdSuite.scala
Due: kyuubi-ha

[KYUUBI #6244][TEST] Fix test logs upload error
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithEtcdCluster.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClientSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefWithEtcdSuite.scala
Due: kyuubi-ha, kyuubi-spark-sql-engine

Make tests runnable
  .github/workflows/python.yml
  python/dev_requirements.txt
  python/docker/conf/presto/catalog/hive.properties
  python/docker/conf/trino/catalog/hive.properties
  python/pyhive/tests/test_hive.py
  python/scripts/install-deps.sh
  python/setup.cfg
Due: none

[KYUUBI #6353] Catch exception for closing flink internal session
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSQLSessionManager.scala
Due: none

Resolved trino and presto test
  .github/workflows/python.yml
  python/docker/conf/presto/catalog/hive.properties
  python/docker/conf/trino/catalog/hive.properties
  python/docker/docker-compose.yml
  python/pyhive/tests/test_hive.py
  python/pyhive/tests/test_presto.py
  python/pyhive/tests/test_sqlalchemy_hive.py
  python/pyhive/tests/test_trino.py
  python/scripts/install-deps.sh
Due: none

Add step to tear down containers
  .github/workflows/python.yml
Due: none

Remove unnecessary steps
  .github/workflows/python.yml
Due: none

val
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSession.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine
