Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

add AuthHeaderGenerator
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/KyuubiRestClient.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/AuthHeaderGenerator.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/AuthUtil.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/BasicAuthHeaderGenerator.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/NoAuthHeaderGenerator.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/SpnegoAuthHeaderGenerator.java
  kyuubi-rest-client/src/test/java/org/apache/kyuubi/client/BatchRestClientTest.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/InternalRestClient.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: none

remove AuthUtil
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/AuthUtil.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/SpnegoAuthHeaderGenerator.java
Due: none

init
  NOTICE-binary
  build/dist
  build/release/append_notice.py
Due: none

make default constructor private
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/BasicAuthHeaderGenerator.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/SpnegoAuthHeaderGenerator.java
Due: none

maintain notice-binary
  NOTICE-binary
Due: none

provided
  build/release/create-package.sh
Due: none

netty
  NOTICE-binary
Due: none

add TpchTest tag to pom and yml
  .github/workflows/master.yml
  pom.xml
Due: none

comments for timeout
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

Make secret id static and move thrift protocol from RPC handles
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/ExecuteStatement.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperation.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSessionImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/cli/Handle.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/cli/HandleIdentifier.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationHandle.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionHandle.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/cli/HandleIdentifierSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/OperationHandleSuite.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/SessionData.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/SessionHandle.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiRestAuthenticationSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/OperationsResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: kyuubi-common

Make secret id static and move thrift protocol from RPC handles
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
Due: none

imporve zorder
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLCommonExtension.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/zorder/InsertZorderBeforeWriting33.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/test/scala/org/apache/spark/sql/ZorderSuite.scala
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
Due: none

docs
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
Due: none

Make secret id static and move thrift protocol from RPC handles
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: none

style
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/zorder/InsertZorderBeforeWriting33.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/test/scala/org/apache/spark/sql/ZorderSuite.scala
Due: none

resolver
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/zorder/InsertZorderBeforeWriting33.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/test/scala/org/apache/spark/sql/ZorderSuite.scala
Due: none

local mode
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkContextHelper.scala
Due: kyuubi-spark-sql-engine

cleanup
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/zorder/InsertZorderBeforeWriting33.scala
Due: none

revert server delete batch retry
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Due: kyuubi-common

Make secret id static and move thrift protocol from RPC handles
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Due: none

code review
  .github/workflows/master.yml
  extensions/spark/kyuubi-spark-connector-tpch/src/main/resources/tpch/sql/q18.sql
  extensions/spark/kyuubi-spark-connector-tpch/src/main/resources/tpch/sql/q21.sql
  extensions/spark/kyuubi-spark-connector-tpch/src/test/scala/org/apache/kyuubi/spark/connector/tpch/TPCHQuerySuite.scala
  kyuubi-common/src/test/java/org/apache/kyuubi/tags/TpchTest.java
  pom.xml
Due: kyuubi-common

[KYUUBI #2746][INFRA] Improve NOTICE of binary release
  NOTICE-binary
  build/dist
  build/release/append_notice.py
  build/release/create-package.sh
Due: none

[KYUUBI #2830] Imporve Z-Order with Spark3.3
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLCommonExtension.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/main/scala/org/apache/kyuubi/sql/zorder/InsertZorderBeforeWriting33.scala
  extensions/spark/kyuubi-extension-spark-3-3/src/test/scala/org/apache/spark/sql/ZorderSuite.scala
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
Due: none

notice
  NOTICE-binary
  build/dist
  build/release/append_notice.py
Due: none

[KYUUBI #2820][SUB-TASK][KPIP-4] Support to redirect getLocalLog and closeBatchSession requests across kyuubi instances
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/KyuubiRestClient.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/AuthHeaderGenerator.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/BasicAuthHeaderGenerator.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/NoAuthHeaderGenerator.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/auth/SpnegoAuthHeaderGenerator.java
  kyuubi-rest-client/src/test/java/org/apache/kyuubi/client/BatchRestClientTest.java
  kyuubi-server/src/main/resources/sql/derby/statestore-schema-derby.sql
  kyuubi-server/src/main/resources/sql/mysql/statestore-schema-mysql.sql
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/InternalRestClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/SessionStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/api/SessionMetadata.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/statestore/jdbc/JDBCStateStoreSuite.scala
Due: kyuubi-common

[KYUUBI #2208] Fixed session close operator log session dir not deleted
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/log/OperationLogSuite.scala
Due: kyuubi-common

[KYUUBI #2227] Fix operation log dir not deleted issue
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common

[KYUUBI-2422] Wrap close session with try-finally
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common

[KYUUBI-2422] Wrap close session with try-finally (#2836)
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common

[BUILD] Support publish to private repo
  pom.xml
Due: none

1
  pom.xml
Due: none

[KYUUBI #2837] [BUILD] Support publish to private repo
  pom.xml
Due: none

[KYUUBI #2746][INFRA][1.5] Improve NOTICE of binary release
  NOTICE-binary
  build/dist
  build/release/append_notice.py
Due: none

code review
  extensions/spark/kyuubi-spark-connector-tpch/src/main/resources/tpch/schema/q1.output.schema
  extensions/spark/kyuubi-spark-connector-tpch/src/main/resources/tpch/schema/q13.output.schema
  extensions/spark/kyuubi-spark-connector-tpch/src/main/resources/tpch/schema/q16.output.schema
  extensions/spark/kyuubi-spark-connector-tpch/src/main/resources/tpch/schema/q21.output.schema
  extensions/spark/kyuubi-spark-connector-tpch/src/main/resources/tpch/schema/q22.output.schema
  extensions/spark/kyuubi-spark-connector-tpch/src/main/resources/tpch/schema/q4.output.schema
  extensions/spark/kyuubi-spark-connector-tpch/src/test/scala/org/apache/kyuubi/spark/connector/tpch/TPCHQuerySuite.scala
Due: none

changelog
  docs/changelog/v1.5.2-incubating.md
Due: none

Make secret id static and move thrift protocol from RPC handles
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionHandle.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Due: kyuubi-common

nit
  build/release/generate_changelog.sh
  docs/changelog/v1.5.1-incubating.md
  docs/changelog/v1.5.2-incubating.md
Due: none

fix
  docs/changelog/v1.5.2-incubating.md
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
