Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #3295] [FEATURE] Filter other engine configs when build engine process builder
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/hive/HiveProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/jdbc/JdbcProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkBatchProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/trino/TrinoProcessBuilder.scala
Due: none

[MINOR] Null is replaced by KyuubiSQLException.featureNotSupported()
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: none

add ut
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteScala.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithSecuredDFSService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithSimpleDFSService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/MiniDFSService.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

skip map for placeholder value lookup
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
Due: kyuubi-common

[KYUUBI #3297] [MINOR] Null is replaced by KyuubiSQLException.featureNotSupported()
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: none

Unify the approach of get classLoader in Kyuubi
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/Benchmark.scala
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/TPCDS_2_4_Queries.scala
  extensions/spark/kyuubi-spark-connector-kudu/src/test/scala/org/apache/kyuubi/spark/connector/kudu/KuduMixin.scala
  extensions/spark/kyuubi-spark-connector-tpcds/src/test/scala/org/apache/kyuubi/spark/connector/tpcds/TPCDSQuerySuite.scala
  extensions/spark/kyuubi-spark-connector-tpch/src/test/scala/org/apache/kyuubi/spark/connector/tpch/TPCHQuerySuite.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/doris/WithDorisContainer.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/doris/WithKyuubiServerAndDorisContainer.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/UtilsSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KyuubiApplicationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
Due: kyuubi-common

[KYUUBI #3222][FOLLOWUP] Fixing placeholder and config of user in JDBC Authentication Provider
  docs/deployment/settings.md
  docs/extensions/server/authentication.rst
  docs/security/jdbc.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/JdbcUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/JdbcUtilsSuite.scala
Due: kyuubi-common

[KYUUBI #3217] [DOCS] Doc for using Marcos in row-level filter in Authz
  docs/security/authorization/spark/install.md
Due: none

[KYUUBI #3275] [KYUUBI 3269] [DOCS] Doc for JDBC authentication provider
  docs/deployment/settings.md
  docs/security/authentication.rst
  docs/security/jdbc.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

[KYUUBI #3281] [MINOR] Use AccessControlException instead of RuntimeException if check privilege failed
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleAuthorization.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/AccessControlException.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

If the plan is InsertIntoHadoopFsRelationCommand, we should check the permission of the writing table
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

[KYUUBI #3272] Synchronize graceful shutdown with main stop sequence
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/KyuubiServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

construct lifetimeTerminatingChecker only when needed
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

[MINOR] Refactor `RangerSparkExtensionSuite` to simple try-finally
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

Initial implementation of the Hive Connector based on the Spark datasource V2
  extensions/spark/kyuubi-spark-connector-hive/pom.xml
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveFileIndex.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveReader.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveScan.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveScanBuilder.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveTable.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveTableCatalog.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/KyuubiHiveConnectorException.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/FilePartitionReader.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HivePartitionReaderFactory.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HivePartitionedFileReader.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HivePartitionedReader.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/spark/sql/hive/kyuubi/connector/HiveConnectorHelper.scala
  extensions/spark/kyuubi-spark-connector-hive/src/test/scala/org/apache/kyuubi/spark/connector/hive/HiveCatalogSuite.scala
  extensions/spark/kyuubi-spark-connector-hive/src/test/scala/org/apache/kyuubi/spark/connector/hive/HiveConnectorSuite.scala
  pom.xml
Due: none

authz not support spark2.4
  docs/security/authorization/spark/build.md
  extensions/spark/kyuubi-spark-authz/README.md
Due: none

Supplement the licenses of support etcd discovery
  LICENSE-binary
Due: none

Update license and notice
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/LICENSE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
  licenses-binary/LICENSE-MIT-codehaus.txt
Due: kyuubi-spark-sql-engine

Update notice
  NOTICE-binary
Due: none

add @volatile
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

1
  pom.xml
Due: none

[KYUUBI #3301] Construct lifetimeTerminatingChecker only when needed
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

[kyuubi-3128] Support CostMode for PlanOnlyStatement
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/PlanOnlyOperationSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #3259] Initial implementation of the Hive Connector based on the Spark datasource V2
  extensions/spark/kyuubi-spark-connector-hive/pom.xml
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveFileIndex.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveReader.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveScan.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveScanBuilder.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveTable.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveTableCatalog.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/KyuubiHiveConnectorException.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/FilePartitionReader.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HivePartitionReaderFactory.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HivePartitionedFileReader.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HivePartitionedReader.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/spark/sql/hive/kyuubi/connector/HiveConnectorHelper.scala
  extensions/spark/kyuubi-spark-connector-hive/src/test/scala/org/apache/kyuubi/spark/connector/hive/HiveCatalogSuite.scala
  extensions/spark/kyuubi-spark-connector-hive/src/test/scala/org/apache/kyuubi/spark/connector/hive/HiveConnectorSuite.scala
  pom.xml
Due: none

[KYUUBI #3298] Unify the approach of get classLoader in Kyuubi
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/Benchmark.scala
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/TPCDS_2_4_Queries.scala
  extensions/spark/kyuubi-spark-connector-kudu/src/test/scala/org/apache/kyuubi/spark/connector/kudu/KuduMixin.scala
  extensions/spark/kyuubi-spark-connector-tpcds/src/test/scala/org/apache/kyuubi/spark/connector/tpcds/TPCDSQuerySuite.scala
  extensions/spark/kyuubi-spark-connector-tpch/src/test/scala/org/apache/kyuubi/spark/connector/tpch/TPCHQuerySuite.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/doris/WithDorisContainer.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/doris/WithKyuubiServerAndDorisContainer.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/UtilsSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KyuubiApplicationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
Due: kyuubi-common

add licenses for files
  .rat-excludes
  kyuubi-server/web-ui/src/auto-imports.d.ts
  kyuubi-server/web-ui/src/components.d.ts
  kyuubi-server/web-ui/src/main.ts
  kyuubi-server/web-ui/src/vite-env.d.ts
Due: none

Fix
  LICENSE-binary
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
Due: kyuubi-spark-sql-engine

Fix
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/LICENSE
Due: kyuubi-spark-sql-engine

remove netty-transport-native-kqueue from license-binary
  LICENSE-binary
Due: none

Add Authz module GA for mutiple spark versions
  .github/workflows/master.yml
Due: none

[KYUUBI #3303] Make a helper method for try-finally block in `RangerSparkExtensionSuite` to code simplification
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

update for review
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SparkOperationEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLLineageParseHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkSQLLineageParserHelperSuite.scala
Due: kyuubi-spark-sql-engine

update for code cleaning
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLLineageParseHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkSQLLineageParserHelperSuite.scala
Due: kyuubi-spark-sql-engine

add spark listener to support lineage
  docs/extensions/engines/spark/index.rst
  docs/extensions/engines/spark/lineage.md
  extensions/spark/kyuubi-spark-listener/README.md
  extensions/spark/kyuubi-spark-listener/pom.xml
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/SparkListenerSQLConf.scala
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/events/LineageEventHandlerRegister.scala
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/events/LineageJsonLoggingEventHandler.scala
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/events/OperationLineageEvent.scala
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/helper/SparkListenerHelper.scala
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/helper/SparkSQLLineageParseHelper.scala
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/listener/SparkOperationLineageQueryExecutionListener.scala
  extensions/spark/kyuubi-spark-listener/src/test/scala/org/apache/kyuubi/events/LineageJsonLoggingEventHandlerSuite.scala
  extensions/spark/kyuubi-spark-listener/src/test/scala/org/apache/kyuubi/helper/SparkSQLLineageParserHelperSuite.scala
  extensions/spark/kyuubi-spark-listener/src/test/scala/org/apache/spark/sql/SparkListenerExtenstionTest.scala
  pom.xml
Due: none
