Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

Backport HIVE-20583
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Due: none

use eventually
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/MetadataManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/metadata/MetadataManagerSuite.scala
Due: none

filter null
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ApplicationOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiApplicationOperation.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: kyuubi-spark-sql-engine

Fix NPE
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Due: none

[KYUUBI #3355] Backport HIVE-20583 - Use canonical hostname only for kerberos auth in HiveConnection
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Due: none

[KYUUBI #3353] Backport HIVE-21899 - Utils.getCanonicalHostName() may return IP address depending on DNS infra
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/Utils.java
Due: none

[KYUUBI #3349] Bump unboundid-ldapsdk version from 5.1.4 to 6.0.5
  pom.xml
Due: none

fix ut
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/BackendServiceMetricSuite.scala
Due: none

remove engine ref check, meaning less
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: none

revert
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: none

add metrics
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: none

add ut
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ApplicationOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
Due: none

fast fail the connection on engine termiante
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ApplicationOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
Due: none

Update LdapAuthenticationProviderImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
Due: kyuubi-common

close
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/restore/ExternalStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/restore/session/RestoredKyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSession.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: none

Improve doc description for configuration `kyuubi.operation.plan.only.mode`
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

implements batchVerify with SparkRangerAdminPlugin.isAccessAllowed
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleAuthorization.scala
Due: none

[RELEASE] Bump 1.6.0-incubating
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-tpcds/pom.xml
  extensions/server/kyuubi-server-plugin/pom.xml
  extensions/spark/kyuubi-extension-spark-3-1/pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/pom.xml
  extensions/spark/kyuubi-extension-spark-3-3/pom.xml
  extensions/spark/kyuubi-extension-spark-common/pom.xml
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-connector-common/pom.xml
  extensions/spark/kyuubi-spark-connector-kudu/pom.xml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-jdbc-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-trino-engine/pom.xml
  integration-tests/kyuubi-flink-it/pom.xml
  integration-tests/kyuubi-hive-it/pom.xml
  integration-tests/kyuubi-jdbc-it/pom.xml
  integration-tests/kyuubi-kubernetes-it/pom.xml
  integration-tests/kyuubi-trino-it/pom.xml
  integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-events/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-rest-client/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

Bump 1.6.1-SNAPSHOT
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-tpcds/pom.xml
  extensions/server/kyuubi-server-plugin/pom.xml
  extensions/spark/kyuubi-extension-spark-3-1/pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/pom.xml
  extensions/spark/kyuubi-extension-spark-3-3/pom.xml
  extensions/spark/kyuubi-extension-spark-common/pom.xml
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-connector-common/pom.xml
  extensions/spark/kyuubi-spark-connector-kudu/pom.xml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-jdbc-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-trino-engine/pom.xml
  integration-tests/kyuubi-flink-it/pom.xml
  integration-tests/kyuubi-hive-it/pom.xml
  integration-tests/kyuubi-jdbc-it/pom.xml
  integration-tests/kyuubi-kubernetes-it/pom.xml
  integration-tests/kyuubi-trino-it/pom.xml
  integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-events/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-rest-client/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

add PermanentViewMarker for marking perm view catalogTable and check PrivilegesBuilder with PermanentViewMarker, finally maker cleanup in RuleEliminateViewMarker
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtension.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/ViewAccessAnalysis.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/AuthZUtils.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/PermanentViewMarker.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/RuleEliminateViewMarker.scala
Due: none

rename ViewAccessAnalysis to RuleApplyPermanentViewMarker (+2 squashed commits) Squashed commits: [207ed7b5] rename ViewAccessAnalysis to RuleApplyPermanentViewMarker [f58be005] nit
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtension.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleApplyPermanentViewMarker.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/RuleEliminateViewMarker.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

use reflection for isTempView of View
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/ViewAccessAnalysis.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/AuthZUtils.scala
Due: none

change to use mergeProjection in PivilegesBuilder , checking column level privilege.
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

use isSparkVersionAtLeast 3.1.0 instead of try-catch RuntimeException non-existed isTempView field
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/AuthZUtils.scala
Due: none

simplify and remove applyPermanentViewMarker (+2 squashed commits) Squashed commits: [802e5223] nit [ba1beb49] nit
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/ViewAccessAnalysis.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

view casting (+1 squashed commit) Squashed commits: [98f523d1] fix error in view casting
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleApplyPermanentViewMarker.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/AuthZUtils.scala
Due: none

rename to hasResolvedPermanentView and check if plan resolved
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleApplyPermanentViewMarker.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/AuthZUtils.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

add ut for permanent view privilege checks
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

ut for spark30 and spark31greater
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

CreateViewCommand tablePrivileges checks for only persisted views, and adding ut
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

nit
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleAuthorization.scala
Due: none

save
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
Due: kyuubi-common, kyuubi-spark-sql-engine

save'
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
Due: kyuubi-spark-sql-engine

save
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiDatabaseMetaData.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: kyuubi-common

save
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
Due: none

revert
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

revert
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
Due: kyuubi-common

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
