Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #1007] Implement delegation token renewal framework
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/KyuubiHadoopUtils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/RemoteCredentialsRef.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopCredentialsManagerSuite.scala
Due: kyuubi-common

fix
  DISCLAIMER
  NOTICE
  NOTICE-binary
Due: none

Add the classification of sql: DML
  dev/kyuubi-extension-spark-3-1/src/main/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/test/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

Changed rest frontend service port from 10009 to 10099
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/RestFrontendServiceSuite.scala
Due: kyuubi-common

[KYUUBI #1007] Implement delegation token renewal framework
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/KyuubiHadoopUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/KyuubiHadoopUtilsSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/CredentialsRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopDelegationProvider.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/resources/META-INF/services/org.apache.kyuubi.credentials.HadoopDelegationTokenProvider
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopCredentialsManagerSuite.scala
Due: kyuubi-common

[KYUUBI #1020] Fix incubating issue
  DISCLAIMER
  NOTICE
  NOTICE-binary
Due: none

[KYUUBI #1019] [BUILD] Remove developers from pom
  pom.xml
Due: none

[KYUUBI #999] Build the basic framework for rest frontend service
  dev/dependencyList
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopServer.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/RestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/api.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/ApiRootResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/RestFrontendServiceSuite.scala
  pom.xml
Due: kyuubi-common

fix
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/ui/EngineTab.scala
Due: kyuubi-spark-sql-engine

refactor
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/ui/EngineTab.scala
Due: kyuubi-spark-sql-engine

use effectiveUser
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/ui/EngineTab.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #703] support hudi-0.9.0
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkHudiOperationSuite.scala
  kyuubi-common/src/test/java/org/apache/kyuubi/tags/HudiTest.java
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicHudiJDBCTests.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/datalake/HudiOperationSuite.scala
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

add HttpSecurityFilter
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/ui/EngineTab.scala
Due: kyuubi-spark-sql-engine

[BUILD] Rename tarball to apache-kyuubi
  .gitignore
  build/dist
  build/release/create-package.sh
  build/release/release.sh
  pom.xml
Due: none

[BUILD] Use relative path to generate sha512 for release tarballs
  build/release/create-package.sh
Due: none

[KYUUBI #1026] [BUILD] Rename tarball to apache-kyuubi
  .gitignore
  build/dist
  build/release/create-package.sh
  build/release/release.sh
  pom.xml
Due: none

[KYUUBI #1027] [BUILD] Use relative path to generate sha512 for release tarballs
  build/release/create-package.sh
Due: none

[RELEASE] Bump 1.3.0-incubating
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-tpcds/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-spark-monitor/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kubernetes/integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

[RELEASE] Bump 1.3.1-SNAPSHOT
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-tpcds/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-spark-monitor/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kubernetes/integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

[DEPS][TEST] Reduce Hudi dependencies
  pom.xml
Due: none

Merge branch 'master' into branch-1.3_get-sql-type-for-dml
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

[KYUUBI #1024][FOLLOWUP] Fix source release folder name
  build/release/create-package.sh
Due: none

nit
  pom.xml
Due: none

Exclude hudi-timeline-service
  pom.xml
Due: none

Remove HBase dependencies
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
  kyuubi-server/pom.xml
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

Align jackson version
  pom.xml
Due: none

Remove log4j
  pom.xml
Due: none

Add bug-report based on yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

HFileBootstrapIndex
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
Due: kyuubi-common

Add bug-report based on yml
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

keep server session id and engien session id consistent
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/cli/HandleIdentifier.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionHandle.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/EventLoggingServiceSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

nit
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/EventLoggingServiceSuite.scala
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
