Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #1410] Add reformat shell script
  dev/reformat
Due: none

[KYUUBI #1413] Improve usage of zookeeper cli
  LICENSE-binary
  bin/kyuubi-zk-cli
  dev/dependencyList
  kyuubi-assembly/pom.xml
  licenses-binary/LICENSE-jline.txt
  pom.xml
Due: none

Kyuubi MySQL FE
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/HiveJDBCTestHelper.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestHelper.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLCodec.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLCommandHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLDialectHelper.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLField.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLNullBitmap.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLQueryResult.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/authentication/MySQLAuthHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/constant/MySQLCtxAttrKey.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/tpcds/OutputSchemaTPCDSSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/mysql/MySQLJDBCTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/mysql/MySQLSparkQuerySuite.scala
Due: kyuubi-common

use beeline mode property instead of static method
  bin/beeline
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiBeeLine.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiDatabaseConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Due: none

refactor build and beeline script
  bin/beeline
  build/dist
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiDatabaseConnection.java
Due: none

refactor properties
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  pom.xml
Due: none

fix ut
  kyuubi-hive-beeline/pom.xml
Due: none

BeeLine version By Apache Kyuubi
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiBeeLine.java
Due: none

fix beeline shell
  bin/beeline
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-beeline/src/main/resources/log4j.properties
Due: none

integrate beeline and server
  bin/beeline
  bin/load-kyuubi-env.sh
  conf/kyuubi-env.sh.template
  conf/log4j.properties.template
  kyuubi-hive-beeline/src/main/resources/log4j.properties
Due: none

add readme
  kyuubi-hive-beeline/README.md
Due: none

Refine jline dependency
  kyuubi-assembly/pom.xml
  pom.xml
Due: none

jars.target.dir to target
  bin/beeline
  bin/load-kyuubi-env.sh
  build/dist
  kyuubi-hive-beeline/pom.xml
Due: none

fix ut
  docs/deployment/settings.md
Due: none

address comments
  bin/beeline
  build/dist
Due: none

[KYUUBI #1416] Refine jline dependency
  kyuubi-assembly/pom.xml
  pom.xml
Due: none

[KYUUBI-1417] Parse instance information in a compatible way
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
Due: kyuubi-ha

return engine launch handle anyway
  build/dist
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiThriftBinaryFrontendService.scala
Due: none

[KYUUBI-1417] fix checkstyle
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

[KYUUBI #1414] Add kyuubi-hive-beeline module to support KyuubiConnection and KyuubiStatement
  bin/beeline
  build/dist
  conf/kyuubi-env.sh.template
  conf/log4j.properties.template
  docs/deployment/settings.md
  kyuubi-hive-beeline/README.md
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiBeeLine.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiDatabaseConnection.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/logs/KyuubiBeelineInPlaceUpdateStream.java
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/ClosedConnectionException.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/ClosedOrCancelledException.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/logs/KyuubiLoggable.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiThriftBinaryFrontendService.scala
  pom.xml
Due: none

cli -> client
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  pom.xml
Due: none

[KYUUBI #1417] Parse instance information in a compatible way
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
Due: kyuubi-ha

[KYUUBI #1419] Refactor hive client related property names
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  pom.xml
Due: none

[KYUUBI #1181] [BUG] Format file paths to specifications.
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

improve
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ThriftFrontendServiceSuite.scala
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiBeeLine.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiDatabaseConnection.java
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

update doc
  docs/deployment/settings.md
Due: none

share jars between server and cli
  build/dist
Due: none

[KYUUBI #1421] Improve beeline print
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ThriftFrontendServiceSuite.scala
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiBeeLine.java
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiDatabaseConnection.java
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

refactor
  build/dist
Due: none

[KYUUBI #1056] [BUG] Log error if no current spark sql engine is created.
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

refactor
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

prevent hardcode
  kyuubi-hive-jdbc/pom.xml
  pom.xml
Due: none

typo
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiBeeLine.java
Due: none

[KYUUBI #1181] [BUG] Format file paths to specifications.
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

add metrics reporters check value
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConf.scala
Due: none

fix maven -pl option usage
  docs/develop_tools/building.md
Due: none

[KYUUBI #1428] Add metrics reporters conf value check
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConf.scala
Due: none

[KYUUBI #1426] fix maven -pl option usage
  docs/develop_tools/building.md
Due: none

[KYUUBI #1425] Remove hardcode skipTests for maven-surefire-plugin
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiBeeLine.java
  kyuubi-hive-jdbc/pom.xml
  pom.xml
Due: none
