Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

Remove the unclearly defined group share level engines
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/SQLEngineAppNameSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerGroupSuite.scala
Due: kyuubi-common, kyuubi-main

[KYUUBI #452] Remove the unclearly defined group share level engines
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/SQLEngineAppNameSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerGroupSuite.scala
Due: kyuubi-common, kyuubi-main

refector implementation
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/Constants.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/IndividualSparkSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

move test
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

unnecessary change
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

change conf place
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

config name
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

fix test
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/IndividualSparkSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

update docs
  docs/deployment/settings.md
Due: none

timeout move to operation manager
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-main

unused import
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
Due: kyuubi-main

fix
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-main

add session conf in session
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/session/NoopSessionImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/session/NoopSessionManager.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

correct import
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-main

global config
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/session/NoopSessionImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/session/NoopSessionManager.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

fix tets
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/IndividualSparkSuite.scala
Due: kyuubi-spark-sql-engine

address comment
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-main

nit
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-main

correct timeout
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-main

Fix metrics Versions
  docs/deployment/settings.md
  docs/deployment/spark/index.rst
  docs/monitor/metrics.md
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConf.scala
Due: none

Fix Hadoop Version for Dev start stript
  bin/load-kyuubi-env.sh
Due: none

address comment
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

nit
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/IndividualSparkSuite.scala
Due: kyuubi-spark-sql-engine

Refine ServiceDiscovery in Serverable API
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopServer.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

flaty test
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/IndividualSparkSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #454] Fix metrics Versions
  docs/deployment/settings.md
  docs/deployment/spark/index.rst
  docs/monitor/metrics.md
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConf.scala
Due: none

[KYUUBI #455] Fix Hadoop Version for Dev start stript
  bin/load-kyuubi-env.sh
Due: none

[KYUUBI #453] Refine ServiceDiscovery in Serverable API
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopServer.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

docs
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

logbetter
  externals/kyuubi-spark-sql-engine/src/test/resources/log4j.properties
  kyuubi-common/src/test/resources/log4j.properties
  kyuubi-ha/src/test/resources/log4j.properties
  kyuubi-main/src/test/resources/log4j.properties
  kyuubi-metrics/src/test/resources/log4j.properties
  kyuubi-metrics/src/test/scala/org/apache/kyuubi/metrics/MetricsSystemSuite.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine

[KYUUBI #451] Support query auto timeout cancel on thriftserver
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/IndividualSparkSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

Enable Configuration Checker
  docs/deployment/settings.md
  kyuubi-main/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
Due: kyuubi-main

[KYUUBI #458] Mute Console Appender for CI
  externals/kyuubi-spark-sql-engine/src/test/resources/log4j.properties
  kyuubi-common/src/test/resources/log4j.properties
  kyuubi-ha/src/test/resources/log4j.properties
  kyuubi-main/src/test/resources/log4j.properties
  kyuubi-metrics/src/test/resources/log4j.properties
  kyuubi-metrics/src/test/scala/org/apache/kyuubi/metrics/MetricsSystemSuite.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine

sync
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

cleanup
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
Due: kyuubi-spark-sql-engine

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
