Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

dependencyList
  dev/dependencyList
Due: none

update check deps script
  build/dependency.sh
Due: none

update workflow
  .github/workflows/style.yml
Due: none

nit
  build/dependency.sh
Due: none

[KYUUBI #1769][FOLLOWUP] Exclude log4j 12 deps from spark-hive and fix detect deps change workflow
  .github/workflows/style.yml
  build/dependency.sh
  dev/dependencyList
  dev/kyuubi-extension-spark-3-2/pom.xml
  dev/kyuubi-extension-spark-common/pom.xml
  pom.xml
Due: none

Migrate bind-api activation-api to jakarta
  dev/dependencyList
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-extension-spark-3-2/pom.xml
  dev/kyuubi-extension-spark-common/pom.xml
  kyuubi-common/pom.xml
  kyuubi-server/pom.xml
  pom.xml
Due: kyuubi-common

Bump Iceberg 0.13.0 and enable Iceberg test with Spark 3.2
  pom.xml
Due: none

Iceberg 0.13.0 RC2
  pom.xml
Due: none

RC2 vote passed
  pom.xml
Due: none

work around for namespace issue
  kyuubi-common/src/test/scala/org/apache/kyuubi/IcebergSuiteMixin.scala
Due: kyuubi-common

update comments
  kyuubi-common/src/test/scala/org/apache/kyuubi/IcebergSuiteMixin.scala
Due: kyuubi-common

[KYUUBI #1848] Bump Spark 3.2.1
  .github/workflows/master.yml
  pom.xml
Due: none

[KYUUBI #1861] Migrate bind-api and activation-api from javax to jakarta
  dev/dependencyList
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-extension-spark-3-2/pom.xml
  dev/kyuubi-extension-spark-common/pom.xml
  kyuubi-common/pom.xml
  kyuubi-server/pom.xml
  pom.xml
Due: kyuubi-common

[KYUUBI #1849] Bump Iceberg 0.13.0 and enable Iceberg test with Spark 3.2
  kyuubi-common/src/test/scala/org/apache/kyuubi/IcebergSuiteMixin.scala
  pom.xml
Due: kyuubi-common

[GA] avoid push docker image for forked repos
  .github/workflows/docker-image.yml
Due: none

[KYUUBI #1844] Add step for generating release notes
  docs/community/release.md
Due: none

Address review comments
  docs/community/release.md
Due: none

[KYUUBI #1804][FOLLOWUP][GA] Avoid push docker image for forked repos
  .github/workflows/docker-image.yml
Due: none

Upgrate k8s client from 5.5.0 to 5.12.1
  pom.xml
Due: none

upgrade minikube action from 2.4.2 to 2.4.3
  .github/workflows/master.yml
Due: none

[KYUUBI #1871] Upgrade minikube action from 2.4.2 to 2.4.3
  .github/workflows/master.yml
Due: none

[KYUUBI #1870] Upgrate k8s client from 5.5.0 to 5.12.1
  pom.xml
Due: none

[KYUUBI #1838] Log cleanup exceptions
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/ExecuteStatement.scala
Due: none

Upgrade codahale.metrics.version to 4.2.8
  dev/dependencyList
  pom.xml
Due: none

[KYUUBI #1872] Make ProcBuilder decouple with YARN
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

close session on launch engien operation failed
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/LaunchEngine.scala
Due: none

[KYUUBI #1875] Upgrade codahale.metrics.version to 4.2.8 and its deps
  dev/dependencyList
  pom.xml
Due: none

Upgrate netty from 4.1.68 to 4.1.73
  dev/dependencyList
  externals/kyuubi-flink-sql-engine/pom.xml
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/NettyUtils.scala
  pom.xml
Due: kyuubi-common

[KYUUBI #1838] Improve logging message syntax
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/ExecuteStatement.scala
Due: none

[KYUUBI #1878] Fix typo in log4j2-test.properties
  dev/kyuubi-extension-spark-3-1/src/test/resources/log4j2-test.properties
  dev/kyuubi-extension-spark-3-2/src/test/resources/log4j2-test.properties
  dev/kyuubi-extension-spark-common/src/test/resources/log4j2-test.properties
  externals/kyuubi-flink-sql-engine/src/test/resources/log4j2-test.properties
  externals/kyuubi-spark-sql-engine/src/test/resources/log4j2-test.properties
  externals/kyuubi-trino-engine/src/test/resources/log4j2-test.properties
  integration-tests/kyuubi-flink-it/src/test/resources/log4j2-test.properties
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/resources/log4j2-test.properties
  kyuubi-common/src/test/resources/log4j2-test.properties
  kyuubi-ctl/src/test/resources/log4j2-test.properties
  kyuubi-ha/src/test/resources/log4j2-test.properties
  kyuubi-metrics/src/test/resources/log4j2-test.properties
  kyuubi-server/src/test/resources/log4j2-test.properties
  kyuubi-zookeeper/src/test/resources/log4j2-test.properties
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

[KYUUBI #1868] Upgrate netty from 4.1.68 to 4.1.73
  dev/dependencyList
  externals/kyuubi-flink-sql-engine/pom.xml
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/NettyUtils.scala
  pom.xml
Due: kyuubi-common

load kyuubiConf from sparkConf
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineEventListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/KyuubiHistoryServerPlugin.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1838] Clean up query results after query operations finish
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/ExecuteStatement.scala
Due: none

fix
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineSessionPage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/KyuubiHistoryServerPlugin.scala
Due: kyuubi-spark-sql-engine

fix join
  dev/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/watchdog/ForcedMaxOutputRowsBase.scala
  dev/kyuubi-extension-spark-common/src/test/scala/org/apache/spark/sql/WatchDogSuiteBase.scala
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
