Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

Skip Interval test
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
Due: kyuubi-common

Add maven profile spark-3.2
  .github/workflows/master.yml
  pom.xml
Due: none

Handle SPARK-35378
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/SparkCatalogShim.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/SchedulerPoolSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SQLOperationListenerSuite.scala
Due: kyuubi-spark-sql-engine

Add kyuubi_logo_hd image
  docs/imgs/kyuubi_logo_hd.png
Due: none

[KYUUBI #1252] Move KyuubiConf#toSparkPrefixedConf out of kyuubi-common module
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: kyuubi-common

[KYUUBI #1228] [BUILD] Add maven profile spark-3.2
  .github/workflows/master.yml
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/SparkCatalogShim.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/SchedulerPoolSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SQLOperationListenerSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

Refactor code to address review suggestion
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: none

Address review suggesiont
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

Address review suggesion
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

[KYUUBI #1258] Implement /sessions/execpoolsize and /sessions/execpoolactivecount
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/dto.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: none

Avoid calling javax.xml API for better JDK compatible
  dev/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSqlAstBuilderBase.scala
Due: none

[KYUUBI #1260] Avoid calling javax.xml API for better JDK compatible
  dev/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSqlAstBuilderBase.scala
Due: none

nit
  .github/workflows/nightly.yml
Due: none

nit
  .github/workflows/master.yml
Due: none

Reduce unnecessary maven profile
  .github/workflows/master.yml
  .github/workflows/nightly.yml
  .github/workflows/publish-snapshot.yml
  build/release/create-package.sh
  docs/community/release.md
  docs/sql/rules.md
  pom.xml
Due: none

Reduce unnecessary maven profile
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-extension-spark-3-2/pom.xml
  dev/kyuubi-extension-spark-common/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: none

merge to statistic
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/dto.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: none

future.cancel
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: none

Address comments
  build/release/release.sh
  dev/kyuubi-extension-spark-common/pom.xml
  docs/sql/rules.md
Due: none

fix
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/udf/KDFRegistry.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1204] fix tests and re-generate settings.md
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithDiscoverySparkSQLEngine.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: kyuubi-ha, kyuubi-spark-sql-engine

update GA
  .github/workflows/publish-snapshot.yml
Due: none

Add spark 3.2 binary test
  .github/workflows/master.yml
Due: none

test
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationYarnClusterSuite.scala
Due: none

id
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationYarnClusterSuite.scala
Due: none

Exclude HudiTest in cross test
  .github/workflows/master.yml
Due: none

[KYUUBI#1253] Support use helm to deploy kyuubi server on k8s
  docker/helm.tgz
  docker/helm/Chart.yaml
  docker/helm/templates/NOTES.txt
  docker/helm/templates/_helpers.tpl
  docker/helm/templates/kyuubi-configmap.yaml
  docker/helm/templates/kyuubi-deployment.yaml
  docker/helm/templates/kyuubi-service.yaml
  docker/helm/values.yaml
Due: none

rm hel tgz
  docker/kyuubi-helm-0.1.0.tgz
Due: none

update and fix
  docker/helm.tgz
  docker/helm/templates/NOTES.txt
  docker/kyuubi-helm-0.1.0.tgz
Due: none

Add doc
  docker/helm/Chart.yaml
  docker/helm/templates/NOTES.txt
  docs/quick_start/index.rst
  docs/quick_start/quick_start_with_helm.md
Due: none

Update doc
  docs/sql/rules.md
  docs/sql/z-order-benchmark.md
Due: none

nit
  docs/sql/rules.md
Due: none

typo
  docs/sql/rules.md
Due: none

[KYUUBI #1263] Kyuubi auxiliary UDF failed on Spark Yarn mode
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/udf/KDFRegistry.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationYarnClusterSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1204] Change the default value of kyuubi.ha.zookeeper.auth.type to NONE
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ZooKeeperAuthTypes.scala
Due: kyuubi-ha

[KYUUBI #1255] [KYUUBI#1253] Support use helm to deploy kyuubi server on k8s
  docker/helm/Chart.yaml
  docker/helm/templates/NOTES.txt
  docker/helm/templates/_helpers.tpl
  docker/helm/templates/kyuubi-configmap.yaml
  docker/helm/templates/kyuubi-deployment.yaml
  docker/helm/templates/kyuubi-service.yaml
  docker/helm/values.yaml
  docs/quick_start/index.rst
  docs/quick_start/quick_start_with_helm.md
Due: none
