Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

add trino event
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/event/SessionEvent.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/event/TrinoEngineEvent.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/event/TrinoOperationEvent.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/ExecuteStatement.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/session/TrinoSessionImpl.scala
Due: none

fix
  .gitignore
Due: none

[KYUUBI #2420] Fix outdate .gitignore for dependency-reduced-pom.xml
  .gitignore
Due: none

fix ut failed
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
Due: none

fix java & class name
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/WithKyuubiServerOnKubernetes.scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/deployment/KyuubiOnKubernetesTestsSuite.scala
Due: none

fix conflict
  externals/kyuubi-trino-engine/pom.xml
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoSqlEngine.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/event/TrinoEngineEvent.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/event/TrinoOperationEvent.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/event/TrinoSessionEvent.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/event/handler/TrinoJsonLoggingEventHandler.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/session/TrinoSessionImpl.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/event/TrinoSqlEventSuite.scala
Due: none

spoltless apply
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
Due: none

fix conflict
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/event/TrinoOperationEvent.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/event/TrinoSqlEventSuite.scala
Due: none

Test coverage for PrivilegesBuilder
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

Delete some unused code.
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

[KYUUBI-2422] Wrap close session with try-finally
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: kyuubi-common

compiledTime
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
Due: kyuubi-spark-sql-engine

import
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
Due: kyuubi-spark-sql-engine

fix ui failed
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
Due: none

[KYUUBI #2422] Wrap close session with try-finally
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: kyuubi-common

[KYUUBI #2424] [Improvement] add Flink compile version and Trino client compile version
  build/kyuubi-build-info
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/package.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/UtilsSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-common

[KYUUBI #2351] Fix Hive Engine terminating blocked by non-daemon threads
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/HiveSQLEngine.scala
Due: none

[KYUUBI #2410] [Improvement] Fix docker-image-tool.sh example version to 1.4.0
  bin/docker-image-tool.sh
  docs/deployment/kyuubi_on_kubernetes.md
Due: none

fix scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/WithKyuubiServerOnKubernetes.scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/deployment/KyuubiOnKubernetesTestsSuite.scala
Due: none

[feat] init operation getQueryId, just structure, need to improve quickly
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/operation/HiveOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/NoopOperationManager.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

update getQueryId test case
  externals/kyuubi-hive-sql-engine/src/test/scala/org/apache/kyuubi/engine/hive/operation/HiveOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/NoopOperationManager.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/TFrontendServiceSuite.scala
Due: kyuubi-common

[feat] complete TGetQueryId op, should refined test case later
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/operation/HiveOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/TrinoOperationManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/AbstractBackendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/BackendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/NoopOperationManager.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/TFrontendServiceSuite.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

skip test when java version beyond JAVA_1_8
  externals/kyuubi-hive-sql-engine/src/test/scala/org/apache/kyuubi/engine/hive/operation/HiveOperationSuite.scala
Due: none

fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: none

[KYUUBI #2426] Return complete error stack trace information
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/TFrontendServiceSuite.scala
Due: kyuubi-common

test case RepairTableCommand only run with spark 3.2 or greater.
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

fix AlterTableRecoverPartitionsCommand
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

fix in spark 2.4.x when privilegeObject's dbname is null, it will produce an invalid AccessResource.
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResource.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleApplyRowFilterAndDataMasking.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleAuthorization.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResourceSuite.scala
Due: none

fix some unit tests failed due to sparksession has not been stopped.
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResourceSuite.scala
Due: none

add data file and clean the code.
  extensions/spark/kyuubi-spark-authz/src/test/resources/data.txt
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

fix style check failed.
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

[KYUUBI #2253] [Improvement] Trino Engine - Events support
  externals/kyuubi-trino-engine/pom.xml
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoSqlEngine.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/event/TrinoEngineEvent.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/event/TrinoOperationEvent.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/event/TrinoSessionEvent.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/event/handler/TrinoJsonLoggingEventHandler.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/operation/ExecuteStatement.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/session/TrinoSessionImpl.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/event/TrinoSqlEventSuite.scala
Due: none

Update build/kyuubi-build-info
  build/kyuubi-build-info
Due: none

Update kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: none

Update kyuubi-common/src/main/scala/org/apache/kyuubi/package.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/package.scala
Due: kyuubi-common

Update package.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/package.scala
Due: kyuubi-common

Update UtilsSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/UtilsSuite.scala
Due: kyuubi-common

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
