Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #7664][DOC] Reformat and improve docs for KSHC
  docs/connector/spark/hive.md
Due: none

[KYUUBI #7623][AUTHZ] Check the effective value of spark.sql.optimizer.excludedRules
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/rule/config/AuthzConfigurationChecker.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/rule/AuthzConfigurationCheckerSuite.scala
Due: none

[KYUUBI #7644][FLINK] Prevent concurrent access to bootstrap job IDs
  externals/kyuubi-flink-sql-engine/src/main/java/org/apache/flink/client/deployment/application/executors/EmbeddedExecutorFactory.java
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkSQLEngine.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/flink/client/deployment/application/executors/EmbeddedExecutorFactorySuite.scala
Due: none

[KYUUBI #7671][AUTHZ] Cover all injected authz rules in the excludedRules check
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/rule/config/AuthzConfigurationChecker.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/rule/AuthzConfigurationCheckerSuite.scala
Due: none

Use distinct tables for SQLAlchemy insert tests
  python/pyhive/tests/test_sqlalchemy_hive.py
Due: none

[KYUUBI #7676][DOCS] Recommend multi-tenant session config safeguards
  docs/security/authorization/spark/overview.md
Due: none

Fix greetings workflow for PRs from forks
  .github/workflows/greetings.yml
Due: none

[KYUUBI #7676][DOCS] Add session config baseline
  docs/security/authorization/spark/overview.md
Due: none

[DOC] Escape ampersand in LDAP group mapping example
  docs/deployment/engine_share_level.md
Due: none

[KYUUBI-7590] Fix Spark SQL engine main thread waiting forever after SparkContext stops
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

[Bug] Fix GetTables failure when HMS has legacy Iceberg tables (#7673)
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/util/SparkCatalogUtils.scala
Due: kyuubi-spark-sql-engine

[KYUUBI-7668][K8S] Add random suffix to executor podNamePrefix to prevent collision
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

[KYUUBI-7659][INFRA] Restore code coverage by not overriding test argLine
  externals/kyuubi-data-agent-engine/pom.xml
  pom.xml
Due: none

[KYUUBI #7684][SPARK] Clear the python operation context like SQL does
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AuthzSessionUserSuite.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #7684][SPARK] Add regression tests for the python operation context
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/ExecutePythonSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #7678] [INFRA] Fix greetings workflow for PRs from forks
  .github/workflows/greetings.yml
Due: none

[KYUUBI #7684][SPARK] Gate the python tests on the SPARK_HOME PySpark version
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AuthzSessionUserSuite.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/ExecutePythonSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #7690] Fix DynFields javadoc copied from the method variants
  kyuubi-util/src/main/java/org/apache/kyuubi/util/reflect/DynFields.java
Due: none

[DOC] Reformat client docs from RST to Markdown
  docs/client/advanced/configurations.md
  docs/client/advanced/configurations.rst
  docs/client/advanced/features/engine_type.md
  docs/client/advanced/features/engine_type.rst
  docs/client/advanced/features/index.md
  docs/client/advanced/features/index.rst
  docs/client/advanced/features/plan_only.md
  docs/client/advanced/index.md
  docs/client/advanced/index.rst
  docs/client/advanced/logging.md
  docs/client/advanced/logging.rst
  docs/client/bi_tools/dbeaver.md
  docs/client/bi_tools/dbeaver.rst
  docs/client/bi_tools/index.md
  docs/client/bi_tools/index.rst
  docs/client/bi_tools/powerbi.md
  docs/client/bi_tools/powerbi.rst
  docs/client/bi_tools/superset.md
  docs/client/bi_tools/superset.rst
  docs/client/bi_tools/tableau.md
  docs/client/bi_tools/tableau.rst
  docs/client/cli/hive_beeline.md
  docs/client/cli/hive_beeline.rst
  docs/client/cli/index.md
  docs/client/cli/index.rst
  docs/client/index.md
  docs/client/index.rst
  docs/client/jdbc/hive_jdbc.md
  docs/client/jdbc/index.md
  docs/client/jdbc/index.rst
  docs/client/jdbc/kyuubi_jdbc.md
  docs/client/jdbc/kyuubi_jdbc.rst
  docs/client/python/index.md
  docs/client/python/index.rst
  docs/client/rest/index.md
  docs/client/rest/index.rst
  docs/client/ui/index.md
  docs/client/ui/index.rst
Due: none

[DOC] Reformat quick start docs from RST to Markdown
  docs/client/bi_tools/datagrip.md
  docs/client/bi_tools/hue.md
  docs/client/jdbc/hive_jdbc.md
  docs/conf.py
  docs/quick_start/index.md
  docs/quick_start/index.rst
  docs/quick_start/quick_start.md
  docs/quick_start/quick_start.rst
  docs/quick_start/quick_start_with_jdbc.md
  docs/quick_start/quick_start_with_jdbc.rst
Due: none

[KYUUBI #7692][TESTS] Fix testFindLocalInetAddress on loopback-only hosts
  kyuubi-util/src/test/java/org/apache/kyuubi/util/JavaUtilsTest.java
Due: none

[KYUUBI #7694][TESTS] Assert the timestamp and random fields of generated UUIDv7 values
  kyuubi-util/src/test/java/org/apache/kyuubi/util/UuidUtilsTest.java
Due: none

[DOC] Reformat quick start docs from RST to Markdown
  docs/client/advanced/configurations.md
  docs/client/advanced/features/engine_resources.rst
  docs/client/advanced/features/engine_share_level.rst
  docs/client/advanced/features/engine_ttl.rst
  docs/client/advanced/features/engine_type.md
  docs/client/advanced/features/index.md
  docs/client/advanced/features/scala.rst
  docs/client/advanced/index.md
  docs/client/advanced/kerberos.md
  docs/client/advanced/logging.md
  docs/client/advanced/plan_only.md
  docs/client/cli/index.md
  docs/client/jdbc/kyuubi_jdbc.md
  docs/conf.py
  docs/security/authentication.md
Due: none

[KYUUBI #7668][SPARK] Use UUIDv7 for executor podNamePrefix to avoid same-millisecond collision
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/SparkSQLEngineSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #7697] Reject hiddenImpl on a DynConstructors builder without a base class
  kyuubi-util/src/main/java/org/apache/kyuubi/util/reflect/DynConstructors.java
  kyuubi-util/src/test/java/org/apache/kyuubi/util/reflect/DynConstructorsTest.java
Due: none

[KYUUBI #7699] Skip the argument copy in invokeChecked when the argument count already matches
  kyuubi-util/src/main/java/org/apache/kyuubi/util/reflect/DynMethods.java
  kyuubi-util/src/test/java/org/apache/kyuubi/util/reflect/DynMethodsTest.java
Due: none

[KYUUBI #7701] Log the resolved host in the findLocalInetAddress loopback warning
  kyuubi-util/src/main/java/org/apache/kyuubi/util/JavaUtils.java
Due: none

[KYUUBI #7458] Adopt config audience for statement interceptors
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

[KYUUBI #7458] Expose the statement id to the statement interceptor
  docs/extensions/server/statement_interceptor.rst
  extensions/server/kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/StatementInterceptContext.java
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecutedCommandExec.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/StatementInterception.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/StatementInterceptorSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/StatementInterceptionSuite.scala
Due: kyuubi-common

[KYUUBI #7458] Add English doc for statement interceptor
  docs/extensions/server/index.rst
  docs/extensions/server/statement_interceptor.rst
Due: none

[KYUUBI #7458] Add interceptor realUser and a SQLState for rejected statements
  docs/extensions/server/statement_interceptor.rst
  extensions/server/kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/StatementInterceptContext.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/StatementInterception.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/StatementInterceptorSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/StatementInterceptionSuite.scala
Due: none

[KYUUBI #7458] Simplify statement interceptor and keep kyuubi-common unchanged
  docs/extensions/server/statement_interceptor.rst
  extensions/server/kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/StatementInterceptContext.java
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/StatementInterception.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: kyuubi-common

[KYUUBI #7458] Support per-statement config overlay
  docs/extensions/server/statement_interceptor.rst
  extensions/server/kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/StatementInterceptResult.java
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/StatementInterception.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/StatementInterceptorSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/StatementInterceptionSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #7458] Add server-side statement interceptor SPI
  docs/configuration/settings.md
  extensions/server/kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/StatementInterceptContext.java
  extensions/server/kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/StatementInterceptResult.java
  extensions/server/kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/StatementInterceptor.java
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/PluginLoader.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/StatementInterception.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/StatementInterceptorSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/PluginLoaderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/StatementInterceptionSuite.scala
Due: kyuubi-common

[KYUUBI #7458] Avoid unnecessary SQLConf clones
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/StatementInterception.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #7458] Fix statement interceptor test JDBC prefix
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/StatementInterceptorSuite.scala
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
