Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

chmod
  docker/playground/conf/hadoop-env.sh
  docker/playground/conf/hive-env.sh
  docker/playground/conf/kyuubi-env.sh
  docker/playground/conf/spark-env.sh
Due: none

Update the NOTICE files for 2026
  NOTICE
  NOTICE-binary
  extensions/spark/kyuubi-spark-authz-shaded/src/main/resources/META-INF/NOTICE
  extensions/spark/kyuubi-spark-lineage-shaded/src/main/resources/META-INF/NOTICE
  externals/kyuubi-flink-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
Due: kyuubi-spark-sql-engine

[KYUUBI #7291] Update the NOTICE files for 2026
  NOTICE
  NOTICE-binary
  extensions/spark/kyuubi-spark-authz-shaded/src/main/resources/META-INF/NOTICE
  extensions/spark/kyuubi-spark-lineage-shaded/src/main/resources/META-INF/NOTICE
  externals/kyuubi-flink-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
Due: kyuubi-spark-sql-engine

[KYUUBI #7291] Update the NOTICE files for 2026
  NOTICE
  NOTICE-binary
  extensions/spark/kyuubi-spark-authz-shaded/src/main/resources/META-INF/NOTICE
  externals/kyuubi-flink-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/NOTICE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
Due: kyuubi-spark-sql-engine

[KYUUBI #7292] Add instruction to archive older releases
  docs/contributing/code/release.md
Due: none

Fix svn delete command example
  docs/contributing/code/release.md
Due: none

nit
  docs/contributing/code/release.md
Due: none

[KYUUBI #7295] Upgrade components of play ground to recent versions
  docker/playground/README.md
  docker/playground/build-image.sh
  docker/playground/compose.yml
  docker/playground/conf/hadoop-env.sh
  docker/playground/conf/hive-env.sh
  docker/playground/conf/kyuubi-env.sh
  docker/playground/conf/spark-env.sh
  docker/playground/image/kyuubi-playground-base.Dockerfile
  docker/playground/image/kyuubi-playground-hadoop.Dockerfile
  docker/playground/image/kyuubi-playground-kyuubi.Dockerfile
  docker/playground/image/kyuubi-playground-spark.Dockerfile
Due: none

[KYUUBI #7290] Prevent engine session leak after Kyuubi session closed
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common

Remove redundant concatenation with the list of conditions
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
Due: none

[KYUUBI #7299] [AUTHZ] Remove redundant concatenation with the list of conditions
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
Due: none

[KYUUBI #7180][LINEAGE] Subquery in the project should drill down to get the column lineage relationships
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParseHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParserHelperSuite.scala
Due: none

improve the subquery extraction operator
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParseHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParserHelperSuite.scala
Due: none

improve code
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParseHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParserHelperSuite.scala
Due: none

add pyhive connection socket timeout
  python/pyhive/hive.py
Due: none

add to http method as well
  python/pyhive/hive.py
Due: none

add test
  python/pyhive/tests/test_hive.py
Due: none

[KYUUBI #7301] Fix engine not killed after deregisterEngine
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: none

[KYUUBI #7180][LINEAGE] Subquery in the project should always drill down to get the lineage relationships
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParseHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParserHelperSuite.scala
Due: none

Bump Spark 4.1.1
  .github/workflows/master.yml
  pom.xml
Due: none

[KYUUBI #7303] Bump Spark 4.1.1
  .github/workflows/master.yml
  pom.xml
Due: none

[KYUUBI #7305] Fix DBeaver connect returned all tables. return tables from current database now
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/dialect/MySQLDialect.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/dialect/StarRocksDialect.scala
Due: none

[KYUUBI #7304] Fix NumberFormatException when parsing ISO 8601 duration for session idle timeout
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/session/SessionIdleTimeoutSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #7301] update check condition
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: none

JSON metrics report path supports variables substitution
  docs/configuration/settings.md
  docs/deployment/migration-guide.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/JsonReporterService.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStoreConf.scala
Due: kyuubi-common

fix
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
Due: kyuubi-common

rename
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/WithFlinkSQLEngineLocal.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/WithFlinkSQLEngineOnYarn.scala
  integration-tests/kyuubi-flink-it/src/test/scala/org/apache/kyuubi/it/flink/operation/FlinkOperationSuite.scala
  integration-tests/kyuubi-flink-it/src/test/scala/org/apache/kyuubi/it/flink/operation/FlinkOperationSuiteOnYarn.scala
  integration-tests/kyuubi-hive-it/src/test/scala/org/apache/kyuubi/it/hive/operation/KyuubiOperationHiveEnginePerConnectionSuite.scala
  integration-tests/kyuubi-hive-it/src/test/scala/org/apache/kyuubi/it/hive/operation/KyuubiOperationHiveEnginePerUserSuite.scala
  integration-tests/kyuubi-hive-it/src/test/scala/org/apache/kyuubi/it/hive/operation/KyuubiOperationHiveEngineYarnModeSuite.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/clickhouse/WithKyuubiServerAndClickHouseContainer.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/doris/WithKyuubiServerAndDorisContainer.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/impala/WithKyuubiServerAndImpalaContainer.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/mysql/WithKyuubiServerAndMySQLContainer.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/mysql/WithKyuubiServerAndMySQLContainerYarnMode.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/phoenix/WithKyuubiServerAndPhoenixContainer.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/postgresql/WithKyuubiServerAndPostgreSQLContainer.scala
  integration-tests/kyuubi-trino-it/src/test/scala/org/apache/kyuubi/it/trino/WithKyuubiServerAndTrinoContainer.scala
  integration-tests/kyuubi-trino-it/src/test/scala/org/apache/kyuubi/it/trino/server/TrinoFrontendSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
Due: kyuubi-common
