Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[RELEASE] Bump 1.3.1-SNAPSHOT
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-tpcds/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-spark-monitor/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kubernetes/integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

Revert "HFileBootstrapIndex"
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
Due: kyuubi-common

1. Add sql classification of auxiliary statement 2. Add sql classification of dql
  dev/kyuubi-extension-spark-3-1/src/main/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/test/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

Remove unused hudi spark conf
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
Due: kyuubi-common

Default use in-memory in Spark engine test
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

Revert "Default use in-memory in Spark engine test"
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

Use in-memory catalog for DataLake test
  kyuubi-common/src/test/scala/org/apache/kyuubi/DeltaSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/IcebergSuiteMixin.scala
Due: kyuubi-common

Support user use the self-defined matching rule, named sql-classification.json
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiGetSqlClassification.scala
Due: none

Add bug-report based on yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

[KYUUBI #1035] Add classification of SQL_Type: this PR is just for DML
  dev/kyuubi-extension-spark-3-1/src/main/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/test/resources/sql-classification-default.json
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

engine side generate
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/cli/HandleIdentifier.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionHandle.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiSessionEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/EventLoggingServiceSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

nit
  kyuubi-common/src/main/scala/org/apache/kyuubi/cli/HandleIdentifier.scala
Due: kyuubi-common

Add Z-Order extensions to support optimize SQL
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-extension-spark-3-1/src/main/antlr4/org/apache/kyuubi/zorder/ZorderSqlExtensions.g4
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/KyuubiZorderExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/OptimizeZorderCommand.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/Zorder.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderBeforeWrite.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderBytesUtils.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderException.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSparkSqlExtensionsParser.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSqlAstBuilder.scala
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
  pom.xml
Due: none

[KYUUBI #939] Add Z-Order extensions to support optimize SQL
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-extension-spark-3-1/src/main/antlr4/org/apache/kyuubi/zorder/ZorderSqlExtensions.g4
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/KyuubiZorderExtension.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/OptimizeZorderCommand.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/Zorder.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderBeforeWrite.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderBytesUtils.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderException.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSparkSqlExtensionsParser.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/zorder/ZorderSqlAstBuilder.scala
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
  pom.xml
Due: none

add tableOptions
  kyuubi-common/src/test/scala/org/apache/kyuubi/DataLakeSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/DeltaSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/IcebergSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicHudiJDBCTests.scala
Due: kyuubi-common

cleanup
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionHandle.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common, kyuubi-ha

engine ref id
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: kyuubi-ha

nit
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-ha

Refine pom.xml
  dev/kyuubi-extension-spark-3-1/pom.xml
  pom.xml
Due: none

[DEPS] Bump jersey 2.30
  pom.xml
Due: none

Update dependencyList
  dev/dependencyList
Due: none

Address comments
  pom.xml
Due: none

[KYUUBI #703][FOLLOWUP][DEPS][TEST] Reduce Hudi dependencies
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-common/src/test/scala/org/apache/kyuubi/DeltaSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/IcebergSuiteMixin.scala
  kyuubi-server/pom.xml
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #1043] Let spark history logger handle events asynchronously
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkContextHelper.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1008] Implement Hadoop File System Delegation Token Provider
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProvider.scala
Due: none

[KYUUBI #1008] Implement Hadoop File System Delegation Token Provider
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
  kyuubi-server/src/main/resources/META-INF/services/org.apache.kyuubi.credentials.HadoopDelegationTokenProvider
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProvider.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithSecuredDFSService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopCredentialsManagerSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProviderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/MiniDFSService.scala
Due: kyuubi-common

[KYUUBI #939][FOLLOWUP] Refine pom.xml
  dev/kyuubi-extension-spark-3-1/pom.xml
  pom.xml
Due: none

indention
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
Due: kyuubi-ha

[KYUUBI #1042] [DEPS] Bump jersey 2.30
  dev/dependencyList
  pom.xml
Due: none

[KYUUBI #1032] Keep server session id and engien session id consistent
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiSessionEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/EventLoggingServiceSuite.scala
Due: kyuubi-ha

add getTableOption
  kyuubi-common/src/test/scala/org/apache/kyuubi/HudiSuiteMixin.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicHudiJDBCTests.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  pom.xml
Due: kyuubi-common

fix error commit
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  pom.xml
Due: kyuubi-common

[KYUUBI #1008] Implement Hadoop File System Delegation Token Provider
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

Merge branch 'master' into branch-1.3_get-sql-type-for-aux
  .idea/icon.png
  .idea/vcs.xml
Due: none

change format
  .idea/vcs.xml
Due: none

[KYUUBI #1031] Implement api: /sessions/count
  dev/dependencyList
  kyuubi-server/pom.xml
  kyuubi-server/src/main/java/org/apache/kyuubi/server/api/v1/dto/SessionOpenedCount.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/RestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/api.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/RestFrontendServiceSuite.scala
  pom.xml
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
