Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #544] Deregister engine when meeting specified stacktrace
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

update scalastyle conf
  scalastyle-config.xml
Due: none

stopping -> deregistering
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
Due: kyuubi-spark-sql-engine

update code style
  kyuubi-common/src/main/scala-2.12/scala/util/Using.scala
Due: kyuubi-common

codestyle
  kyuubi-common/src/main/scala-2.12/scala/util/Using.scala
Due: kyuubi-common

[KYUUBI #544] Deregister engine when meeting specified exception stacktraces
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #555] [INFRA] Backport Using from Scala 2.13
  LICENSE
  kyuubi-common/src/main/scala-2.12/scala/util/Using.scala
Due: kyuubi-common

#551 TEST JDK 11 in travis
  .travis.yml
Due: none

[KYUUBI #544][TEST] Add ut for engine deregister exception
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkSQLEngineDeregisterSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkSQLEngineListenerSuite.scala
Due: kyuubi-spark-sql-engine

fix ut
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkSQLEngineDeregisterSuite.scala
Due: kyuubi-spark-sql-engine

improvement
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkSQLEngineDeregisterSuite.scala
Due: kyuubi-spark-sql-engine

log ve
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
Due: kyuubi-spark-sql-engine

simplify ut
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkSQLEngineDeregisterSuite.scala
Due: kyuubi-spark-sql-engine

Forbid set env:* in thrift connection configurations
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[BUILD] Add maven profile mirror-cn
  pom.xml
Due: none

[KYUUBI #554] [TEST] Remove deprecated FunSuite
  kyuubi-common/src/test/scala/org/apache/kyuubi/KyuubiFunSuite.scala
  scalastyle-config.xml
Due: kyuubi-common

update
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

find cause
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
Due: kyuubi-spark-sql-engine

remove blank line
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #562] [BUILD] Add maven profile mirror-cn
  pom.xml
Due: none

[KYUUBI #561] Forbid set env:* in thrift connection configurations
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #544] Add UT for engine deregister exception and refactor package name for SparkSQLEngineListenerSuite
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkSQLEngineDeregisterSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkSQLEngineListenerSuite.scala
Due: kyuubi-spark-sql-engine

[TEST] Bump scalatest 3.2.8
  pom.xml
  scalastyle-config.xml
Due: none

[ICON] Add Kyuubi icon for Jetbrains Toolbox
  .gitignore
  .idea/icon.png
Due: none

[KYUUBI #544] Combine deregister exception messages and stacktraces
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLEngineListener.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkSQLEngineDeregisterSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

init
  kyuubi-main/src/test/resources/tpcds-1_4/q1/q1.output.schema
  kyuubi-main/src/test/resources/tpcds-1_4/q1/q1.sql
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/tpcds/TPCDSOutputSchemaSuite.scala
Due: kyuubi-main

license
  pom.xml
Due: none

line
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/tpcds/TPCDSOutputSchemaSuite.scala
Due: kyuubi-main

goldenfile
  kyuubi-main/src/test/resources/tpcds-1_4/q1/q1.output.schema
Due: kyuubi-main

info
  kyuubi-main/src/test/resources/log4j.properties
Due: kyuubi-main

license
  kyuubi-main/src/test/resources/tpcds-1_4/q1/q1.sql
Due: kyuubi-main

rat
  pom.xml
Due: none

address comment
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/tpcds/TPCDSOutputSchemaSuite.scala
Due: kyuubi-main

format
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/tpcds/TPCDSOutputSchemaSuite.scala
Due: kyuubi-main

[KYUUBI #564] [ICON] Add Kyuubi icon for Jetbrains Toolbox
  .gitignore
  .idea/icon.png
Due: none

[KYUUBI #563] [TEST] Bump scalatest 3.2.8
  pom.xml
  scalastyle-config.xml
Due: none

[KYUUBI #566] Add TPCDS query output schema check (#566)
  kyuubi-main/src/test/resources/log4j.properties
  kyuubi-main/src/test/resources/tpcds-1_4/q1/q1.output.schema
  kyuubi-main/src/test/resources/tpcds-1_4/q1/q1.sql
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/tpcds/TPCDSOutputSchemaSuite.scala
  pom.xml
Due: kyuubi-main

Add TPCDS query output schema check for q2
  kyuubi-main/src/test/resources/tpcds-1_4/q2/q2.output.schema
  kyuubi-main/src/test/resources/tpcds-1_4/q2/q2.sql
Due: kyuubi-main

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
