Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

chore: remove docs/superpowers
  docs/superpowers/plans/2026-07-08-jdk25-subject-getsubject.md
  docs/superpowers/specs/2026-07-08-jdk25-subject-getsubject-design.md
Due: none

feat: replace SubjectUtil with full Hadoop implementation for JDK 25
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/SubjectUtil.java
  kyuubi-hive-jdbc/src/test/java/org/apache/kyuubi/jdbc/hive/auth/SubjectUtilTest.java
Due: none

fix: replace Subject.doAs() with SubjectUtil.doAs() in HttpAuthUtils and TSubjectTransport
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/HttpAuthUtils.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/TSubjectTransport.java
Due: none

test: replace SubjectUtilTest with full Hadoop TestSubjectUtil port
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/SubjectUtil.java
  kyuubi-hive-jdbc/src/test/java/org/apache/kyuubi/jdbc/hive/auth/SubjectUtilTest.java
Due: none

[AUTHZ] Bump Hudi 1.2.0 and enable Hudi tests for Spark 4.0/4.1
  extensions/spark/kyuubi-spark-authz/src/main/resources/META-INF/services/org.apache.kyuubi.plugin.spark.authz.serde.TableExtractor
  extensions/spark/kyuubi-spark-authz/src/main/resources/table_command_spec.json
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/serde/tableExtractors.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/gen/HudiCommands.scala
  pom.xml
Due: none

Optimize InferRebalanceAndSortOrders to support skip non-cheap keys and local sort
  docs/extensions/engines/spark/rules.md
  extensions/spark/kyuubi-extension-spark-3-5/src/main/scala/org/apache/kyuubi/sql/InferRebalanceAndSortOrders.scala
  extensions/spark/kyuubi-extension-spark-3-5/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  extensions/spark/kyuubi-extension-spark-3-5/src/main/scala/org/apache/kyuubi/sql/RebalanceBeforeWriting.scala
  extensions/spark/kyuubi-extension-spark-3-5/src/test/scala/org/apache/spark/sql/RebalanceBeforeWritingSuite.scala
  extensions/spark/kyuubi-extension-spark-4-0/src/main/scala/org/apache/kyuubi/sql/InferRebalanceAndSortOrders.scala
  extensions/spark/kyuubi-extension-spark-4-0/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  extensions/spark/kyuubi-extension-spark-4-0/src/main/scala/org/apache/kyuubi/sql/RebalanceBeforeWriting.scala
  extensions/spark/kyuubi-extension-spark-4-0/src/test/scala/org/apache/spark/sql/RebalanceBeforeWritingSuite.scala
  extensions/spark/kyuubi-extension-spark-4-1/src/main/scala/org/apache/kyuubi/sql/InferRebalanceAndSortOrders.scala
  extensions/spark/kyuubi-extension-spark-4-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  extensions/spark/kyuubi-extension-spark-4-1/src/main/scala/org/apache/kyuubi/sql/RebalanceBeforeWriting.scala
  extensions/spark/kyuubi-extension-spark-4-1/src/test/scala/org/apache/spark/sql/RebalanceBeforeWritingSuite.scala
Due: none

[AUTHZ] Bump Paimon 1.4.2 and enable Paimon tests for Spark 4.0
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/PaimonCatalogRangerSparkExtensionSuite.scala
  pom.xml
Due: none

enable authz ci for spark 4.0 and 4.1
  dev/kyuubi-codecov/pom.xml
Due: aggregate

refactor: move SubjectUtil to kyuubi-util; fix Javadoc and Kyuubi-managed comments
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/HttpAuthUtils.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/TSubjectTransport.java
  kyuubi-util/src/main/java/org/apache/kyuubi/util/SubjectUtil.java
  kyuubi-util/src/test/java/org/apache/kyuubi/util/SubjectUtilTest.java
Due: none

tune paimon and hudi version
  pom.xml
Due: none

fix
  pom.xml
Due: none

[KYUUBI #7458] Harden statement interceptor lifecycle and rejection handling
  docs/extensions/server/statement_interceptor.rst
  extensions/server/kyuubi-server-plugin/src/main/java/org/apache/kyuubi/plugin/StatementInterceptor.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/StatementInterception.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/StatementInterceptorSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/StatementInterceptionSuite.scala
Due: none

comment
  docs/extensions/engines/spark/rules.md
  extensions/spark/kyuubi-extension-spark-3-5/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  extensions/spark/kyuubi-extension-spark-4-0/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  extensions/spark/kyuubi-extension-spark-4-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
Due: none

[KYUUBI #7549] Fix Subject.getSubject() in Kyuubi JDBC driver for JDK 25 compatibility
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/HttpAuthUtils.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/TSubjectTransport.java
  kyuubi-util/src/main/java/org/apache/kyuubi/util/SubjectUtil.java
  kyuubi-util/src/test/java/org/apache/kyuubi/util/SubjectUtilTest.java
Due: none

[KYUUBI #7527] [JDBC] Respect interrupt while waiting for engine launch
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiDataSource.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiInterruptedException.java
  kyuubi-hive-jdbc/src/test/java/org/apache/kyuubi/jdbc/hive/KyuubiConnectionTest.java
Due: none

[AUTHZ] Fix Paimon Changing Column Type test to use real type change
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/PaimonCatalogRangerSparkExtensionSuite.scala
Due: none

mention hudi 1.1 is the latest version that support Java 8
  pom.xml
Due: none

[KYUUBI #7458] Fix statement interceptor test JDBC prefix
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/StatementInterceptorSuite.scala
Due: none

Update authz README for Supported Apache Spark Versions
  extensions/spark/kyuubi-spark-authz/README.md
Due: none

[KYUUBI] Bump Flink 1.20.5
  pom.xml
Due: none

[KYUUBI] Bump Log4j 2.26.1
  dev/dependencyList
  pom.xml
Due: none

[KYUUBI #7551] [Spark] Optimize InferRebalanceAndSortOrders to support skip non-cheap keys and local sort
  docs/extensions/engines/spark/rules.md
  extensions/spark/kyuubi-extension-spark-3-5/src/main/scala/org/apache/kyuubi/sql/InferRebalanceAndSortOrders.scala
  extensions/spark/kyuubi-extension-spark-3-5/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  extensions/spark/kyuubi-extension-spark-3-5/src/main/scala/org/apache/kyuubi/sql/RebalanceBeforeWriting.scala
  extensions/spark/kyuubi-extension-spark-3-5/src/test/scala/org/apache/spark/sql/RebalanceBeforeWritingSuite.scala
  extensions/spark/kyuubi-extension-spark-4-0/src/main/scala/org/apache/kyuubi/sql/InferRebalanceAndSortOrders.scala
  extensions/spark/kyuubi-extension-spark-4-0/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  extensions/spark/kyuubi-extension-spark-4-0/src/main/scala/org/apache/kyuubi/sql/RebalanceBeforeWriting.scala
  extensions/spark/kyuubi-extension-spark-4-0/src/test/scala/org/apache/spark/sql/RebalanceBeforeWritingSuite.scala
  extensions/spark/kyuubi-extension-spark-4-1/src/main/scala/org/apache/kyuubi/sql/InferRebalanceAndSortOrders.scala
  extensions/spark/kyuubi-extension-spark-4-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  extensions/spark/kyuubi-extension-spark-4-1/src/main/scala/org/apache/kyuubi/sql/RebalanceBeforeWriting.scala
  extensions/spark/kyuubi-extension-spark-4-1/src/test/scala/org/apache/spark/sql/RebalanceBeforeWritingSuite.scala
Due: none

mv to injectPostHocResolutionRule
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtension.scala
Due: none

style
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtension.scala
Due: none

[KYUUBI #7552] Authz supports Spark 4.0 and 4.1
  dev/kyuubi-codecov/pom.xml
  extensions/spark/kyuubi-spark-authz/README.md
  extensions/spark/kyuubi-spark-authz/src/main/resources/META-INF/services/org.apache.kyuubi.plugin.spark.authz.serde.TableExtractor
  extensions/spark/kyuubi-spark-authz/src/main/resources/table_command_spec.json
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtension.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/rule/Authorization.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/rule/rowfilter/FilterDataSourceV2Strategy.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/rule/rowfilter/RuleReplaceShowObjectCommands.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/serde/package.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/serde/tableExtractors.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/SparkSessionProvider.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/gen/HudiCommands.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/gen/TableCommands.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/PaimonCatalogRangerSparkExtensionSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/datamasking/DataMaskingForIcebergSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/datamasking/DataMaskingForJDBCV2Suite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/datamasking/DataMaskingTestBase.scala
  pom.xml
Due: aggregate

[KYUUBI #7553] Bump Flink 1.20.5
  pom.xml
Due: none

[KYUUBI #7554] Bump Log4j 2.26.1
  dev/dependencyList
  pom.xml
Due: none

[KYUUBI #7529][DATA-AGENT] Harden cross-server session routing
  externals/kyuubi-data-agent-engine/src/main/scala/org/apache/kyuubi/engine/dataagent/session/DataAgentSessionImpl.scala
  externals/kyuubi-data-agent-engine/src/main/scala/org/apache/kyuubi/engine/dataagent/session/DataAgentSessionManager.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/DataAgentSessionRoute.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/DataAgentSessionRouteSuite.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/DiscoveryClientTests.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/DataAgentResource.scala
Due: kyuubi-ha

[KYUUBI #7529][DATA-AGENT] Support cross-server session routing
  externals/kyuubi-data-agent-engine/src/main/scala/org/apache/kyuubi/engine/dataagent/DataAgentTBinaryFrontendService.scala
  externals/kyuubi-data-agent-engine/src/main/scala/org/apache/kyuubi/engine/dataagent/session/DataAgentSessionImpl.scala
  externals/kyuubi-data-agent-engine/src/main/scala/org/apache/kyuubi/engine/dataagent/session/DataAgentSessionManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/DataAgentSessionRoute.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/DataAgentSessionRouteSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/DataAgentResource.scala
  kyuubi-server/web-ui/src/api/data-agent/index.ts
Due: kyuubi-common, kyuubi-ha

[KYUUBI #7529][DATA-AGENT] Cover cross-server routing corner cases
  externals/kyuubi-data-agent-engine/src/main/scala/org/apache/kyuubi/engine/dataagent/session/DataAgentSessionImpl.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/DataAgentSessionRoute.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/DataAgentSessionRouteSuite.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/DiscoveryClientTests.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClientSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/DataAgentResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/DataAgentResourceAuthorizationSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/DataAgentResourceSuite.scala
Due: kyuubi-ha

[KYUUBI #7529][DATA-AGENT] Expire unreachable session routes
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/DataAgentResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/DataAgentResourceSuite.scala
Due: none

[KYUUBI #7529][DATA-AGENT] Simplify session route encoding
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/DataAgentSessionRoute.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/DataAgentSessionRouteSuite.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/DiscoveryClientTests.scala
Due: kyuubi-ha

[KYUUBI #7529][DATA-AGENT] Trim session route lifecycle changes
  externals/kyuubi-data-agent-engine/src/main/scala/org/apache/kyuubi/engine/dataagent/session/DataAgentSessionImpl.scala
  externals/kyuubi-data-agent-engine/src/main/scala/org/apache/kyuubi/engine/dataagent/session/DataAgentSessionManager.scala
Due: none

[KYUUBI #7529][DATA-AGENT] Consolidate route endpoint tests
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/DataAgentResourceSuite.scala
Due: none

[KYUUBI #7529][DATA-AGENT] Reuse engine service discovery
  externals/kyuubi-data-agent-engine/src/main/scala/org/apache/kyuubi/engine/dataagent/DataAgentTBinaryFrontendService.scala
  externals/kyuubi-data-agent-engine/src/main/scala/org/apache/kyuubi/engine/dataagent/session/DataAgentSessionManager.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/DataAgentSessionRoute.scala
Due: kyuubi-ha

[KYUUBI #7529][DATA-AGENT] Clarify existing session handle reuse
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/DataAgentResource.scala
Due: none

[KYUUBI #7529][DATA-AGENT] Fix scalastyle violation
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/DiscoveryClientTests.scala
Due: kyuubi-ha

Forward unregistered non-kyuubi configs to all engines for backward compatibility
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
Due: kyuubi-common

[INFRA] Remove gluten integration test module
  .github/workflows/gluten.yml
  docs/deployment/spark/gluten.md
  docs/deployment/spark/index.rst
  integration-tests/kyuubi-gluten-it/pom.xml
  integration-tests/kyuubi-gluten-it/src/test/resources/load-tpcds-tiny.sql
  integration-tests/kyuubi-gluten-it/src/test/resources/load-tpch-tiny.sql
  integration-tests/kyuubi-gluten-it/src/test/resources/log4j2-test.xml
  integration-tests/kyuubi-gluten-it/src/test/scala/org/apache/kyuubi/it/gluten/GlutenSuite.scala
  integration-tests/kyuubi-gluten-it/src/test/scala/org/apache/kyuubi/it/gluten/TPCUtils.scala
  integration-tests/kyuubi-gluten-it/src/test/scala/org/apache/kyuubi/it/gluten/tpcds/GlutenTPCDSQuerySuite.scala
  integration-tests/kyuubi-gluten-it/src/test/scala/org/apache/kyuubi/it/gluten/tpch/GlutenTPCHQuerySuite.scala
  integration-tests/pom.xml
  kyuubi-common/src/test/scala/org/apache/kyuubi/GlutenSuiteMixin.scala
  kyuubi-util-scala/src/test/java/org/apache/kyuubi/tags/GlutenTest.java
Due: kyuubi-common
