Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

replace to getSimpleName
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/SchemaHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #2087] Add issue template for documentation improvement
  .github/ISSUE_TEMPLATE/doc-improvement-report.yml
Due: none

[KYUUBI #2023] Hive Backend Engine - Shade HiveSQLEngine runtime
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/LICENSE
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/NOTICE
Due: none

[KYUUBI #1498] Support operation log for ExecuteScala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteScala.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #2241] Remove unused deployment documents of Spark
  docs/deployment/spark/basics.md
  docs/deployment/spark/driver.md
  docs/deployment/spark/dynamicpartitionpruning.md
  docs/deployment/spark/ess.md
  docs/deployment/spark/eventqueue.md
  docs/deployment/spark/executor.md
  docs/deployment/spark/heartbeart.md
  docs/deployment/spark/locality.md
  docs/deployment/spark/monitering.md
  docs/deployment/spark/shuffle.md
  docs/deployment/spark/speculation.md
  docs/deployment/spark/sql.md
Due: none

[KYUUBI #2244] load-kyuubi-env.sh should print SPARK_ENGINE_HOME for consistency
  bin/load-kyuubi-env.sh
Due: none

Pick Commons-Logging Dependices Out of Hudi
  kyuubi-server/pom.xml
  pom.xml
Due: none

[KYUUBI #2023] Hive Backend Engine - Shade HiveSQLEngine runtime
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/LICENSE
  externals/kyuubi-hive-sql-engine/src/main/resources/META-INF/NOTICE
Due: none

[KYUUBI #2244] load-kyuubi-env.sh should print SPARK_ENGINE_HOME for consistent
  bin/load-kyuubi-env.sh
Due: none

update flink doc links
  docs/deployment/engine_on_yarn.md
  docs/deployment/flink/basics.md
  docs/deployment/settings.md
  docs/monitor/logging.md
  kyuubi-server/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
Due: none

replace
  kyuubi-server/pom.xml
  pom.xml
Due: none

ranger tests
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResource.scala
  dev/kyuubi-spark-authz/src/test/resources/sparkSql_hive_jenkins.json
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkAuthorizerSuite.scala
Due: none

ranger tests
  dev/kyuubi-spark-authz/pom.xml
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessRequest.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkAuthorizer.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/spark/util/kyuubi/Utils.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkAuthorizerSuite.scala
  pom.xml
Due: none

remove common-logging
  kyuubi-server/pom.xml
  pom.xml
Due: none

[KYUUBI #1021] Expire CredentialsRef in a proper time to reduce memor…
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/CredentialsRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopCredentialsManagerSuite.scala
Due: kyuubi-common

deps
  dev/kyuubi-spark-authz/pom.xml
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessRequest.scala
  dev/kyuubi-spark-authz/src/test/resources/log4j2-test.properties
  dev/kyuubi-spark-authz/src/test/resources/ranger-spark-security.xml
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerLocalClient.scala
Due: none

[KYUUBI #2207]Support newly added spark data types: TimestampNTZType
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/RowSet.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/SchemaHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

reduce configs
  dev/kyuubi-spark-authz/src/test/resources/sparkSql_hive_jenkins.json
Due: none

rm log4j 1
  dev/kyuubi-spark-authz/src/test/resources/log4j.properties
Due: none

Added: Event Bus
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/EventBus.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/package.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/events/EventBusSuite.scala
Due: kyuubi-common

Added: eventHandler can scribe subclass event
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/EventBus.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/package.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/events/EventBusSuite.scala
  kyuubi-server/src/main/resources/kyuubi-defaults.conf
  metrics/report1260063793215125835.json
Due: kyuubi-common

Added: more test case
  kyuubi-common/src/test/scala/org/apache/kyuubi/events/EventBusSuite.scala
  metrics/report1260063793215125835.json
Due: kyuubi-common

Added: Event Bus
  externals/kyuubi-download/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/package.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/events/EventBusSuite.scala
Due: kyuubi-common

[KYUUBI #1798] Added: Add async event handler execution
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/EventBus.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/events/EventBusSuite.scala
Due: kyuubi-common

[Update] JsonLoggerEventHandler instead of LoggingService
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/EventBus.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/handler/JsonLoggingEventHandler.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/handler/package.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/events/EventBusSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: kyuubi-common

[Removed] Remove some mistakenly changed content
  externals/kyuubi-download/pom.xml
  kyuubi-server/src/main/resources/kyuubi-defaults.conf
Due: none

[Update] JsonLoggerEventHandler instead of LoggingService
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SparkEventLoggingService.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/handler/SparkHistoryLoggingEventHandler.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/handler/SparkJsonLoggingEventHandler.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkContextHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/handler/SparkJsonLoggingEventHandlerSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/AbstractEventLoggingService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/EventBus.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/JsonEventLogger.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/handler/JsonLoggingEventHandler.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/events/EventBusSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiEventLoggingService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[Fixed] address some reviews
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/EventBus.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

rm dead code
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ObjectType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObject.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObjectType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResource.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessType.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObjectSuite.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

rm dead code
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObject.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObjectSuite.scala
Due: none

Updated
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
Due: none

simpler
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObjectActionTypeSuite.scala
  extensions/README.md
  extensions/spark/kyuubi-spark-authz/README.md
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ObjectType.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/OperationType.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObject.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObjectActionType.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObjectType.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessRequest.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResource.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessType.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkAuthorizer.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtension.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkPlugin.scala
  extensions/spark/kyuubi-spark-authz/src/test/resources/log4j2-test.properties
  extensions/spark/kyuubi-spark-authz/src/test/resources/ranger-spark-security.xml
  extensions/spark/kyuubi-spark-authz/src/test/resources/sparkSql_hive_jenkins.json
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResourceSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerLocalClient.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkAuthorizerSuite.scala
  pom.xml
Due: none

add comments
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObject.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResourceSuite.scala
Due: none

Update extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResource.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResource.scala
Due: none

[KYUUBI #1798] Add EventBus module to unify the distribution and subscription of Kyuubi's events
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SparkEventLoggingService.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/handler/SparkHistoryLoggingEventHandler.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/handler/SparkJsonLoggingEventHandler.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkContextHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/handler/SparkJsonLoggingEventHandlerSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/AbstractEventLoggingService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/EventBus.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/handler/JsonLoggingEventHandler.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/events/handler/package.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/events/EventBusSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiEventLoggingService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

minor
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ObjectType.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObject.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResource.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResourceSuite.scala
Due: none

support ranger 0.7
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessRequest.scala
Due: none

delete flink basics.md
  docs/deployment/flink/basics.md
  docs/deployment/flink/index.rst
  docs/deployment/index.rst
Due: none

support ranger 0.6
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerLocalClient.scala
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
