Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

Fix invalid unit-tests-log name
  .github/workflows/master.yml
Due: none

Tune the KSHC code to fix binary-compatible issues
  .github/workflows/master.yml
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveConnectorUtils.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HiveFileIndex.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HiveScan.scala
Due: none

fix
  extensions/spark/kyuubi-spark-authz/pom.xml
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-jdbc-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-server/pom.xml
Due: kyuubi-spark-sql-engine

[KYUUBI #6247] Make KSHC binary compatible with multiple Spark versions
  .github/workflows/master.yml
  extensions/spark/kyuubi-spark-connector-hive/pom.xml
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/HiveConnectorUtils.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HiveFileIndex.scala
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/read/HiveScan.scala
Due: none

fix
  extensions/spark/kyuubi-spark-connector-hive/pom.xml
Due: none

Fix casing in kubectl commands for serviceaccount creation
  docs/deployment/kyuubi_on_kubernetes.md
Due: none

Kyuubi Spark TPC-DS/H Connector cross version test
  .github/workflows/master.yml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
Due: none

[KYUUBI #6441] Kyuubi Spark TPC-DS/H Connector cross version test
  .github/workflows/master.yml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
Due: none

[KYUUBI #6440] Fix casing in kubectl commands for serviceaccount creation
  docs/deployment/kyuubi_on_kubernetes.md
Due: none

[Kyuubi #6437] Fix Spark engine query result save to HDFS
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #6437] Fix Spark engine query result save to HDFS
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #6439] kyuubi-util-scala test jar leaked to compile scope
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-connector-hive/pom.xml
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-jdbc-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-common/pom.xml
  kyuubi-server/pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

update
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-grpc-server/pom.xml
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/server/AbstractKyuubiGrpcFrontendService.scala
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/server/KyuubiGrpcBackendService.scala
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/server/KyuubiGrpcServer.scala
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/server/KyuubiSparkConnectFrontendService.scala
  kyuubi-grpc/src/test/resources/protobuf/test_case.proto
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/client/SimpleRpcClient.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/event/SimpleOperationEventsManager.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/event/SimpleSessionEventsManager.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/operation/SimpleAddOperationImpl.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/operation/SimpleGrpcOperationImpl.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/operation/SimpleGrpcOperationManager.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/operation/SimpleOpenSessionOperationImpl.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/server/GrpcSeverableSuite.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/server/SimpleGrpcServer.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/service/SimpleGrpcBackendService.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/service/SimpleGrpcFrontendService.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/service/SimpleGrpcSeverable.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/session/SimpleGrpcSessionImpl.scala
  kyuubi-grpc/src/test/scala/org/apache/kyuubi/grpc/session/SimpleGrpcSessionManager.scala
Due: kyuubi-common

update
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/event/KyuubiGrpcOperationEventsManager.scala
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/event/KyuubiGrpcSessionEventsManager.scala
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/operation/KyuubiGrpcOperation.scala
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/operation/KyuubiGrpcOperationManager.scala
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/operation/spark/Config.scala
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/operation/spark/KyuubiSparkGrpcOperation.scala
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/server/KyuubiGrpcSeverable.scala
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/session/KyuubiGrpcSession.scala
  kyuubi-grpc-server/src/main/scala/org/apache/kyuubi/grpc/session/KyuubiGrpcSessionManager.scala
  kyuubi-grpc-server/src/test/scala/org/apache/spark/sql/connect/SparkConnectSuite.scala
  kyuubi-grpc-server/src/test/scala/org/apache/spark/sql/connect/SparkConnectUtil.scala
  kyuubi-grpc-server/src/test/scala/org/apache/spark/sql/connect/TestFrontendService.scala
  kyuubi-grpc-server/src/test/scala/org/apache/spark/sql/connect/TestServer.scala
Due: none

Use static regex Pattern instances in JavaUtils
  extensions/spark/kyuubi-spark-connector-common/src/main/java/org/apache/kyuubi/spark/connector/common/JavaUtils.java
Due: none

Fix Gluten CI failure
  docs/deployment/spark/gluten.md
  kyuubi-common/src/test/scala/org/apache/kyuubi/GlutenSuiteMixin.scala
Due: kyuubi-common

Trigger Gluten CI
  .github/workflows/gluten.yml
Due: none

kyuubi-util-scala:test-jar is needed
  integration-tests/kyuubi-gluten-it/pom.xml
Due: none

Bump Hudi 0.15.0
  pom.xml
Due: none

Enable hudi test
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/HudiCatalogRangerSparkExtensionSuite.scala
Due: none

remove spark-authz-hudi-test
  .github/workflows/master.yml
  extensions/spark/kyuubi-spark-authz/pom.xml
Due: none

fix
  extensions/spark/kyuubi-spark-authz/pom.xml
Due: none

[KYUUBI #6451] Bump Hudi 0.15.0 and enable Hudi authZ test for Spark 3.5
  .github/workflows/master.yml
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/HudiCatalogRangerSparkExtensionSuite.scala
  pom.xml
Due: none

Add cross test for Spark 4.0
  .github/workflows/master.yml
Due: none

Improve datalake dependency management
  extensions/spark/kyuubi-spark-authz/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-server/pom.xml
  pom.xml
Due: kyuubi-spark-sql-engine

[KYUUBI #6251][1.9][FOLLOWUP] Replace kyuubi-beeline with beeline in beeline help message
  kyuubi-hive-beeline/src/main/resources/BeeLine.properties
Due: none

[KYUUBI #6447] Use static regex Pattern instances in JavaUtils.timeStringAs and JavaUtils.byteStringAs
  extensions/spark/kyuubi-spark-connector-common/src/main/java/org/apache/kyuubi/spark/connector/common/JavaUtils.java
Due: none

[KYUUBI #6427] Extract data lake artifact names as maven properties
  extensions/spark/kyuubi-spark-authz/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-server/pom.xml
  pom.xml
Due: kyuubi-spark-sql-engine

[KYUUBI #6452] Add cross test for Spark 4.0
  .github/workflows/master.yml
Due: none

ws.rs-api
  LICENSE-binary
  dev/dependencyList
  extensions/spark/kyuubi-spark-authz-shaded/pom.xml
  extensions/spark/kyuubi-spark-authz/pom.xml
  kyuubi-server/pom.xml
  pom.xml
Due: none

Add CI for Spark 4.0
  .github/workflows/master.yml
  pom.xml
Due: none

CI for Spark 4.
  .github/workflows/master.yml
Due: none

fix
  .github/workflows/master.yml
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
