Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

get all attribute
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClient.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/Engine.java
Due: kyuubi-ha

add log
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClient.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClient.scala
Due: kyuubi-ha

[FEATURE] Support Apache Phoenix engine base on jdbc engine
  externals/kyuubi-jdbc-engine/pom.xml
  externals/kyuubi-jdbc-engine/src/main/resources/META-INF/services/org.apache.kyuubi.engine.jdbc.connection.JdbcConnectionProvider
  externals/kyuubi-jdbc-engine/src/main/resources/META-INF/services/org.apache.kyuubi.engine.jdbc.dialect.JdbcDialect
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/dialect/PhoenixDialect.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/phoenix/PhoenixConnectionProvider.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/phoenix/PhoenixRowSetHelper.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/phoenix/PhoenixSchemaHelper.scala
  pom.xml
Due: none

add log
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
Due: kyuubi-ha

add log
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClient.scala
Due: kyuubi-ha

Support LDAPGroupProvider
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/LDAPGroupProvider.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/PluginLoaderSuite.scala
Due: kyuubi-common

support catalog in Database and databaseExtractors
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/serde/Database.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/serde/Descriptor.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/serde/databaseExtractors.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/V2JdbcTableCatalogPrivilegesBuilderSuite.scala
Due: none

Update PluginLoaderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/PluginLoaderSuite.scala
Due: none

[K8S][HELM] Add configuration files support to helm chart
  docker/helm/templates/kyuubi-configmap.yaml
  docker/helm/templates/kyuubi-deployment.yaml
  docker/helm/values.yaml
Due: none

Remove deprecated from description of kyuubi.frontend.bind.host
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

comments
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

Add engine page
  kyuubi-server/web-ui/src/locales/en_US/index.ts
  kyuubi-server/web-ui/src/locales/zh_CN/index.ts
  kyuubi-server/web-ui/src/views/common/use-table.ts
  kyuubi-server/web-ui/src/views/server/engine/index.vue
  kyuubi-server/web-ui/src/views/server/kyuubi-service/index.vue
  kyuubi-server/web-ui/src/views/session/session-statistics/index.vue
  kyuubi-server/web-ui/src/views/session/session-statistics/types.ts
  kyuubi-server/web-ui/src/views/session/sql-statistics/index.vue
Due: none

do not treat launch engine as operation
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSession.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: none

fix Docs
  docs/deployment/settings.md
Due: none

check opened time
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
Due: none

session type
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiOperationEvent.scala
Due: none

save
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: none

session name
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: none

session name
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: none

do not use session.name
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
Due: none

replace for-conf-key-lambda to option chain for a more consistent coding style
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/Command.scala
Due: none

[KYUUBI-4006] Fix the incorrect execution of the source command
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
Due: none

respect session name
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
Due: none

Update kudu.version
  pom.xml
Due: none

Fix comment extra never reads next line
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
Due: none

sendCredentials wrong log
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
Due: none

print stack trace in onError method
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
Due: none

[KYUUBI #3975] Support to post batch session/operation event
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiOperationEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: none

remove unused okStatusWithHint method
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
Due: kyuubi-common

SQL => interactive
  docs/deployment/migration-guide.md
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/SessionType.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStoreSuite.scala
Due: none

retest
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
Due: kyuubi-common

please
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
Due: kyuubi-common

Update maven-shade-plugin version
  pom.xml
Due: none

fix ut
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: none

style fix
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/Command.scala
Due: none

using the origin artifact/group org.apache.phoenix in pom
  externals/kyuubi-jdbc-engine/pom.xml
  pom.xml
Due: none

remove unnecessary seq in ut
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/V2JdbcTableCatalogPrivilegesBuilderSuite.scala
Due: none

use CatalogPluginCatalogExtractor in ResolvedDbObjectNameTableExtractor
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/serde/tableExtractors.scala
Due: none

use CatalogPluginCatalogExtractor in ResolvedDBObjectNameDatabaseExtractor
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/serde/databaseExtractors.scala
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
