Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #4807] [TEST] Retry more times to fix flaky test "spnego batch rest client"
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: none

Fix flaky test - basic batch rest client
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: none

add unit tests
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
Due: none

[KYUUBI #4415][FOLLOWUP] Align the operation handle in server/engine for ExecuteScala, ExecutePython and PlanOnlyStatement
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteScala.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: kyuubi-spark-sql-engine

check batch status before getBatchLocalLog
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: none

[KYUUBI #4807][FOLLOWUP] Fix flaky test "basic batch rest client"
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: none

use consistent batch id, assert app state of batch in FINISHTED or RUNNING state
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: none

update
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: none

refactor, using queryparameter
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/AdminDeleteEngineCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/AdminListEngineCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/opt/CliConfig.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/AdminRestApi.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/AdminRestApiSuite.scala
Due: none

comments
  extensions/spark/kyuubi-spark-lineage/pom.xml
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasClient.scala
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasClientConf.scala
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasEntityHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/ConfigEntry.scala
Due: none

comments
  extensions/spark/kyuubi-spark-lineage/pom.xml
Due: none

change EC spec to secp384r1
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/SignUtils.scala
Due: kyuubi-common

change EC spec to secp521r1
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/SignUtils.scala
Due: kyuubi-common

[KYUUBI #4850] Change default EC spec to secp521r1 for internal session variable signature
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/SignUtils.scala
Due: kyuubi-common

[BUILD] Bump Maven 3.8.8
  pom.xml
Due: none

[KYUUBI #4851] [BUILD] Bump Maven 3.8.8
  pom.xml
Due: none

Switch to Kyuubi Shaded Zookeeper
  .github/workflows/master.yml
  LICENSE-binary
  NOTICE-binary
  bin/kyuubi-zk-cli
  dev/dependencyList
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/DiscoveryPaths.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperACLProvider.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperClientProvider.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClient.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClientSuite.scala
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/ZooKeeperHiveClientHelper.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-zookeeper/pom.xml
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
  kyuubi-zookeeper/src/test/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeperSuite.scala
  pom.xml
  scalastyle-config.xml
Due: kyuubi-ha, kyuubi-spark-sql-engine

Show failed tests
  .github/workflows/master.yml
Due: none

add minor ut
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiServerSuite.scala
Due: none

Change socket "connection refused" message match pattern
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

add restore-keys
  .github/actions/setup-maven/action.yaml
Due: none

test cache restore
  pom.xml
Due: none

Fix flaky test TFrontendServiceSuite
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/TFrontendServiceSuite.scala
Due: kyuubi-common

Relax test message assertion in "sync query causes engine crash"
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: none

Revert "test cache restore"
  pom.xml
Due: none

Update .github/actions/setup-maven/action.yaml
  .github/actions/setup-maven/action.yaml
Due: none

HttpException message should not be null
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/HttpKerberosRequestInterceptor.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/HttpRequestInterceptorBase.java
Due: none

[KYUUBI #4856] [INFRA] Add `restore-keys` for `action/cache`
  .github/actions/setup-maven/action.yaml
Due: none

[KYUUBI #4859] HttpException message should not be null
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/HttpKerberosRequestInterceptor.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/HttpRequestInterceptorBase.java
Due: none

[KYUUBI #4855] Change socket "connection refused" message match pattern
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

load
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/PluginLoader.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: kyuubi-common

Save
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/PluginLoader.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: none

save
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/plugin/PluginLoader.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/PluginLoaderSuite.scala
Due: kyuubi-common

add ut
  kyuubi-server/src/test/scala/org/apache/kyuubi/plugin/PluginLoaderSuite.scala
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
