Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

reduce kyuubi-hive-jdbc/pom.xml
  kyuubi-hive-jdbc/pom.xml
Due: none

skip some tests when spark version < 3.3
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkArrowbasedOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkDataTypeTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

address comment
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkArrowbasedOperationSuite.scala
Due: kyuubi-spark-sql-engine

fix style
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkDataTypeTests.scala
Due: kyuubi-common

address comment
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiQueryResultSet.java
Due: kyuubi-spark-sql-engine

make sure SparkArrowbasedOperationSuite run with arrow enabled
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkArrowbasedOperationSuite.scala
Due: kyuubi-spark-sql-engine

add missing relocate dep `netty`
  kyuubi-hive-jdbc-shaded/pom.xml
Due: none

revert unnecessary changes
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiQueryResultSet.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
  pom.xml
Due: none

fix shade
  kyuubi-hive-jdbc-shaded/pom.xml
Due: none

rebase master
  kyuubi-hive-jdbc/pom.xml
Due: none

[KYUUBI #3848] [Improvement] Sort config map returned in`KyuubiConf.getAll`
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
Due: kyuubi-common

make the profile solely control the props, with new props for skipping scala-docjar and scalasytle checks
  pom.xml
Due: none

nit
  pom.xml
Due: none

rename props
  pom.xml
Due: none

move setting of maven.scaladoc.skip into doc-jar execution section
  pom.xml
Due: none

Revert "move setting of maven.scaladoc.skip into doc-jar execution section"
  pom.xml
Due: none

skip archive downloads of hive,spark,flink
  pom.xml
Due: none

[KYUUBI #3853] [Improvement] Add `fast` maven profile for skipping running tests, style checks and building docs
  pom.xml
Due: none

address comment
  kyuubi-hive-jdbc-shaded/pom.xml
Due: none

add to SparkOperation for scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
Due: kyuubi-spark-sql-engine

update
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/SignUtils.scala
Due: kyuubi-common

initial support for signing and verifying `kyuubi.session.user`
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/AuthZUtils.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

move throwing AccessControlException inside verifyKyuubiSessionUser method
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/AuthZUtils.scala
Due: none

nit
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
Due: kyuubi-spark-sql-engine

change to use spark conf `kyuubi.session.user.sign.enabled` to decide whether verify kyuubi seesion user
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/AuthZUtils.scala
Due: none

KeyPairGenerator init with new SecureRandom instance
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/SignUtils.scala
Due: kyuubi-common

add ut
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/SparkSessionProvider.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

update
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
Due: kyuubi-spark-sql-engine

nit
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
Due: kyuubi-spark-sql-engine

remove unused imports
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/SignUtils.scala
Due: kyuubi-common

update
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

shorten the key size to 1024
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/SignUtils.scala
Due: kyuubi-common

rename config name to `kyuubi.session.user.sign.enabled`
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

update conf doc
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

nit
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/AuthZUtils.scala
Due: none

update
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
Due: kyuubi-spark-sql-engine

add config `kyuubi.session.user.verify.enabled` to control Whether to verify the integrity of session user name in Spark Authz
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/AuthZUtils.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

move algorithmSpec to ecKeyPairGenerator
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/SignUtils.scala
Due: kyuubi-common

clear local prop `kyuubi.session.user.public.key` and `kyuubi.session.user.sign` after execution
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
Due: kyuubi-common, kyuubi-spark-sql-engine
