Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

update doc in spark style
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

make periodic gc thead pool lazy
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/PeriodicGCService.scala
Due: none

update doc
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

[KYUUBI #6688] [SPARK] Avoid trigger execution when getting result schema
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteScala.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SetCurrentCatalog.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SetCurrentDatabase.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
Due: kyuubi-spark-sql-engine

update doc
  docs/client/rest/rest_api.md
Due: none

[KYUUBI #6704] Disable periodic gc if set interval to 0
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/PeriodicGCService.scala
Due: kyuubi-common

[KYUUBI #6733] Bump SQLlite from 3.42 to 3.46
  dev/dependencyList
  pom.xml
Due: none

Update docs/client/rest/rest_api.md
  docs/client/rest/rest_api.md
Due: none

[KYUUBI #6734] [DOC] add authentication example in REST API docs
  docs/client/rest/rest_api.md
Due: none

doc
  docs/security/authorization/spark/build.md
Due: none

[KYUUBI #6728] [DOC] update Authz plugin docs of build command with `-am` option
  docs/security/authorization/spark/build.md
Due: none

remove test comment
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/zk/PollingChooseStrategy.java
Due: none

Kyuubi Server HA&ZK get server from serverHosts support more strategy
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/ZooKeeperHiveClientHelper.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/ChooseServerStrategy.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/StrategyFactory.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/zk/PollingChooseStrategy.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/zk/RandomChooseStrategy.java
Due: none

fix var not valid and counter getAndIncrement
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/zk/PollingChooseStrategy.java
Due: none

add common method to get session level config
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/StageStatus.scala
Due: kyuubi-spark-sql-engine

Add Strategy Unit Test Case and fix the polling strategy counter begin with 0
  kyuubi-ha/pom.xml
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClientSuite.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/zk/PollingChooseStrategy.java
Due: kyuubi-ha

Kyuubi Server HA&ZK get server from serverHosts support more strategy
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/ChooseServerStrategy.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/StrategyFactory.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/zk/PollingChooseStrategy.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/zk/RandomChooseStrategy.java
Due: none

fix_4186
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/StageStatus.scala
Due: kyuubi-spark-sql-engine

Kyuubi Server HA&ZK get server from serverHosts support more strategy
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/JdbcConnectionParams.java
Due: none

remove the distirbuted lock
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/zk/PollingChooseStrategy.java
Due: none

remove reset
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/zk/PollingChooseStrategy.java
Due: none

update
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/strategy/zk/PollingChooseStrategy.java
Due: none

repeat testing on pollingChooseStrategy
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClientSuite.scala
Due: kyuubi-ha

bump ci image from ubuntu 22.04 to 24.04
  .github/workflows/dep.yml
  .github/workflows/docs.yml
  .github/workflows/gluten.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/license.yml
  .github/workflows/master.yml
  .github/workflows/nightly.yml
  .github/workflows/publish-snapshot-docker.yml
  .github/workflows/publish-snapshot-nexus.yml
  .github/workflows/python.yml
  .github/workflows/stale.yml
  .github/workflows/style.yml
  .github/workflows/web-ui.yml
Due: none

update GHA docker/build-push-action from v5 to v6 to support build summary
  .github/workflows/master.yml
  .github/workflows/publish-snapshot-docker.yml
Due: none

update GHA actions/upload-artifact from v3 to v4
  .github/workflows/docs.yml
  .github/workflows/gluten.yml
  .github/workflows/license.yml
  .github/workflows/master.yml
  .github/workflows/nightly.yml
  .github/workflows/style.yml
Due: none

bumpu jetty to 9.4.56
  pom.xml
Due: none

update
  dev/dependencyList
Due: none

bump protobuf from 3.25.4 to 3.25.5
  dev/dependencyList
  pom.xml
Due: none

Bump vertx-grpc from 4.5.1 to 4.5.3
  dev/dependencyList
  pom.xml
Due: none

bump testcontainers-scala from 0.41.0 to 0.41.4
  pom.xml
Due: none

bump commons-lang3 from 3.13.0 to 3.17.0
  dev/dependencyList
  pom.xml
Due: none

bump guava from 32.1.3 to 33.3.1
  dev/dependencyList
  pom.xml
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
