Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

Support user provided batch id on batch job submission
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/JdbcUtils.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/Batch.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/BatchRequest.java
  kyuubi-rest-client/src/test/java/org/apache/kyuubi/client/RestClientTestUtils.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/MetadataManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Due: kyuubi-common

separate
  .github/workflows/master.yml
Due: none

ut
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchCliSuite.scala
Due: none

fix engine api
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/Engine.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

explicitly set `mvnd.noBuffering` to false prevent displaying events continuously
  build/mvnd
Due: none

revert explicitly setting `mvnd.noBuffering`
  build/mvnd
Due: none

ut
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: none

permission
  .github/workflows/master.yml
Due: none

fix engine api
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
Due: kyuubi-spark-sql-engine

test
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/rowfiltering/RowFilteringTestBase.scala
Due: none

it
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
Due: none

set completion and print MAVEN_CLI_OPTS
  build/mvnd
Due: none

flaky test
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: none

[KYUUBI #4432] jobId across tasks should be consistent to meet the contract expected by Hadoop committers
  extensions/spark/kyuubi-spark-connector-hive/src/main/scala/org/apache/kyuubi/spark/connector/hive/write/FileWriterFactory.scala
Due: none

try to redirect stderr
  build/mvnd
Due: none

update
  build/mvnd
Due: none

Change kyuubi.operation.result.format log level to debug
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
Due: none

enable quite option and cancel redirect stderr
  build/mvnd
Due: none

logging warn level
  build/mvnd
Due: none

quiet
  build/mvnd
Due: none

warn
  build/mvnd
Due: none

use -Dmvnd.minThreads
  build/mvnd
Due: none

quite in dep and style jobs
  .github/workflows/dep.yml
  .github/workflows/style.yml
  build/mvnd
  dev/dependencyList
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

update
  .github/workflows/style.yml
  dev/dependencyList
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

fix engine api
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
Due: kyuubi-spark-sql-engine

Update kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
Due: none

[KYUUBI #4435] Change kyuubi.operation.result.format log level to debug
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
Due: none

move constant to rest client
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/util/BatchUtils.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchCliSuite.scala
Due: kyuubi-common

fix engine api
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/Engine.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #4390] Allow user to provide batch id on submitting batch job
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/spark/SparkOnKubernetesTestsSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/JdbcUtils.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/Batch.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/BatchRequest.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/util/BatchUtils.java
  kyuubi-rest-client/src/test/java/org/apache/kyuubi/client/RestClientTestUtils.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/MetadataManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchCliSuite.scala
Due: kyuubi-common

[KYUUBI #4274] [FOLLOWUP] Increase maximum degree of concurrency for mvnd in CI jobs
  .github/actions/setup-mvnd/action.yaml
  .github/workflows/dep.yml
  .github/workflows/style.yml
  build/mvnd
Due: none

fixing conflicts in `javax.ws.rs.*`packages by excluding `jersey-bundle` and including `jersey-client` with `jsr311-api` excluded
  extensions/spark/kyuubi-spark-authz/pom.xml
Due: none

fix engine api
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
Due: none
