Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #2195] Using while-loop or for-loop instead of map/range to improve performance in RowSet
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/RowSet.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/schema/RowSet.scala
Due: kyuubi-spark-sql-engine

interval day
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/IntervalQualifier.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/RowSet.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/SchemaHelper.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

fix style issue
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/CreateTpcdsProcedure.scala
Due: none

fix
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/IntervalQualifier.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #2197][BUILD] Bump jersey 2.35 version
  dev/dependencyList
  pom.xml
Due: none

Support to retry the thrift request and engine alive probe
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
Due: kyuubi-common

add ut
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: none

[KYUUBI #2186] Manage test failures with kyuubi spark nightly build - execute statement - select interval
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/IntervalQualifier.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/RowSet.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/SchemaHelper.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

remove unused import
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: none

[KYUUBI #2204] Make comments consistent with code in EngineRef
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: none

change {KYUUBI_VERSION} to version
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: none

[WIP] Migrate Spark security module from submarine to kyuubi
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

[WIP] Migrate Spark security module from submarine to kyuubi
  dev/kyuubi-spark-authz/pom.xml
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/AccessType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ObjectType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/OperationType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObject.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObjectActionType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObjectType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/RangerAccessRequest.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/RangerAccessResource.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/RangerSparkAuthorizer.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/RangerSparkPlugin.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/spark/util/kyuubi/Utils.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObjectActionTypeSuite.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObjectSuite.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/RangerAccessResourceSuite.scala
  pom.xml
Due: none

build default
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  pom.xml
Due: none

desc table & col
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/OperationType.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

create function
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/OperationType.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

alter view as
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-spark-authz/pom.xml
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/AccessType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: aggregate

test
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

fix
  dev/kyuubi-codecov/pom.xml
Due: aggregate

CacheTableAsSelect
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/RangerAccessResource.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

Create View
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

more tests
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/OperationType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

Create table as select
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

format
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/AccessType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ObjectType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/OperationType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/RangerAccessResource.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/RangerSparkAuthorizer.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/RangerSparkPlugin.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObjectSuite.scala
Due: none

create function
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

set db & desc db
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

drop/refresh function
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/OperationType.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

[WIP] Migrate Spark security module from submarine to kyuubi
  dev/kyuubi-spark-authz/pom.xml
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObject.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

[WIP] Migrate Spark security module from submarine to kyuubi
  dev/kyuubi-spark-authz/pom.xml
Due: none

test
  dev/kyuubi-spark-authz/pom.xml
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/AccessType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

alter view as
  dev/kyuubi-codecov/pom.xml
Due: aggregate

test & opt
  dev/kyuubi-spark-authz/pom.xml
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/AccessType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/test/resources/log4j.properties
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

DescribeColumnCommand
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

Create table
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

test add
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

join inner
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

show clos
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/AccessType.scala
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/RangerSparkPlugin.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

clear cache before each
  dev/kyuubi-spark-authz/pom.xml
  dev/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

truncate table
  dev/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none
