Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #5099] Document link failure
  docs/deployment/spark/aqe.md
  docs/deployment/spark/dynamic_allocation.md
Due: none

[KYUUBI #5106][Flink] Improve logs for fatal errors
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkSQLEngine.scala
Due: none

[KYUUBI #5108][Flink] Fix iFileNotFoundException during Flink engine bootstrap
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkSQLEngine.scala
Due: none

add kdf for hive engine
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/HiveSQLEngine.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/operation/HiveOperation.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/session/HiveSessionImpl.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/udf/KDFRegistry.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/udf/KyuubiDefinedFunction.scala
  externals/kyuubi-hive-sql-engine/src/test/scala/org/apache/kyuubi/engine/hive/operation/HiveOperationSuite.scala
  integration-tests/kyuubi-hive-it/src/test/scala/org/apache/kyuubi/it/hive/operation/KyuubiOperationHiveEnginePerUserSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/hive/HiveProcessBuilder.scala
Due: none

[KYUUBI #5043][1.7] Destroy the build process when waitCompletion is false and the engine is running in cluster mode
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchCliSuite.scala
Due: none

[KYUUBI #5065][FOLLOWUP] Graceful close the process when launch engine timeout
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: kyuubi-common

followup
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: kyuubi-common

update LDAP doc
  docs/security/ldap.md
Due: none

further explanation for LDAP filters
  docs/security/ldap.md
Due: none

Update docs/security/ldap.md
  docs/security/ldap.md
Due: none

sync
  docs/security/ldap.md
Due: none

close the connection within timeout forcibly
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Due: none

check argument
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Due: none

[KYUUBI #5065][FOLLOWUP] Graceful close the process when launch engine timeout
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: kyuubi-common

[KYUUBI #5089] Limit maximum engine startup concurrency of kyuubi server
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: kyuubi-common

[KYUUBI #5076] Add KDF engine_url
  docs/extensions/engines/spark/functions.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/udf/KDFRegistry.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: kyuubi-spark-sql-engine

kyuubi.batch.impl.version
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

Fix flaky test - distribute lock
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/DiscoveryClientTests.scala
Due: kyuubi-ha

Remove Spark Kudu connector
  .github/workflows/style.yml
  dev/kyuubi-codecov/pom.xml
  extensions/spark/kyuubi-spark-connector-kudu/pom.xml
  extensions/spark/kyuubi-spark-connector-kudu/src/test/resources/kudu-compose.yml
  extensions/spark/kyuubi-spark-connector-kudu/src/test/resources/log4j2-test.xml
  extensions/spark/kyuubi-spark-connector-kudu/src/test/scala/org/apache/kyuubi/spark/connector/kudu/KuduClientSuite.scala
  extensions/spark/kyuubi-spark-connector-kudu/src/test/scala/org/apache/kyuubi/spark/connector/kudu/KuduMixin.scala
  pom.xml
Due: aggregate

[KYUUBI #4686] KubernetesApplicationOperation should not support client deploy mode for spark engine
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ApplicationOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/api/Metadata.scala
Due: none

BATCH_IMPL_VERSION
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Due: kyuubi-common

fix Single character alternation in RegExp
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #4790] Initial implement Batch V2
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/Count.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiBatchService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/api.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/MetadataManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/MetadataStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/resources/log4j2-test.xml
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Due: kyuubi-common

nit
  docs/security/ldap.md
Due: none

polish
  docs/security/ldap.md
  docs/security/ldap.rst
Due: none

[KYUUBI #5083] [DOC] Add LDAP document
  docs/security/ldap.md
  docs/security/ldap.rst
Due: none

[KYUUBI #5108][Flink] Fix FileNotFoundException during Flink engine bootstrap
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkSQLEngine.scala
Due: none

Bump Hadoop 3.3.6
  dev/dependencyList
  pom.xml
Due: none

remove repeated assignment
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/common/FastHiveDecimalImpl.java
Due: none

remove redundant addAll call to collection initialization
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/BatchRestApi.java
Due: none

use try-with-resources in KyuubiCommands
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
Due: none

fix warning: Tag '@return:' is not recognised compilation warning in KyuubiGetSqlClassification:L53
  extensions/spark/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/sqlclassification/KyuubiGetSqlClassification.scala
Due: none

simplify
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
