Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

Revert "[KYUUBI #2000][DEPS] Bump Hadoop 3.3.2"
  dev/dependencyList
  pom.xml
Due: none

Update PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
Due: none

Update extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
Due: none

reformat code.
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
Due: none

[KYUUBI #2915] Revert "[KYUUBI #2000][DEPS] Bump Hadoop 3.3.2"
  dev/dependencyList
  pom.xml
Due: none

fix scala style
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoStatusPrinter.scala
Due: none

[KYUUBI #2890] Get the db From Sparksession When TableIdentifier's Database Field Is Empty
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleAuthorization.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

move verifyPartitionPredicates to KyuubiSparkSQLAstBuilder
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLAstBuilder.scala
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/zorder/ResolveZorderBase.scala
Due: none

fix style
  extensions/spark/kyuubi-extension-spark-common/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLAstBuilder.scala
Due: none

fix typo and wording for JDBCMetadataStoreConf
  docs/deployment/settings.md
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStoreConf.scala
Due: none

fix minor typos
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
  kyuubi-server/src/main/resources/sql/mysql/metadata-store-schema-mysql.sql
Due: kyuubi-common

[KYUUBI #2920] Fix typo for mysql metadata schema
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
  kyuubi-server/src/main/resources/sql/mysql/metadata-store-schema-mysql.sql
Due: kyuubi-common

[KYUUBI #2919] Fix typo and wording for JDBCMetadataStoreConf
  docs/deployment/settings.md
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStoreConf.scala
Due: none

fix leak
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
Due: kyuubi-spark-sql-engine

[Bug] Kyuubi integrated Ranger does not support the CTAS syntax
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
Due: none

[KYUUBI #2922] Clean up SparkConsoleProgressBar when SQL execution fails
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #2876] Bump Hudi 0.11.1
  pom.xml
Due: none

[KYUUBI #2927] fixed
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ThreadUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/ThreadUtilsSuite.scala
Due: kyuubi-common

[KYUUBI #2927] Fix the thread in ScheduleThreadExecutorPool can't be shutdown immediately
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ThreadUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/ThreadUtilsSuite.scala
Due: kyuubi-common

not thread safe
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/InternalSecurityAccessor.scala
Due: kyuubi-common

[KYUUBI #2894] Add synchronized for the ciphers of internal security accessor
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/InternalSecurityAccessor.scala
Due: kyuubi-common

[KYUUBI #2894] Add synchronized for the ciphers of internal security accessor
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/EngineSecurityAccessor.scala
Due: kyuubi-common

[KYUUBI #2927][1.5] fixed
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ThreadUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/ThreadUtilsSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

save
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/ThriftHttpServlet.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationFilter.scala
Due: none

save
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpKerberosAndPlainAuthSuite.scala
Due: none

save
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationKerberosAndPlainAuthSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpKerberosAndPlainAuthSuite.scala
Due: none

fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationHandler.scala
Due: none

[KYUUBI #2929] Kyuubi integrated Ranger does not support the CTAS syntax
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

refactor
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/ThriftHttpServlet.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationFilter.scala
Due: none

Add usage to kyuubi-spark-authz/README.md
  extensions/spark/kyuubi-spark-authz/README.md
Due: none

[KYUUBI #2927][1.5] Fix the thread in ScheduleThreadExecutorPool can't be shutdown immediately
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/ThreadUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/ThreadUtilsSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

sleep
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTHttpFrontendService.scala
Due: none

comments
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationHandler.scala
Due: none

[KYUUBI #2935] Support spnego authentication for thrift http transport mode
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/ThriftHttpServlet.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationFilter.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationHandler.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationKerberosAndPlainAuthSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpKerberosAndPlainAuthSuite.scala
Due: none

[KYUUBI #2929] Kyuubi integrated Ranger does not support the CTAS syntax
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

test
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTHttpFrontendService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpKerberosAndPlainAuthSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpPerUserSuite.scala
Due: none

addressed review suggestion
  .rat-excludes
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/WebuiConfiguration.java
  kyuubi-server/pom.xml
  kyuubi-server/src/main/resources/META-INF/NOTICE
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/ApiRootResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/KyuubiOpenApiResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/WebuiResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiRestFrontendServiceSuite.scala
  kyuubi-server/web-ui/.browserslistrc
  kyuubi-server/web-ui/.eslintignore
  kyuubi-server/web-ui/.eslintrc.js
  kyuubi-server/web-ui/README.md
  kyuubi-server/web-ui/src/app/interfaces/configuration.ts
  kyuubi-server/web-ui/src/app/pages/overview/statistic/overview-statistic.component.html
  kyuubi-server/web-ui/src/app/pages/overview/statistic/overview-statistic.component.ts
  kyuubi-server/web-ui/src/assets/favicon/manifest.json
  pom.xml
Due: none

remove
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/WithKyuubiServerOnKubernetes.scala
Due: none
