Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #2887] Add a polling balance policy for spark engine pool Improve configuration documentation and delete useless comments
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefTests.scala
Due: kyuubi-common

revert UT
  kyuubi-server/src/test/resources/ssl/keystore.jks
  kyuubi-server/src/test/resources/ssl/truststore.jks
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationThriftBinarySSLSuite.scala
Due: none

Run test "[KYUUBI #3607] Support {OWNER} variable defined in Ranger Policy" if owner can be resolved
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

Improve configuration documentation
  docs/deployment/settings.md
Due: none

Improve code style
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

Bump iceberg from 0.14.1 to 1.0.0
  pom.xml
Due: none

fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KyuubiApplicationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkBatchProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/KyuubiApplicationManagerSuite.scala
Due: none

back
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkBatchProcessBuilder.scala
Due: none

fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

Add `hasTableOwner` field in `SparkSessionProvider`
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/SparkSessionProvider.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/IcebergCatalogRangerSparkExtensionSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/V2JdbcTableCatalogRangerSparkExtensionSuite.scala
Due: none

style
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

fix
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/KyuubiApplicationManagerSuite.scala
Due: none

scala-collection-compat
  extensions/spark/kyuubi-spark-authz/pom.xml
  pom.xml
Due: none

add getAndInc method and refer it
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/DiscoveryClient.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClient.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: kyuubi-ha

Move test from RangerSparkExtensionSuite to HiveCatalogRangerSparkExtensionSuite
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/SparkSessionProvider.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/IcebergCatalogRangerSparkExtensionSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/V2JdbcTableCatalogRangerSparkExtensionSuite.scala
Due: none

Fix typo
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/SparkSessionProvider.scala
Due: none

[KYUUBI #3670] [SPARK][K8S] Fix Spark master match rule on tagging Spark application
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KyuubiApplicationManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/KyuubiApplicationManagerSuite.scala
Due: none

[KYUUBI #3664] [SPARK][K8S][BATCH] Kyuubi should set env SPARK_USER_NAME on submitting Spark batch job to K8s
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkBatchProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

Fix typo
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

[KYUUBI #3615] Retry opening the engine when encountering a special error
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: kyuubi-common

DataSourceV2Relation
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

rename method getAndInc to getAndIncrement and modify the doc
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/DiscoveryClient.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClient.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/zookeeper/ZookeeperDiscoveryClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: kyuubi-common, kyuubi-ha

[KYUUBI #3608][Subtask] Get table owner for queries run on SessionCatalog
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegeObject.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResource.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleAuthorization.scala
  extensions/spark/kyuubi-spark-authz/src/test/resources/sparkSql_hive_jenkins.json
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/SparkSessionProvider.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/AccessResourceSuite.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

[KYUUBI #3385] Set spark.kubernetes.executor.podNamePrefix if missing
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

ad
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
Due: none

[KYUUBI #3592] Spark SQL authz only consider persistent functions
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilderSuite.scala
Due: none

please add test case to cover the added methods
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/DiscoveryClientTests.scala
Due: kyuubi-ha

[KYUUBI #3666] Support {OWNER} variable for queries run on CatalogV2
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/util/AuthZUtils.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/v2Commands.scala
  extensions/spark/kyuubi-spark-authz/src/test/resources/sparkSql_hive_jenkins.json
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/IcebergCatalogRangerSparkExtensionSuite.scala
Due: none

fix assert message for '[SCHEMA_NOT_FOUND]' and '[TABLE_OR_VIEW_NOT_FOUND]', introduce SparkVersionUtil for checking spark version in kyuubi-common test
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/IcebergMetadataTests.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/SparkVersionUtil.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

update SparkVersionUtil
  kyuubi-common/src/test/scala/org/apache/kyuubi/util/SparkVersionUtil.scala
Due: kyuubi-common

[KYUUBI #3669] Bump iceberg from 0.14.1 to 1.0.0
  extensions/spark/kyuubi-spark-authz/pom.xml
  pom.xml
Due: none

fix typo
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
Due: kyuubi-common

update
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
Due: kyuubi-common

Run test on Spark 3.2 or greater
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/IcebergCatalogRangerSparkExtensionSuite.scala
Due: none

[RELEASE] Bump 1.6.1-incubating
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-tpcds/pom.xml
  extensions/server/kyuubi-server-plugin/pom.xml
  extensions/spark/kyuubi-extension-spark-3-1/pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/pom.xml
  extensions/spark/kyuubi-extension-spark-3-3/pom.xml
  extensions/spark/kyuubi-extension-spark-common/pom.xml
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-connector-common/pom.xml
  extensions/spark/kyuubi-spark-connector-kudu/pom.xml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-jdbc-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-trino-engine/pom.xml
  integration-tests/kyuubi-flink-it/pom.xml
  integration-tests/kyuubi-hive-it/pom.xml
  integration-tests/kyuubi-jdbc-it/pom.xml
  integration-tests/kyuubi-kubernetes-it/pom.xml
  integration-tests/kyuubi-trino-it/pom.xml
  integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-events/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-rest-client/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

Bump 1.6.2-SNAPSHOT
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-tpcds/pom.xml
  extensions/server/kyuubi-server-plugin/pom.xml
  extensions/spark/kyuubi-extension-spark-3-1/pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/pom.xml
  extensions/spark/kyuubi-extension-spark-3-3/pom.xml
  extensions/spark/kyuubi-extension-spark-common/pom.xml
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-connector-common/pom.xml
  extensions/spark/kyuubi-spark-connector-kudu/pom.xml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-jdbc-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-trino-engine/pom.xml
  integration-tests/kyuubi-flink-it/pom.xml
  integration-tests/kyuubi-hive-it/pom.xml
  integration-tests/kyuubi-jdbc-it/pom.xml
  integration-tests/kyuubi-kubernetes-it/pom.xml
  integration-tests/kyuubi-trino-it/pom.xml
  integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-events/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-rest-client/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
