Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

Add Kyuubi Kubernetes IT Module to CI style check
  .github/workflows/style.yml
Due: none

isDockerAvailable
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClientSuite.scala
Due: kyuubi-ha

fix style for kubernetes-it
  integration-tests/kyuubi-kubernetes-it/pom.xml
Due: none

[KYUUBI #3420] Expose more spark engine info
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #3420] Fix unit test
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/SparkEngineRegisterSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #3420] Fix style
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
Due: kyuubi-spark-sql-engine

merge master
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkArrowbasedOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
Due: kyuubi-common, kyuubi-spark-sql-engine

fix style
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkArrowbasedOperationSuite.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
Due: kyuubi-spark-sql-engine

docs
  docs/deployment/settings.md
Due: none

fix variable usage issue
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common

render batch info
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/util/Render.scala
Due: none

Simplify and improve log for JDBCMetadataStore
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
Due: none

invert the pattern match branch order
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v3_0.scala
Due: kyuubi-spark-sql-engine

use official minio docker image
  docker/playground/compose.yml
Due: none

[KYUUBI #3420] With inter config and expose explicit conf
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/Constants.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #4078] [FOLLOWUP] fix shellcheck violations in scripts of /bin folder
  bin/docker-image-tool.sh
  bin/kyuubi
  bin/kyuubi-logo
  bin/stop-application.sh
Due: none

[KYUUBI #4466] Use bitnami/minio docker image
  docker/playground/compose.yml
Due: none

saev
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/OperationData.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ApiUtils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: kyuubi-common

comments
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/OperationData.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ApiUtils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: kyuubi-common

save
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/OperationData.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ApiUtils.scala
Due: none

[KYUUBI #4443] Do not set engine session init sql for alive probe session
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
Due: none

[KYUUBI #4462] Fix variable usage issue in `SessionManager#stop`
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common

[KYUUBI #4461] [CI][K8S]Add `Kyuubi Kubernetes IT` Module to CI style check
  .github/workflows/style.yml
  integration-tests/kyuubi-kubernetes-it/pom.xml
Due: none

[KYUUBI #4450] Ignore unknown fields `policyPriority` when reading policy json file
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerLocalClient.scala
Due: none

[KYUUBI #4453][Improvement][K8S] Bump Kubernetes Client Version to 6.4.1
  dev/dependencyList
  integration-tests/kyuubi-kubernetes-it/pom.xml
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/MiniKube.scala
  integration-tests/kyuubi-kubernetes-it/src/test/scala/org/apache/kyuubi/kubernetes/test/WithKyuubiServerOnKubernetes.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/util/KubernetesUtils.scala
  pom.xml
Due: none

[KYUUBI #4464] Simplify and improve log for JDBCMetadataStore
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
Due: none

[KYUUBI #4438] Render the batch info map in kyuubi-ctl
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/util/Render.scala
Due: none

fix ut
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
Due: none

[KYUUBI #4439][FOLLOWUP] Add dto class for operation data
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/OperationData.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ApiUtils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/AdminResourceSuite.scala
Due: kyuubi-common

fix create a view from view
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParseHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParserHelperSuite.scala
Due: none

Notifiy user fix setting md with skip unit test mvn opts
  kyuubi-common/src/test/scala/org/apache/kyuubi/MarkdownUtils.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
Due: kyuubi-common

[KYUUBI#4474] fix the authz module cannot control the permissions of the “update xxx set xxx where xxx";" type of sql
  extensions/spark/kyuubi-spark-authz/src/main/resources/table_command_spec.json
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/OperationType.scala
Due: none

[KYUUBI #4472] add session/operation methods in AdminRestApi
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/AdminRestApi.java
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/AdminRestApiSuite.scala
Due: none

[KYUUBI #4433] Fix the case with `create a view from view`
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParseHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParserHelperSuite.scala
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
