Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #2125] closeSession should avoid sending RPC after openSession fails
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
Due: none

[KYUUBI #2123] Output engine information after openEngineSession call fails
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

[KYUUBI #2127] avoid to set HA_ZK_NAMESPACE and HA_ZK_ENGINE_REF_ID repetitively when create flink sql engine
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: none

Fix kyuubi-version-info.properties
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
Due: kyuubi-spark-sql-engine

[KYUUBI #2118] [SUB-TASK][KPIP-2] Support session jars management
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/ExecuteStatement.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/OperationUtils.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/PlanOnlyStatement.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/result/ResultSetUtil.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

[KYUUBI #2104] Kill yarn job using yarn client API when kyuubi engine …
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
  pom.xml
Due: none

Update LICENSE
  LICENSE
  LICENSE-binary
  kyuubi-hive-jdbc-shaded/src/main/resources/META-INF/LICENSE
Due: none

add RenewDelegationToken log
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #2120] Optimize RenewDelegationToken logs in Spark engine
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
Due: kyuubi-spark-sql-engine

make it simple
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationManagerTimeoutCompatibleSuite.scala
Due: kyuubi-common

Simplify log4j2 configurations
  conf/log4j2.properties.template
  dev/kyuubi-extension-spark-3-1/src/test/resources/log4j2-test.properties
  dev/kyuubi-extension-spark-3-2/src/test/resources/log4j2-test.properties
  dev/kyuubi-extension-spark-common/src/test/resources/log4j2-test.properties
  docs/deployment/settings.md
  externals/kyuubi-flink-sql-engine/src/test/resources/log4j2-test.properties
  externals/kyuubi-spark-sql-engine/src/test/resources/log4j2-test.properties
  externals/kyuubi-trino-engine/src/test/resources/log4j2-test.properties
  integration-tests/kyuubi-flink-it/src/test/resources/log4j2-test.properties
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/resources/log4j2-test.properties
  kyuubi-common/src/main/resources/log4j-defaults.properties
  kyuubi-common/src/main/resources/log4j2-defaults.properties
  kyuubi-common/src/test/resources/log4j2-test.properties
  kyuubi-ctl/src/test/resources/log4j2-test.properties
  kyuubi-ha/src/test/resources/log4j2-test.properties
  kyuubi-hive-jdbc/src/test/resources/log4j2-test.properties
  kyuubi-metrics/src/test/resources/log4j2-test.properties
  kyuubi-server/src/test/resources/log4j2-test.properties
  kyuubi-zookeeper/src/test/resources/log4j2-test.properties
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

test labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

[KYUUBI #1866][FOLLOWUP] Add Deploy Kyuubi Flink engine on Yarn
  docs/deployment/engine_on_yarn.md
Due: none

nit
  kyuubi-common/src/main/resources/log4j2-defaults.properties
Due: kyuubi-common

colon in the key
  .github/labeler.yml
Due: none

log conf
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
Due: kyuubi-spark-sql-engine

nit
  externals/kyuubi-flink-sql-engine/pom.xml
Due: none

v3
  .github/workflows/labeler.yml
Due: none

v2
  .github/workflows/labeler.yml
Due: none

Remove CCO
  licenses-binary/LICENSE-CC0.txt
Due: none

v4
  .github/workflows/labeler.yml
Due: none

update label
  .github/labeler.yml
Due: none

order
  .github/labeler.yml
Due: none

fix ut failed
  docs/deployment/settings.md
  externals/kyuubi-flink-sql-engine/bin/flink-sql-engine.sh
Due: none

docs => documentation
  .github/labeler.yml
Due: none

License for static resource
  LICENSE
  LICENSE-binary
  kyuubi-server/src/main/resources/org/apache/kyuubi/ui/swagger/oauth2-redirect.html
  licenses-binary/LICENSE-MIT-jquery.txt
  licenses/LICENSE-MIT-jquery.txt
  licenses/LICENSE-MIT-semantic-ui.txt
Due: none

[KYUUBI #2085] Add a labeler github action to triage PRs
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

delete empty line
  externals/kyuubi-flink-sql-engine/bin/flink-sql-engine.sh
  kyuubi-common/src/test/resources/kyuubi-defaults.conf
Due: kyuubi-common

Respect Spark bundled log4j in extension modules
  dev/kyuubi-extension-spark-3-1/src/test/resources/log4j.properties
  dev/kyuubi-extension-spark-3-1/src/test/resources/log4j2-test.properties
  dev/kyuubi-extension-spark-3-2/src/test/resources/log4j.properties
  dev/kyuubi-extension-spark-3-2/src/test/resources/log4j2-test.properties
  dev/kyuubi-extension-spark-common/src/test/resources/log4j.properties
  dev/kyuubi-extension-spark-common/src/test/resources/log4j2-test.properties
  pom.xml
Due: none

reset mvn log level to info in CI
  .github/workflows/master.yml
  .github/workflows/style.yml
  .travis.yml
Due: none

nit
  kyuubi-server/src/main/resources/org/apache/kyuubi/ui/swagger/oauth2-redirect.html
Due: none

[fix] format codes
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
Due: none

[fix] address the comments
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
Due: none

[KYUUBI #2129] FlinkEngine should throw UnsupportedOperationException when invoke GetColumns
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
Due: none

[fix] add test
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

permission
  externals/kyuubi-flink-sql-engine/bin/flink-sql-engine.sh
Due: none

use protocol version
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationManagerTimeoutCompatibleSuite.scala
Due: kyuubi-common

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
