Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

update options usage
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

update format
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
Due: kyuubi-common

fix ddl statement and remove truncate statement in test
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

more test cases
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

add more checks for query sql
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

upgrade ldap WithLdapServer UTs
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImplSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/WithLdapServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/RestClientTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationKerberosAndPlainAuthSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpKerberosAndPlainAuthSuite.scala
Due: kyuubi-common

[KYUUBI #3184] OperationResource rowset api should have default values for maxrows and fetchorientation
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/OperationsResourceSuite.scala
Due: none

upgrade docs/deployment/settings.md
  docs/deployment/settings.md
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: none

update doc
  docs/deployment/settings.md
Due: none

add JDBC condition for getValidPasswordAuthMethod
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
Due: kyuubi-common

add JDBC value to AuthTypes enum
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthTypes.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
Due: kyuubi-common

upgrade ldap ldapBindpw
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImplSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/WithLdapServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/RestClientTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationKerberosAndPlainAuthSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpKerberosAndPlainAuthSuite.scala
Due: kyuubi-common

update KyuubiAuthenticationFactorySuite
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactorySuite.scala
Due: kyuubi-common

upgrade ldap ldapBindpw
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
Due: kyuubi-common

output password length only in checkConfigs
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
Due: kyuubi-common

update checkConfigs() signature
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
Due: kyuubi-common

refactor connection creation on using HikariDataSource in HikariCP. add HikariCP dependencies to kyuubi-common
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

upgrade settings.md
  docs/deployment/settings.md
Due: none

[KYUUBI #3239] [Subtask] DorisSQLEngine - Add integration tests
  .github/workflows/master.yml
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/doris/DorisOperationSuite.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/doris/OperationWithEngineSuite.scala
  integration-tests/kyuubi-jdbc-it/pom.xml
  integration-tests/kyuubi-jdbc-it/src/test/resources/log4j2-test.xml
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/doris/OperationWithServerSuite.scala
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/doris/WithKyuubiServerAndDorisContainer.scala
  integration-tests/pom.xml
Due: none

add server to dependency
  integration-tests/kyuubi-jdbc-it/pom.xml
Due: none

fix getJdbcUrl conflict
  .github/workflows/master.yml
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/WithJdbcEngine.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/doris/OperationWithEngineSuite.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/doris/SessionSuite.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/doris/StatementSuite.scala
Due: none

Add spark-3.3 profile in building.md
  docs/develop_tools/building.md
Due: none

[KYUUBI #3245] Add spark-3.3 profile in building.md
  docs/develop_tools/building.md
Due: none

move initializeLogging
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
Due: kyuubi-common

upgrade LdapAuthenticationProviderImpl
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
Due: kyuubi-common

add dependency
  integration-tests/kyuubi-jdbc-it/pom.xml
Due: none

kyuubi jdbc code refactor
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiCommands.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/KyuubiHiveDriver.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/JdbcConnectionParams.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiDataSource.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/Utils.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/ZooKeeperHiveClientHelper.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/common/HiveBaseChar.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/common/HiveChar.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/common/HiveVarchar.java
  kyuubi-hive-jdbc/src/test/java/org/apache/kyuubi/jdbc/hive/UtilsTest.java
Due: none

[KYUUBI #3243] Move trait Logging#initializeLogging to object Logging
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
Due: kyuubi-common

prefer scala style string usage
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

changed to use in-memory derby db for test
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

remove unuseful comment
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
Due: kyuubi-common

use {} for intercept
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

code styling
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

use clone instead of repeatly generating configs
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

remove unuseful logs for unrecognized placeholder error
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
Due: kyuubi-common

fix it
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/doris/WithDorisEngine.scala
  integration-tests/kyuubi-jdbc-it/pom.xml
  integration-tests/kyuubi-jdbc-it/src/test/resources/doris-compose.yml
  integration-tests/kyuubi-jdbc-it/src/test/resources/mysql/mysql-connector-java-8.0.30.jar
  integration-tests/kyuubi-jdbc-it/src/test/scala/org/apache/kyuubi/it/jdbc/doris/WithKyuubiServerAndDorisContainer.scala
Due: none

fix ut
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

cleanup docs
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
Due: kyuubi-common

[KYUUBI #3222] JDBC Authentication Provider for server
  docs/deployment/settings.md
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthMethods.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthTypes.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/JdbcAuthenticationProviderImplSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactorySuite.scala
Due: kyuubi-common

add ldap config AUTHENTICATION_LDAP_BINDDN
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactorySuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImplSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/WithLdapServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/RestClientTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationKerberosAndPlainAuthSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpKerberosAndPlainAuthSuite.scala
Due: kyuubi-common

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
