Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

Align Engine UI proxy configuration
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/EngineUIProxyServlet.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/ApiRootResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/EngineUIProxyServletSuite.scala
  kyuubi-server/web-ui/src/api/server/index.ts
  kyuubi-server/web-ui/src/api/server/types.ts
  kyuubi-server/web-ui/src/test/unit/views/management/engine/index.spec.ts
  kyuubi-server/web-ui/src/views/management/engine/index.vue
Due: kyuubi-common

Add CLAUDE.md and tell it to read AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

replace with import syntax
  CLAUDE.md
Due: none

[KYUUBI #7484] Add CLAUDE.md and tell it to read AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

Use ubuntu-slim runner for ASF Allowlist Check
  .github/workflows/asf-allowlist-check.yml
Due: none

[KYUUBI #7475] [CI] Add ASF allowlist check workflow
  .github/workflows/asf-allowlist-check.yml
  .github/workflows/publish-snapshot-docker.yml
Due: none

[CI] Run "Docs" workflow for documentation changes only
  .github/workflows/docs.yml
  .github/workflows/master.yml
  .github/workflows/python.yml
Due: none

Strict host validation
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/EngineUIProxyServlet.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/EngineUIProxyServletSuite.scala
Due: none

Update migration guide
  docs/deployment/migration-guide.md
Due: none

Try Catch logic for openBatchSession
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiBatchService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/MetadataManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Due: none

[KYUUBI #7441] Fix duplicate containerStatuses in Kubernetes app diagnose error output
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
Due: none

[KYUUBI #7481][SERVER] Parse app error from spark.exit-exception pod annotation
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/KubernetesApplicationOperationSuite.scala
Due: none

[KYUUBI #7483] Restrict Engine UI proxy targets
  docs/configuration/settings.md
  docs/deployment/migration-guide.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/EngineUIProxyServlet.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/ApiRootResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/EngineUIProxyServletSuite.scala
  kyuubi-server/web-ui/src/api/server/index.ts
  kyuubi-server/web-ui/src/api/server/types.ts
  kyuubi-server/web-ui/src/test/unit/views/management/engine/index.spec.ts
  kyuubi-server/web-ui/src/views/management/engine/index.vue
Due: kyuubi-common

Fixing testcase
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Due: none

[KYUUBI #7488][SERVER] Fix canceled batch reporting stale RUNNING application state
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Due: none

[KYUUBI #7495] Avoid overlong Kubernetes pod log names
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/SparkSQLEngineSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/util/KubernetesUtils.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/util/KubernetesPodNameSuite.scala
Due: kyuubi-spark-sql-engine

Merged PR 4876778: Deleting Kubernetes Pods stuck at FailedMount state.
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
Due: kyuubi-common

comment cleanups
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
Due: kyuubi-common

Style fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/KubernetesApplicationOperation.scala
Due: none

[KYUUBI #XXXX] Do not block server shutdown on batch sessions
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiBatchSession.scala
Due: kyuubi-common, kyuubi-ha

[KYUUBI #7485] [CI] Run "Docs" workflow for documentation changes only
  .github/workflows/docs.yml
  .github/workflows/master.yml
  .github/workflows/python.yml
Due: none

[CI] Use "ubuntu-slim" runner for lightweight workflows
  .github/workflows/docs.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
Due: none

refine
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

[DOC] Align Python version and style
  .github/workflows/docs.yml
  docs/conf.py
Due: none

[DOC] Document kyuubi.session.local.dir.allow.list is only for Spark engine
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

[KYUUBI #7504][UI] Add a Batch management page to the Web UI
  kyuubi-server/web-ui/src/api/batch/index.ts
  kyuubi-server/web-ui/src/api/batch/types.ts
  kyuubi-server/web-ui/src/layout/components/aside/types.ts
  kyuubi-server/web-ui/src/locales/en_US/index.ts
  kyuubi-server/web-ui/src/locales/zh_CN/index.ts
  kyuubi-server/web-ui/src/test/unit/utils/engine-ui.spec.ts
  kyuubi-server/web-ui/src/test/unit/views/management/batch/index.spec.ts
  kyuubi-server/web-ui/src/test/unit/views/management/engine/index.spec.ts
  kyuubi-server/web-ui/src/utils/engine-ui.ts
  kyuubi-server/web-ui/src/views/management/batch/index.vue
  kyuubi-server/web-ui/src/views/management/engine/index.vue
Due: none

[KYUUBI #7503] [DOC] Document kyuubi.session.local.dir.allow.list is only for Spark engine
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

[KYUUBI #7499] [CI] Use "ubuntu-slim" runner for lightweight workflows
  .github/workflows/docs.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
Due: none

[KYUUBI #7502] [DOC] Align Python version and style
  .github/workflows/docs.yml
  docs/conf.py
Due: none

[AUTHENTICATION] Add UnboundID-backed LDAP connection pool with failover and auth cache
  LICENSE-binary
  dev/dependencyList
  docs/configuration/settings.md
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthMetricsRecorder.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/LdapAuthCache.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/LdapAuthFailureClassifier.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/LdapSearch.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/LdapServerSets.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/LdapUrlParser.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/LdapUtils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/Query.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/QueryFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/UnboundIdConnectionPool.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/UnboundIdDirSearch.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/ldap/UnboundIdDirSearchFactory.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactorySuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/ldap/CapturingLdapAuthRecorder.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/ldap/LdapAuthCacheSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/ldap/LdapAuthFailureClassifierSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/ldap/LdapSearchSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/ldap/LdapUrlParserSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/ldap/LdapUtilsSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/ldap/QueryFactorySuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/ldap/QuerySuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/ldap/UnboundIdDirSearchFactorySuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/ldap/UnboundIdDirSearchSuite.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-common

[KYUUBI #7495][KUBERNETES] Avoid overlong pod log directory names
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/SparkSQLEngineSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/util/KubernetesUtils.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/util/KubernetesPodNameSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #7504][DOC] Add Web UI Batch management page documentation
  docs/client/ui/batch_ui.md
  docs/client/ui/index.rst
  docs/imgs/ui/batch_log.jpg
  docs/imgs/ui/batch_ui.png
Due: none

[SERVER] Add engine startup time metric
  docs/monitor/metrics.md
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefTests.scala
Due: none

feat: add proposal and design for Spark Connect gRPC server support
  openspec/changes/kyuubi-spark-connect-grpc-server/.openspec.yaml
  openspec/changes/kyuubi-spark-connect-grpc-server/design.md
  openspec/changes/kyuubi-spark-connect-grpc-server/proposal.md
  openspec/changes/kyuubi-spark-connect-grpc-server/specs/spark-connect-auth/spec.md
  openspec/changes/kyuubi-spark-connect-grpc-server/specs/spark-connect-engine-proxy/spec.md
  openspec/changes/kyuubi-spark-connect-grpc-server/specs/spark-connect-frontend/spec.md
  openspec/changes/kyuubi-spark-connect-grpc-server/specs/spark-connect-session/spec.md
  openspec/changes/kyuubi-spark-connect-grpc-server/tasks.md
  openspec/config.yaml
Due: none

[KYUUBI #7504][UI] Add a Batch management page to the Web UI
  docs/client/ui/batch_ui.md
  docs/client/ui/index.rst
  docs/imgs/ui/batch_log.jpg
  docs/imgs/ui/batch_ui.png
  kyuubi-server/web-ui/src/api/batch/index.ts
  kyuubi-server/web-ui/src/api/batch/types.ts
  kyuubi-server/web-ui/src/layout/components/aside/types.ts
  kyuubi-server/web-ui/src/locales/en_US/index.ts
  kyuubi-server/web-ui/src/locales/zh_CN/index.ts
  kyuubi-server/web-ui/src/test/unit/utils/engine-ui.spec.ts
  kyuubi-server/web-ui/src/test/unit/views/management/batch/index.spec.ts
  kyuubi-server/web-ui/src/test/unit/views/management/engine/index.spec.ts
  kyuubi-server/web-ui/src/utils/engine-ui.ts
  kyuubi-server/web-ui/src/views/management/batch/index.vue
  kyuubi-server/web-ui/src/views/management/engine/index.vue
Due: none

Remove broken status badges from README
  README.md
Due: none
