Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

Update externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
Due: kyuubi-spark-sql-engine

Update PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
Due: none

update
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/PrivilegesBuilder.scala
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

[KYUUBI #4186] Spark showProgress with JobInfo
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkConsoleProgressBar.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/StageStatus.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SQLOperationListenerSuite.scala
Due: kyuubi-spark-sql-engine

fix: fix some errors
  kyuubi-server/web-ui/pnpm-lock.yaml
  kyuubi-server/web-ui/src/components/monaco-editor/type.ts
  kyuubi-server/web-ui/src/views/lab/index.vue
Due: none

[KYUUBI #5380][UT] Create PySpark batch jobs tests for RESTful API
  kyuubi-server/src/test/scala/org/apache/kyuubi/BatchTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/PySparkBatchRestApiSuite.scala
Due: none

fix: fix some errors
  kyuubi-server/web-ui/pnpm-lock.yaml
  kyuubi-server/web-ui/src/components/monaco-editor/index.vue
Due: none

fix: update license-binary
  LICENSE-binary
Due: none

[KYUUBI #5486] Bump Kafka client version from 3.4.0 to 3.5.1
  dev/dependencyList
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerKafkaLoggingEventHandlerSuite.scala
  pom.xml
Due: none

fix: delete some language configs
  kyuubi-server/web-ui/src/components/monaco-editor/index.vue
Due: none

fix: adjust keyword case
  kyuubi-server/web-ui/src/components/monaco-editor/index.vue
Due: none

[KYUUBI #5517] [UI] Initial implement the SQL Lab page
  LICENSE-binary
  kyuubi-server/web-ui/package.json
  kyuubi-server/web-ui/pnpm-lock.yaml
  kyuubi-server/web-ui/src/components/monaco-editor/index.vue
  kyuubi-server/web-ui/src/components/monaco-editor/type.ts
  kyuubi-server/web-ui/src/layout/components/aside/types.ts
  kyuubi-server/web-ui/src/pinia/editor/index.ts
  kyuubi-server/web-ui/src/pinia/editor/type.ts
  kyuubi-server/web-ui/src/router/index.ts
  kyuubi-server/web-ui/src/router/lab/index.ts
  kyuubi-server/web-ui/src/views/lab/index.vue
Due: none

[KYUUBI #5513][BATCH] Always redirect delete batch request to Kyuubi instance that owns batch session
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
Due: none

Update docs/deployment/migration-guide.md
  docs/deployment/migration-guide.md
Due: none

Update kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
Due: none

[KYUUBI #5483] Release Spark TPC-H/DS Connectors with Scala 2.13
  build/release/release.sh
Due: none

nit
  build/release/release.sh
Due: none

Update the Kyuubi supported components version
  docs/quick_start/quick_start.rst
Due: none

Update build/release/release.sh
  build/release/release.sh
Due: none

[KYUUBI #5523] [DOC] Update the Kyuubi supported components version
  docs/quick_start/quick_start.rst
Due: none

ignore main class for pyspark batch submission
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: none

Support setting the username to launch Kyuubi engines in USER & CONNECTION share level
  docs/configuration/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefTests.scala
Due: kyuubi-common

Update download maven plugin version to 1.7.1 in pom.xml
  pom.xml
Due: none

[KYUUBI #5522] [BATCH] Ignore main class for PySpark batch job submission
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: none

add common method to get session level config
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
Due: kyuubi-spark-sql-engine

add common method to get session level config
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
Due: kyuubi-spark-sql-engine

add common method to get session level config
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SQLOperationListenerSuite.scala
Due: kyuubi-spark-sql-engine

java-17
  .github/workflows/master.yml
  pom.xml
Due: none
