Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

add some test
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SparkOperationEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLLineageParseHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/handler/SparkJsonLoggingEventHandlerSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkSQLLineageParserHelperSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

delete spark-sql-engine test for lineage
  docs/extensions/engines/spark/lineage.md
  extensions/spark/kyuubi-spark-lineage/pom.xml
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/events/OperationLineageEvent.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/events/OperationLineageEventSuite.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParserHelperSuite.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/spark/sql/SparkListenerExtenstionTest.scala
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/handler/SparkJsonLoggingEventHandlerSuite.scala
Due: kyuubi-spark-sql-engine

delete engine lineage parse
  dev/kyuubi-codecov/pom.xml
  docs/deployment/settings.md
  docs/extensions/engines/spark/lineage.md
  extensions/spark/kyuubi-spark-listener/pom.xml
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/SparkListenerSQLConf.scala
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/events/LineageEventHandlerRegister.scala
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/events/LineageJsonLoggingEventHandler.scala
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/listener/SparkOperationLineageQueryExecutionListener.scala
  extensions/spark/kyuubi-spark-listener/src/test/scala/org/apache/kyuubi/events/LineageJsonLoggingEventHandlerSuite.scala
  extensions/spark/kyuubi-spark-listener/src/test/scala/org/apache/spark/sql/SparkListenerExtenstionTest.scala
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SparkOperationEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLLineageParseHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/handler/SparkJsonLoggingEventHandlerSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/SparkSQLLineageParserHelperSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine, aggregate

optimize lineage output
  extensions/spark/kyuubi-spark-listener/pom.xml
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/plugin/lineage/SparkOperationLineageQueryExecutionListener.scala
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/plugin/lineage/events/OperationLineageEvent.scala
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/plugin/lineage/helper/SparkListenerHelper.scala
  extensions/spark/kyuubi-spark-listener/src/main/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParseHelper.scala
  extensions/spark/kyuubi-spark-listener/src/test/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParserHelperSuite.scala
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/handler/SparkJsonLoggingEventHandlerSuite.scala
Due: kyuubi-spark-sql-engine

change kyuubi-spark-listener module to kyuubi-spark-lineage module
  dev/kyuubi-codecov/pom.xml
  docs/extensions/engines/spark/lineage.md
  extensions/spark/kyuubi-spark-lineage/README.md
  extensions/spark/kyuubi-spark-lineage/pom.xml
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/SparkOperationLineageQueryExecutionListener.scala
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/events/OperationLineageEvent.scala
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/helper/SparkListenerHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParseHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParserHelperSuite.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/spark/sql/SparkListenerExtenstionTest.scala
  externals/kyuubi-spark-sql-engine/pom.xml
  pom.xml
Due: kyuubi-spark-sql-engine, aggregate

update lineage entity schema
  docs/extensions/engines/spark/lineage.md
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/events/OperationLineageEvent.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParserHelperSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/handler/SparkJsonLoggingEventHandlerSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #3254] Supplement the licenses of support etcd discovery
  LICENSE-binary
  NOTICE-binary
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/LICENSE
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/NOTICE
  licenses-binary/LICENSE-MIT-codehaus.txt
Due: kyuubi-spark-sql-engine

Build: enable spark-3.3 profile on GA
  .github/workflows/license.yml
  .github/workflows/publish-snapshot.yml
Due: none

nit
  .github/workflows/publish-snapshot.yml
Due: none

[BUILD] Publish daily snapshot on branch-1.6
  .github/workflows/publish-snapshot.yml
Due: none

add comment
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/handler/CustomEventHandlerProvider.scala
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/handler/EventHandlerLoader.scala
Due: none

fix review
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/EventHandlerRegister.scala
  kyuubi-events/src/test/scala/org/apache/kyuubi/events/CustomEventHandlerSuite.scala
  kyuubi-events/src/test/scala/org/apache/kyuubi/events/Fake1EventHandlerProvider.scala
  kyuubi-events/src/test/scala/org/apache/kyuubi/events/Fake2EventHandlerProvider.scala
Due: none

[KYUUBI #3089] [FEATURE] Support to load custom event handlers by ServiceLoader
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/EventHandlerRegister.scala
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/handler/CustomEventHandlerProvider.scala
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/handler/EventHandlerLoader.scala
  kyuubi-events/src/test/resources/META-INF/services/org.apache.kyuubi.events.handler.CustomEventHandlerProvider
  kyuubi-events/src/test/scala/org/apache/kyuubi/events/CustomEventHandlerSuite.scala
  kyuubi-events/src/test/scala/org/apache/kyuubi/events/Fake1EventHandlerProvider.scala
  kyuubi-events/src/test/scala/org/apache/kyuubi/events/Fake2EventHandlerProvider.scala
Due: none

catch exception when provider create event handler
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/handler/EventHandlerLoader.scala
  kyuubi-events/src/test/resources/META-INF/services/org.apache.kyuubi.events.handler.CustomEventHandlerProvider
  kyuubi-events/src/test/scala/org/apache/kyuubi/events/CustomEventHandlerSuite.scala
Due: none

fix test
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/handler/EventHandlerLoader.scala
  kyuubi-events/src/test/scala/org/apache/kyuubi/events/CustomEventHandlerSuite.scala
Due: none

Transfer the TGetInfoReq to kyuubi engine side to keep the kyuubi connection alive
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: kyuubi-common

[KYUUBI #3089] [FEATURE] Support to load custom event handlers by ServiceLoader
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/EventHandlerRegister.scala
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/handler/CustomEventHandlerProvider.scala
  kyuubi-events/src/main/scala/org/apache/kyuubi/events/handler/EventHandlerLoader.scala
  kyuubi-events/src/test/resources/META-INF/services/org.apache.kyuubi.events.handler.CustomEventHandlerProvider
  kyuubi-events/src/test/scala/org/apache/kyuubi/events/CustomEventHandlerSuite.scala
Due: none

[KYUUBI #3317] [BUILD] Publish daily snapshot on branch-1.6
  .github/workflows/publish-snapshot.yml
Due: none

[KYUUBI #3316] [BUILD] Enable spark-3.3 profile for license check on GA
  .github/workflows/license.yml
Due: none

[KYUUBI #3298][FOLLOWUP] Fix CI failure
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/Benchmark.scala
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/TPCDS_2_4_Queries.scala
Due: none

[KYUUBI #3320]Add AUTHENTICATION_LDAP_FILTER parametes, to fix LdapAuthenticationProviderImpl search condition is valid error
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImplSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/WithLdapServer.scala
Due: kyuubi-common

Revert "[KYUUBI #3020][FOLLOWUP] Refactor the code style"
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
Due: kyuubi-common

Revert "[KYUUBI #3020] kyuubi ldap add new config property kyuubi.authentication.ldap.bindpw and kyuubi.authentication.ldap.attrs"
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImpl.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/AuthenticationProviderFactorySuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/LdapAuthenticationProviderImplSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/WithLdapServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/RestClientTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationKerberosAndPlainAuthSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpKerberosAndPlainAuthSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: kyuubi-common

[KYUUBI #3306][INFRA] Add CI workflow for Kyuubi-AuthZ
  .github/workflows/master.yml
Due: none

[KYUUBI #3226][DOC] [FOLLOWUP] Kyuubi authZ only support spark 3.x
  docs/security/authorization/spark/build.md
  extensions/spark/kyuubi-spark-authz/README.md
Due: none

[KYUUBI #3128] Support CostMode for PlanOnlyStatement
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/PlanOnlyOperationSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #2282] Add lineage records for sql statement execution in Kyuubi engine logs
  dev/kyuubi-codecov/pom.xml
  docs/extensions/engines/spark/index.rst
  docs/extensions/engines/spark/lineage.md
  extensions/spark/kyuubi-spark-lineage/README.md
  extensions/spark/kyuubi-spark-lineage/pom.xml
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/SparkOperationLineageQueryExecutionListener.scala
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/events/OperationLineageEvent.scala
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/helper/SparkListenerHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParseHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/events/OperationLineageEventSuite.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/helper/SparkSQLLineageParserHelperSuite.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/spark/sql/SparkListenerExtenstionTest.scala
  pom.xml
Due: aggregate

add unknown for operation language
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/OperationLanguageSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #3318] Transfer the TGetInfoReq to kyuubi engine side to check the connection valid and keep connection alive
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: kyuubi-common

move ut in SparkQueryTests
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/PlanOnlyOperationSuite.scala
Due: kyuubi-common

[KYUUBI #3217][FOLLOWUP] Bump ranger version to 2.3.0
  docs/security/authorization/spark/build.md
  extensions/spark/kyuubi-spark-authz/README.md
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-authz/src/test/resources/log4j2-test.xml
  pom.xml
Due: none

[RELEASE] Bump 1.6.0-incubating
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-tpcds/pom.xml
  extensions/server/kyuubi-server-plugin/pom.xml
  extensions/spark/kyuubi-extension-spark-3-1/pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/pom.xml
  extensions/spark/kyuubi-extension-spark-3-3/pom.xml
  extensions/spark/kyuubi-extension-spark-common/pom.xml
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-connector-common/pom.xml
  extensions/spark/kyuubi-spark-connector-kudu/pom.xml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-jdbc-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-trino-engine/pom.xml
  integration-tests/kyuubi-flink-it/pom.xml
  integration-tests/kyuubi-hive-it/pom.xml
  integration-tests/kyuubi-jdbc-it/pom.xml
  integration-tests/kyuubi-kubernetes-it/pom.xml
  integration-tests/kyuubi-trino-it/pom.xml
  integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-events/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-rest-client/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

[KYUUBI #3327] Replace the contributing link in the PR template
  .github/PULL_REQUEST_TEMPLATE
Due: none

Bump 1.6.1-SNAPSHOT
  dev/kyuubi-codecov/pom.xml
  dev/kyuubi-tpcds/pom.xml
  extensions/server/kyuubi-server-plugin/pom.xml
  extensions/spark/kyuubi-extension-spark-3-1/pom.xml
  extensions/spark/kyuubi-extension-spark-3-2/pom.xml
  extensions/spark/kyuubi-extension-spark-3-3/pom.xml
  extensions/spark/kyuubi-extension-spark-common/pom.xml
  extensions/spark/kyuubi-spark-authz/pom.xml
  extensions/spark/kyuubi-spark-connector-common/pom.xml
  extensions/spark/kyuubi-spark-connector-kudu/pom.xml
  extensions/spark/kyuubi-spark-connector-tpcds/pom.xml
  extensions/spark/kyuubi-spark-connector-tpch/pom.xml
  externals/kyuubi-download/pom.xml
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-jdbc-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-trino-engine/pom.xml
  integration-tests/kyuubi-flink-it/pom.xml
  integration-tests/kyuubi-hive-it/pom.xml
  integration-tests/kyuubi-jdbc-it/pom.xml
  integration-tests/kyuubi-kubernetes-it/pom.xml
  integration-tests/kyuubi-trino-it/pom.xml
  integration-tests/pom.xml
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-ctl/pom.xml
  kyuubi-events/pom.xml
  kyuubi-ha/pom.xml
  kyuubi-hive-beeline/pom.xml
  kyuubi-hive-jdbc-shaded/pom.xml
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/pom.xml
  kyuubi-rest-client/pom.xml
  kyuubi-server/pom.xml
  kyuubi-zookeeper/pom.xml
  pom.xml
  tools/spark-block-cleaner/pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine, aggregate

save
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/metadata/MetadataManagerSuite.scala
Due: none

fix npm run build
  kyuubi-server/web-ui/src/views/contact/index.vue
  kyuubi-server/web-ui/src/views/operation/completedJobs/index.vue
  kyuubi-server/web-ui/src/views/operation/runningJobs/index.vue
  kyuubi-server/web-ui/src/views/workload/analysis/index.vue
  kyuubi-server/web-ui/src/views/workload/query/index.vue
  kyuubi-server/web-ui/src/views/workload/queue/index.vue
  kyuubi-server/web-ui/src/views/workload/session/index.vue
Due: none
