Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

fix compile
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ApiUtils.scala
Due: none

fix
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/FetchOrcStatement.scala
Due: kyuubi-spark-sql-engine

fix test
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilderSuite.scala
Due: none

update
  kyuubi-grpc/src/main/resources/protobuf/kyuubi/spark/base.proto
  kyuubi-grpc/src/main/resources/protobuf/kyuubi/spark/catalog.proto
  kyuubi-grpc/src/main/resources/protobuf/kyuubi/spark/commands.proto
  kyuubi-grpc/src/main/resources/protobuf/kyuubi/spark/common.proto
  kyuubi-grpc/src/main/resources/protobuf/kyuubi/spark/example_plugins.proto
  kyuubi-grpc/src/main/resources/protobuf/kyuubi/spark/expressions.proto
  kyuubi-grpc/src/main/resources/protobuf/kyuubi/spark/relations.proto
  kyuubi-grpc/src/main/resources/protobuf/kyuubi/spark/types.proto
  kyuubi-grpc/src/main/scala/org/apache/kyuubi/grpc/operation/GrpcOperation.scala
  kyuubi-grpc/src/main/scala/org/apache/kyuubi/grpc/operation/GrpcOperationManager.scala
  kyuubi-grpc/src/main/scala/org/apache/kyuubi/grpc/service/GrpcBackendService.scala
  kyuubi-grpc/src/main/scala/org/apache/kyuubi/grpc/service/GrpcFrontendService.scala
  kyuubi-grpc/src/main/scala/org/apache/kyuubi/grpc/session/GrpcSession.scala
  kyuubi-grpc/src/main/scala/org/apache/kyuubi/grpc/session/GrpcSessionManager.scala
  pom.xml
Due: none

[KYUUBI #6359] [REST] Return more fields within session/batch data
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/SessionData.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ApiUtils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/metadata/jdbc/JDBCMetadataStore.scala
Due: none

[KYUUBI #6370] For saveToFile, checking idx to prevent IndexOutOfBoundsException
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/FetchOrcStatement.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #4515] Capturing process id for kyuubi server launched using run command
  bin/kyuubi
Due: none

[KYUUBI #6172][TASK][EASY] Support to interrupt the thrift request immediately after marking the engine not alive
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
Due: none

DQL
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
Due: kyuubi-spark-sql-engine

ut
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelperSuite.scala
Due: kyuubi-spark-sql-engine

refine the check
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

conf
  docs/configuration/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #6373] Add empty RowSet for OpertationLog
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/OperationLog.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-common

fix test
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/log/OperationLogSuite.scala
Due: kyuubi-common

add test
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/log/OperationLogSuite.scala
Due: kyuubi-common

ut
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelperSuite.scala
Due: kyuubi-spark-sql-engine

revert and fix npe
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/log/OperationLogSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
Due: kyuubi-common

revert
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/OperationLog.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-common

update
  kyuubi-grpc/src/main/scala/org/apache/kyuubi/grpc/operation/GrpcOperation.scala
  kyuubi-grpc/src/main/scala/org/apache/kyuubi/grpc/operation/GrpcOperationManager.scala
  kyuubi-grpc/src/main/scala/org/apache/kyuubi/grpc/service/GrpcBackendService.scala
  kyuubi-grpc/src/main/scala/org/apache/kyuubi/grpc/service/GrpcFrontendService.scala
  kyuubi-grpc/src/main/scala/org/apache/kyuubi/grpc/session/GrpcSession.scala
  kyuubi-grpc/src/main/scala/org/apache/kyuubi/grpc/session/GrpcSessionManager.scala
Due: none

[KYUUBI #6377] Fix isCommand check and set min rows threshold for saveToFile
  docs/configuration/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelperSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #6373] Avoid NPE in get operation log api
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
Due: none

[KYUUBI #4847][FOLLOWUP] Exclude the alive probe sessions in terminating checker
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/TFrontendServiceSuite.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSession.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

id name url
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiSessionEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

id name url
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/SessionData.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ApiUtils.scala
Due: none

engine info
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/KyuubiSessionEvent.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ApiUtils.scala
Due: none

refine
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: none

[KYUUBI #6379] Return engine name and engine url within KyuubiSessionEvent/SessionData
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/KyuubiSessionEvent.java
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/SessionData.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiSessionEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ApiUtils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

Update .github/workflows/master.yml
  .github/workflows/master.yml
Due: none

[KYUUBI #6348] Upgrade iceberg from 1.5.0 to 1.5.2
  pom.xml
Due: none

[KYUUBI #6328] Bump Hive 2.3.10
  .github/workflows/master.yml
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
