Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #4830][TEST] Fix flaky test "support to interrupt the thrift request if remote engine is broken"
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

[K8S][HELM] Use supervisor to run kyuubi process
  charts/kyuubi/templates/kyuubi-deployment.yaml
  docker/Dockerfile
Due: none

fix
  docs/extensions/engines/spark/lineage.md
Due: none

fix
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasLineageDispatcher.scala
Due: none

fix
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasEntityHelper.scala
Due: none

Update extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasLineageDispatcherSuite.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasLineageDispatcherSuite.scala
Due: none

Update extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasEntityHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasEntityHelper.scala
Due: none

[KYUUBI #4838] Fix spark operation exception leak in `withLocalProperties` method
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteScala.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #4836] Set UncaughtExceptionHandler for thread to log exception
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/KyuubiUncaughtExceptionHandler.scala
Due: kyuubi-common

ut
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

save
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteScala.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
Due: kyuubi-spark-sql-engine

comments
  docs/extensions/engines/spark/lineage.md
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasClientConf.scala
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasEntityHelper.scala
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasLineageDispatcher.scala
  extensions/spark/kyuubi-spark-lineage/src/test/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasLineageDispatcherSuite.scala
Due: none

comment
  docs/extensions/engines/spark/lineage.md
  extensions/spark/kyuubi-spark-lineage/src/main/scala/org/apache/kyuubi/plugin/lineage/dispatcher/atlas/AtlasClientConf.scala
Due: none

Return cached appInfo iif both op and app are terminated
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: none

use map directly
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/api/v1/dto/AdminEngineRequest.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
Due: none

[KYUUBI #4835] [K8S] Using hive conf to check whether to apply HIVE_DELEGATION_TOKEN
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendServiceSuite.scala
Due: kyuubi-spark-sql-engine

close on error
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: none

[KYUUBI #4840] Return cached appInfo iif both op and app are terminated
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: none

save
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: none

log
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common

[KYUUBI #4841] [MINOR] Log more info for closing session
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: kyuubi-common

try to retry in longer time with eventually
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: none

update
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchRestApiSuite.scala
Due: none

expose operation metrics
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiOperationEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/BackendServiceMetric.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

fix ut
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

comment
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/BackendServiceMetric.scala
Due: none

[KYUUBI #4829] Support to expose operation metrics
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiOperationEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/BackendServiceMetric.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: none

fix typo for etcd client
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClient.scala
Due: kyuubi-ha

[KYUUBI #4842] [MINOR] Fix typo in etcd client config
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/etcd/EtcdDiscoveryClient.scala
Due: kyuubi-ha
