Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[TESTS] Enable UT for CONNECTION level engine shared.
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: kyuubi-main

[KYUUBI #294][TEST] Enable UT for CONNECTION level engine shared. fixes #294 Squashed commit of the following:
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
Due: kyuubi-main

[KYUUBI #295][INFRA] Add licenses for some yml files
  .readthedocs.yml
  .travis.yml
  _config.yml
  codecov.yml
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/KinitAuxiliaryService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/AnonymousAuthenticationProviderImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiAuthenticationFactory.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/authentication/KyuubiDelegationTokenManager.scala
Due: kyuubi-common

Remove dulicated error msg for open sessions at engine side (#293)
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #280] Align Operation GET_SCHEMAS * behavior with Hive #292
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetColumns.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetSchemas.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTables.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

add spark 2.4.7 profile
  externals/kyuubi-spark-sql-engine/pom.xml
  pom.xml
Due: kyuubi-spark-sql-engine

nit
  externals/kyuubi-download/pom.xml
  pom.xml
Due: none

nit
  externals/kyuubi-spark-sql-engine/pom.xml
Due: kyuubi-spark-sql-engine

remove unused properties in build info
  .gitignore
  build/kyuubi-build-info
Due: none

scala versions for profile spark-2.4
  pom.xml
Due: none

[KYUUBI #296] Add spark 2.4 profile and shade hive-sevice-rpc to engine jar to fix thrift build err (#296)
  externals/kyuubi-download/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  pom.xml
Due: kyuubi-spark-sql-engine

[KYUUBI #297] Remove unused property from build properties file fixes #297 Squashed commit of the following:
  .gitignore
  build/kyuubi-build-info
Due: none

[KYUUBI-298] Add maven profile spark-3.1
  externals/kyuubi-download/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  pom.xml
Due: kyuubi-spark-sql-engine

Extract basic jdbc tests
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicJDBCTests.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerGroupSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerServerSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/SharedKyuubiOperationContext.scala
Due: kyuubi-common, kyuubi-main

style
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/SharedKyuubiOperationContext.scala
Due: kyuubi-main

just save
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicJDBCTests.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerGroupSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerServerSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: kyuubi-common, kyuubi-main

fix ut
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicJDBCTests.scala
Due: kyuubi-common

style
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicJDBCTests.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerGroupSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerServerSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
Due: kyuubi-common, kyuubi-main

rename SharedKyuubiOperationContext to WithKyuubiServer
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerGroupSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerServerSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
Due: kyuubi-main

[KYUUBI #300][TEST] Extract basic jdbc tests to prevent long time UT
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicJDBCTests.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerConnectionSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerGroupSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerServerSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationPerUserSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
Due: kyuubi-common, kyuubi-main

init
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-main

simple
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-main

fix
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-main

[KYUUBI #302]fix zk client not release if open session failed
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-main

err msg
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
Due: kyuubi-common

fix
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
Due: kyuubi-common

init
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ServerableSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/KyuubiServerSuite.scala
Due: kyuubi-common, kyuubi-main

[KYUUBI #303][FOLLOWUP] Fix test
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ServerableSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/KyuubiServerSuite.scala
Due: kyuubi-common, kyuubi-main

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
