Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

fix word error
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/package.scala
Due: kyuubi-common

use SPARK_HOME_IN_DOCKER
  bin/docker-image-tool.sh
  docker/Dockerfile
Due: none

[DOC] Update kyuubi_layers.drawio to add driver layer
  docs/imgs/kyuubi_layers.drawio
  docs/imgs/kyuubi_layers.png
  docs/index.rst
Due: none

replace -d & add usage
  bin/docker-image-tool.sh
Due: none

address comments
  docs/imgs/kyuubi_layers.drawio
  docs/index.rst
Due: none

[DOC] Improve High Availability Guide
  docs/deployment/high_availability_guide.md
  docs/imgs/ha.drawio
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
Due: kyuubi-ha

[DOC] Improve High Availability Guide
  docs/overview/architecture.md
Due: none

[KYUUBI #1526] [DOC] Update kyuubi_layers.drawio to add driver layer
  docs/imgs/kyuubi_layers.drawio
  docs/imgs/kyuubi_layers.png
  docs/index.rst
Due: none

[KYUUBI #1522] Pass the client ip to engine
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/package.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #1523] Refine usage about option '--namespace' in kyuubi-ctl
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCliArguments.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
Due: none

[KYUUBI #1393][TASK-2] Add operation number metric
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationType.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-metrics/src/test/scala/org/apache/kyuubi/metrics/MetricsSystemSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: kyuubi-common

[DOC] Improve High Availability Guide
  docs/deployment/settings.md
Due: none

[KYUUBI #1480] Fix bug in docker-image-tool & Provider image way to config SPARK instead of local copy
  bin/docker-image-tool.sh
  docker/Dockerfile
Due: none

nameSpace
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
Due: none

[KYUUBI #1516] Implement api: /${version}/operations/${operation_identifier}
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/dto.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/OperationsResourceSuite.scala
Due: none

[KYUUBI-1528] Record the kyuubi server ip address in event log
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SessionEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineSessionPage.scala
Due: kyuubi-spark-sql-engine

code
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
Due: none

[DOC] Improve High Availability Guide
  docs/deployment/high_availability_guide.md
Due: none

[KYUUBI #1527] [DOC] Improve High Availability Guide
  docs/deployment/high_availability_guide.md
  docs/deployment/settings.md
  docs/imgs/ha.drawio
  docs/overview/architecture.md
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
Due: kyuubi-ha

[KYUUBI-1528] Record the kyuubi server ip address in event log, set serverIpAddress in SessionEvent.apply
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SessionEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EngineEventsStoreSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1528] Record the kyuubi server ip address in event log
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SessionEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EngineSessionPage.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EngineEventsStoreSuite.scala
Due: kyuubi-spark-sql-engine

add doc
  docs/deployment/kyuubi_on_kubernetes.md
Due: none

fix
  docs/deployment/kyuubi_on_kubernetes.md
Due: none

[KYUUBI #1531] Add kyuubi version in engineSpace
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
Due: none

Remove duplicate hive client version property
  pom.xml
Due: none

[KYUUBI #1535] Remove duplicate hive client version property
  pom.xml
Due: none

[KYUUBI #1533] Add documentation about Kyuubi docker-image-tool using Spark image as BASE_IMAGE
  docs/deployment/kyuubi_on_kubernetes.md
Due: none

replace operationDetail with KyuubiEvent
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/Operation.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/NoopEvent.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/NoopOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/dto.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/OperationsResourceSuite.scala
Due: kyuubi-common

add operation rpc time metric
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsSystem.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiThriftClientCallTimeStatics.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
Due: none

codestyle
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/dto.scala
Due: none

Remove unused keys sync step for kyuubi finalize release
  build/release/release.sh
Due: none

[KYUUBI #1541] Remove keys sync step for Kyuubi finalize release
  build/release/release.sh
Due: none

[KYUUBI #1542] Move FetchIterator into kyuubi-common for multi-engine support
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteScala.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetCatalogs.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetColumns.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetFunctions.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetSchemas.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTableTypes.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTables.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTypeInfo.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/FetchIteratorSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/FetchIterator.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

Move FetchIteratorSuite into kyuubi-common module
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/FetchIteratorSuite.scala
Due: kyuubi-common

unify operation metrics tracing
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
Due: none

[KYUUBI #1542] Move FetchIterator into kyuubi-common for multi-engine support
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteScala.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetCatalogs.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetColumns.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetFunctions.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetSchemas.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTableTypes.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTables.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/GetTypeInfo.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/PlanOnlyStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/FetchIterator.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/FetchIteratorSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

Revert
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/Operation.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/NoopEvent.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/NoopOperation.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/dto.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/OperationsResourceSuite.scala
Due: kyuubi-common

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
