Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

fix ut
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiRestAuthenticationSuite.scala
Due: none

sync
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

address comments
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

[KYUUBI #1563] Fix broken link and add new link in `CONTRIBUTION.md`
  CONTRIBUTING.md
Due: none

rename package to http.authentication
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthSchemes.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationFilter.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/BasicAuthenticationHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/KerberosAuthenticationHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/KerberosUtil.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/ui/JettyServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiRestAuthenticationSuite.scala
Due: none

[KYUUBI #2079] Update kyuubi layer source file to add flink and trino engine
  docs/imgs/kyuubi_layers.drawio
Due: none

add spnego unit test
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/KerberosUtil.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiRestAuthenticationSuite.scala
Due: kyuubi-common

refactor
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationFilter.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiRestAuthenticationSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/http/authentication/AuthenticationFilterSuite.scala
Due: kyuubi-common

[KYUUBI #2079] Update kyuubi layer source file to add flink and trino…
  docs/imgs/kyuubi_layers.drawio
Due: none

[KYUUBI #1936] Send credentials when opening session and wait for completion
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/LaunchEngine.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopCredentialsManagerSuite.scala
Due: none

[KYUUBI #2081] add YARN_CONF_DIR to kyuubi server classpath
  bin/kyuubi
  bin/load-kyuubi-env.sh
  conf/kyuubi-env.sh.template
  docs/deployment/settings.md
Due: none

[KYUUBI #2081] YARN_CONF_DIR shall be added to kyuubi server classpath as HADOOP_CONF_DIR
  bin/beeline
  bin/kyuubi
  bin/kyuubi-ctl
  bin/kyuubi-zk-cli
  bin/load-kyuubi-env.sh
  conf/kyuubi-env.sh.template
  docs/deployment/settings.md
  docs/integrations/delta_lake_with_azure_blob.md
  docs/monitor/logging.md
  docs/quick_start/quick_start.md
Due: none

[KYUUBI #2078] logCaptureThread does not catch sparksubmit exception
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: none

[KYUUBI #2081] YARN_CONF_DIR shall be added to kyuubi server classpath as HADOOP_CONF_DIR
  conf/kyuubi-env.sh.template
  docs/deployment/settings.md
Due: none

[KYUUBI #2084] Support arbitrary parameters for KyuubiConf
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/resources/kyuubi-defaults.conf
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
Due: kyuubi-common

[KYUUBI #2078] `logCaptureThread` does not catch sparksubmit exception
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: none

fix compile problem
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/resources/kyuubi-defaults.conf
Due: kyuubi-common

add more example configuration
  kyuubi-common/src/test/resources/kyuubi-defaults.conf
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
Due: kyuubi-common

remove useless logic
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: none

modify test conf
  kyuubi-common/src/test/resources/kyuubi-defaults.conf
Due: kyuubi-common

[KYUUBI #2093] kyuubi beeline can not connect the kyuubi server due to exception
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
Due: kyuubi-spark-sql-engine

modify ut
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
Due: kyuubi-common

[KYUUBI #1978] Support NEGOTIATE/BASIC authorization for restful frontend service
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/KerberizedTestHelper.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthSchemes.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationFilter.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/BasicAuthenticationHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/KerberosAuthenticationHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/KerberosUtil.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/ui/JettyServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/RestFrontendTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiRestAuthenticationSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/http/authentication/AuthenticationFilterSuite.scala
Due: kyuubi-common

modify ut case
  kyuubi-common/src/test/resources/kyuubi-defaults.conf
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
Due: kyuubi-common

[CI] Upload Test Log for CI failure shall contain trino engine log #2094
  .github/workflows/master.yml
  .github/workflows/nightly.yml
Due: none

[Kyuubi #2071] Using while-loop instead of map/range to improve performance in RowSet
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/RowSet.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #2089] Add debugging instructions for flink engine
  docs/develop_tools/debugging.md
Due: none

[KYUUBI #1948][FOLLOWUP] Relocate fb303 classes
  externals/kyuubi-flink-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
Due: kyuubi-spark-sql-engine

modify ut
  kyuubi-common/src/test/resources/kyuubi-defaults.conf
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
Due: kyuubi-common

[KYUUBI #2095] Remove useless logic about add conf when create a new engine
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilderSuite.scala
Due: none

[KYUUBI #2097] [CI] Upload Test Log for CI failure shall contain trino engine log #2094
  .github/workflows/master.yml
  .github/workflows/nightly.yml
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
