Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #502][SPARK-35002][INFRA] Fix the java.net.BindException when testing with Github Action
  .github/workflows/master.yml
Due: none

revert env KYUUBI_FRONTEND_BIND_HOST and set kyuubi.frontend.bind.host to 127.0.0.1 in scalatest-maven-plugin
  .github/workflows/master.yml
  conf/kyuubi-env.sh.template
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
  pom.xml
Due: kyuubi-common

add install shaded jars in release.yml
  .github/workflows/release.yml
Due: none

involve KYUUBI_FRONTEND_BIND_HOST
  conf/kyuubi-env.sh.template
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
Due: kyuubi-common

address comments
  .github/workflows/master.yml
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
Due: kyuubi-main

use localhost instead of 127.0.0.1
  .github/workflows/master.yml
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
  pom.xml
Due: kyuubi-main

[KYUUBI #502][SPARK-35002][INFRA] Fix the java.net.BindException when testing with Github Action
  .github/workflows/master.yml
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
  pom.xml
Due: kyuubi-main

Shade curator dependencies to avoid impaction by external jars
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  pom.xml
Due: kyuubi-ha, kyuubi-spark-sql-engine

Add ignore list and and restrict list in server
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/server/KyuubiBackendService.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/KyuubiBackendServiceSuite.scala
Due: kyuubi-common, kyuubi-main

[KYUUBI #506] Shade curator dependencies to avoid impaction by external jars
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  pom.xml
Due: kyuubi-ha, kyuubi-spark-sql-engine

[KYUUBI #304] Kyuubi service control client action- expose existing kyuubi server instances to another domain
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithDiscoverySparkSQLEngine.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/KyuubiFunSuite.scala
  kyuubi-ctl/pom.xml
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLineUtils.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArguments.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlException.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/KyuubiCtlArgumentsSuite.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine

change dependencyList
  dev/dependencyList
Due: none

Revert "change dependencyList"
  dev/dependencyList
Due: none

change kyuubi-assembly/pom.xml
  kyuubi-assembly/pom.xml
Due: none

replace `git diff` by `diff` in dependency.sh
  build/dependency.sh
Due: none

add list/get/delete action and refer the zk nodes info
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLineUtils.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArguments.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

Revert "change kyuubi-assembly/pom.xml"
  kyuubi-assembly/pom.xml
Due: none

[KYUUBI #507] [BUILD] Fix dependencyList diff
  build/dependency.sh
Due: none

address comments
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLineUtils.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArguments.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
Due: none

[KYUUBI #500] Speed up spark sql engine diagnostics
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
Due: kyuubi-spark-sql-engine

refactor for delete action
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
Due: none

refactor format
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLineUtils.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

align class name with ServiceControlCli
  kyuubi-ctl/src/main/java/org/apache/kyuubi/ctl/ServiceControlCliOptionParser.java
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCliArguments.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCliArgumentsParser.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCliException.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliArgumentsSuite.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
Due: none

use function t o generate expected output
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
Due: none

[KYUUBI #476] Add ignore list and and restrict list in server
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/server/KyuubiBackendService.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/KyuubiBackendServiceSuite.scala
Due: kyuubi-common, kyuubi-main

address comments
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCliArguments.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliArgumentsSuite.scala
Due: none

refactor column name
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
Due: none

[KYUUBI #304] Kyuubi service control client action implementation
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithDiscoverySparkSQLEngine.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/KyuubiFunSuite.scala
  kyuubi-ctl/pom.xml
  kyuubi-ctl/src/main/java/org/apache/kyuubi/ctl/ServiceControlCliOptionParser.java
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLineUtils.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArgumentsParser.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCliArguments.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCliArgumentsParser.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCliException.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliArgumentsSuite.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine

upgrade `iceberg-spark3-runtime` to 0.11.1
  pom.xml
Due: none

[KYUUBI #476][FOLLOWUP] Strip prefixes when ignoring and restricting configs
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/server/KyuubiBackendService.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/server/KyuubiBackendServiceSuite.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

nit
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
Due: kyuubi-common, kyuubi-main

doc
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

[KYUUBI #497]upgrade `iceberg-spark3-runtime` to 0.11.1
  pom.xml
Due: none

Use PersistentNode to take place of deprecated PersistentEphemeralNode
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

[KYUUBI #511] Use PersistentNode to take place of deprecated PersistentEphemeralNode
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

Add kyuubi-ctl shell script
  bin/kyuubi-ctl
Due: none

more test
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestUtils.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
Due: kyuubi-common, kyuubi-main

[KYUUBI #304] Add kyuubi-ctl shell script
  bin/kyuubi-ctl
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
