Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #1336] Remove confusing output when kyuubi stop
  bin/kyuubi
Due: none

[KYUUBI #1340] Refactor ProcBuilder creation based on EngineType
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
Due: none

typo fix
  docs/appendix/terminology.md
  docs/client/hive_jdbc.md
  docs/community/contributions.md
  docs/community/release.md
  docs/deployment/high_availability_guide.md
  docs/deployment/hive_metastore.md
  docs/deployment/on_yarn.md
  docs/deployment/spark/aqe.md
  docs/deployment/spark/dynamic_allocation.md
  docs/develop_tools/build_document.md
  docs/develop_tools/debugging.md
  docs/develop_tools/developer.md
  docs/develop_tools/distribution.md
  docs/develop_tools/testing.md
  docs/monitor/logging.md
  docs/monitor/trouble_shooting.md
  docs/overview/architecture.md
  docs/overview/kyuubi_vs_hive.md
  docs/overview/kyuubi_vs_thriftserver.md
Due: none

change serial to several
  docs/deployment/spark/aqe.md
Due: none

[KYUUBI #1347] [DOC] Fix miscellaneous doc typos
  docs/appendix/terminology.md
  docs/client/hive_jdbc.md
  docs/community/contributions.md
  docs/community/release.md
  docs/deployment/high_availability_guide.md
  docs/deployment/hive_metastore.md
  docs/deployment/on_yarn.md
  docs/deployment/spark/aqe.md
  docs/deployment/spark/dynamic_allocation.md
  docs/develop_tools/build_document.md
  docs/develop_tools/debugging.md
  docs/develop_tools/developer.md
  docs/develop_tools/distribution.md
  docs/develop_tools/testing.md
  docs/monitor/logging.md
  docs/monitor/trouble_shooting.md
  docs/overview/architecture.md
  docs/overview/kyuubi_vs_hive.md
  docs/overview/kyuubi_vs_thriftserver.md
Due: none

[DEPS] Add netty to kyuubi-server module
  LICENSE-binary
  dev/dependencyList
  kyuubi-server/pom.xml
  pom.xml
Due: none

mvn docker into kubernetes
  build/dist
Due: none

[KYUUBI #1350] [BUILD] Put spark-block-cleaner jar into sub dir kubernetes
  build/dist
Due: none

operationtype
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/dto.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: kyuubi-common

bugfix
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: none

fix codestype
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/dto.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: kyuubi-common

Remove staging repo
  pom.xml
Due: none

[KYUUBI #1338] Bump Iceberg 0.12.1
  pom.xml
Due: none

nit
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopBackendService.scala
Due: kyuubi-common

[KYUUBI #1331] [TEST] Refactor test classes to match multi frontend protocol
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/SparkThriftBinaryFrontendServiceSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/AbstractNoopServer.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopThriftBinaryFrontendServer.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ServerableSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ThriftFrontendServiceSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/PlainSASLHelperSuite.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/RestFrontendTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServerOnYarn.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithSecuredDFSService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProviderSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiRestFrontendServiceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/RestFrontendServiceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/service/NoopRestFrontendServer.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

Add new conf kyuubi.frontend.protocols
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiServerSuite.scala
Due: kyuubi-common

codestyle
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: kyuubi-common

Fix compile
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: none

Simplify code by SAM
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: none

[KYUUBI #1348] [DEPS] Add netty and mysql jdbc driver to kyuubi-server module
  LICENSE-binary
  dev/dependencyList
  kyuubi-server/pom.xml
  pom.xml
Due: none

[KYUUBI #1349] Add new conf kyuubi.frontend.protocols
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiServerSuite.scala
Due: kyuubi-common

Refine KyuubiStatementEvent
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationStatus.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/OperationStatusSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiStatementEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/EventLoggingServiceSuite.scala
Due: kyuubi-common

Refine KyuubiStatementEvent
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiStatementEvent.scala
Due: none

[KYUUBI #1356] Refine KyuubiStatementEvent
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationStatus.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/OperationStatusSuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiStatementEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/ExecuteStatement.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/EventLoggingServiceSuite.scala
Due: kyuubi-common

Kyuubi MySQL FE
  conf/log4j.properties.template
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/HiveJDBCTestHelper.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTestHelper.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLCodec.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLCommandHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLCommandPackets.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLDataPackets.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLDateTimeUtils.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLField.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLGenericPackets.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLNullBitmap.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLPacket.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLQueryResult.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/MySQLRichByteBuf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/authentication/MySQLAuthHandler.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/authentication/MySQLAuthPackets.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/authentication/MySQLAuthentication.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/authentication/MySQLNativePassword.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/constant/MySQLCapabilityFlag.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/constant/MySQLCommandPacketType.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/constant/MySQLCtxAttrKey.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/constant/MySQLDataType.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/constant/MySQLErrorCode.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/constant/MySQLFieldDetailFlag.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/constant/MySQLServerDefines.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/mysql/constant/MySQLStatusFlag.scala
  kyuubi-server/src/test/resources/log4j.properties
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendServiceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/mysql/MySQLJDBCTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/mysql/MySQLSparkQuerySuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/service/NoopMySQLFrontendServer.scala
Due: kyuubi-common

Support setting zk chroot path when initialize cluster
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ZooKeeperClientProvider.scala
Due: kyuubi-ha

KyuubiMySQLFrontendService Stub
  conf/log4j.properties.template
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
  kyuubi-server/src/test/resources/log4j.properties
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendServiceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/service/NoopMySQLFrontendServer.scala
Due: kyuubi-common

nit
  kyuubi-server/src/test/resources/log4j.properties
Due: none

Address comments
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

address all the comments
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ZooKeeperClientProvider.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-ha

nit
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
Due: none

Update conf
  docs/deployment/settings.md
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/NettyUtils.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/RestFrontendTestHelper.scala
Due: kyuubi-common

Address comments
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/NettyUtils.scala
Due: kyuubi-common

[MINOR] Change log level from warn to error when executing statement failed
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/ThriftBinaryFrontendService.scala
Due: kyuubi-common

[KYUUBI #1360] [MINOR] Change log level from warn to error when executing statement failed
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/ThriftBinaryFrontendService.scala
Due: kyuubi-common

[KYUUBI #1358] Add KyuubiMySQLFrontendService stub
  conf/log4j.properties.template
  docs/deployment/settings.md
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/NettyUtils.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/test/resources/log4j.properties
  kyuubi-server/src/test/scala/org/apache/kyuubi/RestFrontendTestHelper.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiMySQLFrontendServiceSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/service/NoopMySQLFrontendServer.scala
Due: kyuubi-common

separate
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/dto.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: none

[KYUUBI #933] Enhance the detection mechanism for engine startup
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/InitializeSQLSuite.scala
Due: kyuubi-ha

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
