Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #3065] Support to retry the killApplicationByTag for JpsApplicationOperation
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/JpsApplicationOperation.scala
Due: none

add more
  docs/tools/kyuubi-admin.md
Due: none

[KYUUBI #3073] CredentialsManager should use appUser to renew credential
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

add rest api docs
  docs/client/rest/index.rst
  docs/client/rest/rest_api.md
Due: none

refactor
  docs/client/rest/rest_api.md
Due: none

nit
  docs/client/rest/rest_api.md
Due: none

Cap
  docs/client/rest/rest_api.md
Due: none

[KYUUBI #3018] [Subtask] DorisSQLEngine - GetColumns Operation
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/dialect/DorisDialect.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/dialect/JdbcDialect.scala
  externals/kyuubi-jdbc-engine/src/main/scala/org/apache/kyuubi/engine/jdbc/operation/JdbcOperationManager.scala
  externals/kyuubi-jdbc-engine/src/test/scala/org/apache/kyuubi/engine/jdbc/doris/DorisOperationSuite.scala
Due: none

comments
  docs/tools/kyuubi-admin.md
  docs/tools/kyuubi-admin.rst
Due: none

remove statement overwrite
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
Due: none

Remove launch engine statement overwrite
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/LaunchEngine.scala
Due: none

new line
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/services/io.grpc.LoadBalancerProvider
Due: kyuubi-spark-sql-engine

[KYUUBI #3077] Remove meaningless statement override in LaunchEngine
  externals/kyuubi-spark-sql-engine/src/main/resources/META-INF/services/io.grpc.LoadBalancerProvider
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/LaunchEngine.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #3076][Subtask][#3039] Add the docs for rest api - Batch Resource
  docs/client/rest/index.rst
  docs/client/rest/rest_api.md
Due: none

[KYUUBI #3045][FOLLOWUP] Correct the common options and add docs for kyuubi-admin command
  bin/kyuubi-admin
  docs/tools/index.rst
  docs/tools/kyuubi-admin.rst
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CliConfig.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLine.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ControlCliArguments.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/Command.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/util/CtlUtils.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/AdminControlCliArgumentsSuite.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ControlCliArgumentsSuite.scala
Due: none

only in server side
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
Due: kyuubi-common

comments
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/session/HiveSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/package.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

reserve the kyuubi session ip to engine side
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
Due: kyuubi-common

add key
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
Due: kyuubi-common

refactor
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
Due: kyuubi-common

remove static
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Due: none

get from session ip
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Due: kyuubi-common

remove unused new line
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
Due: kyuubi-common

comments
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/package.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
Due: kyuubi-common

comments
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/session/HiveSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

comments
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/session/HiveSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #3046][Metrics] Add meter metrics for recording the rate of the operation state for each kyuubi operation
  docs/monitor/metrics.md
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsSystem.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperation.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/BatchesResourceSuite.scala
Due: none

comments
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/events/HiveSessionEvent.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/session/HiveSessionImpl.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SessionEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

fix
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/session/HiveSessionManager.scala
Due: none

[KYUUBI #3051] Support to get the real client ip address for thrift connection when using VIP as kyuubi server load balancer
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/events/HiveSessionEvent.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/session/HiveSessionImpl.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/session/HiveSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SessionEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/package.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiConnection.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

prevent cve
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTHttpFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/ThriftHttpServlet.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationFilter.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/util/SessionManager.scala
Due: kyuubi-common

[KYUUBI #3052][FOLLOWUP] Do not use the ip in proxy http header for authentication to prevent CVE
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiRestFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTHttpFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/AdminResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/BatchesResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/ThriftHttpServlet.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/authentication/AuthenticationFilter.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/util/SessionManager.scala
Due: kyuubi-common

bump spark-3.2.2
  pom.xml
Due: none

[KYUUBI #3044] Bump Spark 3.2.2
  .github/workflows/master.yml
  pom.xml
Due: none

Enable Iceberg test w/ Spark 3.3
  pom.xml
Due: none

Fix ut caused by SPARK-37931
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/IcebergMetadataTests.scala
Due: kyuubi-common

Bump Apache Iceberg 0.14.0
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-server/pom.xml
  pom.xml
Due: kyuubi-spark-sql-engine

Replace apache commons Base64 w/ JDK
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/auth/HttpAuthUtils.java
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/http/util/CookieSigner.scala
Due: none

Fix SPNEGO header
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/HttpKerberosRequestInterceptor.java
Due: none

[KYUUBI #3050] Bump Apache Iceberg 0.14.0
  externals/kyuubi-spark-sql-engine/pom.xml
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/IcebergMetadataTests.scala
  kyuubi-server/pom.xml
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine
