Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #902] Wrong operation statistics on kyuubi page
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #892] Make JsonEventLogger compatible with HDFS-like FileSystems
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EventLoggingService.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/JsonEventLogger.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #894] Enhance kyuubi-zookeeper module
  LICENSE-binary
  dev/dependencyList
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithDiscoverySparkSQLEngine.scala
  kyuubi-assembly/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-ctl/pom.xml
  kyuubi-server/pom.xml
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServer.scala
  kyuubi-zookeeper/pom.xml
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #906] Add SessionEvent to track session status changes
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EngineEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EventLoggingService.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/KyuubiEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SessionEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EventLoggingServiceSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #905] [MINOR] clear handleToTSessionHandle in KyuubiOperationManager
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/KyuubiOperationManager.scala
Due: none

[KYUUBI #906] Add SessionEvent to track session status changes
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EventLoggingServiceSuite.scala
Due: kyuubi-spark-sql-engine

Fix broken links in the doc and PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE
  docs/community/contributions.md
Due: none

[KYUUBI #912] Fix broken links in the doc and PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE
  docs/community/contributions.md
Due: none

fix test
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
Due: kyuubi-spark-sql-engine

remove javassist
  LICENSE-binary
  licenses-binary/LICENSE-javassist.html
Due: none

Use isEmpty to trigger default init queries
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/ConfigBuilder.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/ConfigHelpers.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/ConfigBuilderSuite.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

Use isEmpty to trigger default init queries
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common

remove javassist
  externals/kyuubi-spark-sql-engine/pom.xml
Due: kyuubi-spark-sql-engine

nit
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SessionEvent.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EventLoggingServiceSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #914] Use isEmpty to trigger default init queries
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/ConfigBuilder.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/ConfigHelpers.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/ConfigBuilderSuite.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

revert deleteDataDirectoryOnClose config
  docs/deployment/settings.md
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
Due: none

limit travis build only master branch
  .travis.yml
Due: none

remove useless config
  docs/deployment/settings.md
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
Due: none

[KYUUBI #894] Enhance kyuubi-zookeeper module
  .travis.yml
  LICENSE-binary
  dev/dependencyList
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithDiscoverySparkSQLEngine.scala
  kyuubi-assembly/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-ctl/pom.xml
  kyuubi-server/pom.xml
  kyuubi-server/src/test/scala/org/apache/kyuubi/WithKyuubiServer.scala
  kyuubi-zookeeper/pom.xml
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
  licenses-binary/LICENSE-javassist.html
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

Add DISCLAIMER
  DISCLAIMER
Due: none

Cleanup pom
  externals/kyuubi-spark-sql-engine/pom.xml
Due: kyuubi-spark-sql-engine

Update developers
  pom.xml
Due: none

Update
  pom.xml
Due: none

[KYUUBI #919] [MISC] Add DISCLAIMER and misc changes on pom
  DISCLAIMER
  externals/kyuubi-spark-sql-engine/pom.xml
  pom.xml
Due: kyuubi-spark-sql-engine

Add COMPILED State for ExecuteStatement af engine side
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationState.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/OperationStateSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

Add COMPILED State for ExecuteStatement af engine side
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #920] Add COMPILED State for ExecuteStatement af engine side
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationState.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/OperationStateSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

ctas
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiAnalysis.scala
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

style
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiAnalysis.scala
Due: none

nit
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

[KYUUBI #926] Support add repartition for OptimizedCreateHiveTableAsSelectCommand
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiAnalysis.scala
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

Release Guide
  docs/community/index.rst
  docs/community/release.md
  docs/imgs/release/release-process.png
Due: none

Kyuubi Release Guide
  docs/community/release.md
Due: none

Release script
  build/release/release.sh
  docs/community/release.md
Due: none

[KYUUBI #930] Extract the zookeeper part from ServiceDiscovery
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithDiscoverySparkSQLEngine.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionManager.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/EngineRefSuite.scala
Due: kyuubi-ha, kyuubi-spark-sql-engine

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
