Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

run ENGINE_SESSION_INITIALIZE_SQL when engine startup
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
Due: kyuubi-spark-sql-engine

Add Kyuubi Query Engine for Spark UI with basic stats
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/ui/EngineTab.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/ui/EngineTabSuite.scala
Due: kyuubi-spark-sql-engine

remove unnecessary change
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
Due: kyuubi-spark-sql-engine

[MISC] Migrate from NetEase to Apache
  .idea/vcs.xml
  README.md
  docs/community/badges.md
  docs/community/collaborators.md
  docs/community/contributions.md
  docs/conf.py
  docs/develop_tools/distribution.md
  docs/integrations/kudu.md
  docs/quick_start/quick_start.md
  docs/security/authorization.md
  pom.xml
Due: none

[KYUUBI #870] [MISC] Migrate from NetEase to Apache
  .idea/vcs.xml
  README.md
  docs/community/badges.md
  docs/community/collaborators.md
  docs/community/contributions.md
  docs/conf.py
  docs/develop_tools/distribution.md
  docs/integrations/kudu.md
  docs/quick_start/quick_start.md
  docs/security/authorization.md
  pom.xml
Due: none

[KYUUBI #857] Support init SQL for each session
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSQLSessionManager.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/session/SingleSessionSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/spark/InitializeSQLSuite.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

master
  pom.xml
Due: none

server
  pom.xml
Due: none

address comment
  kyuubi-server/pom.xml
  pom.xml
Due: none

Dumpping statementInfo into local file
  externals/kyuubi-spark-monitor/src/main/scala/org/apache/kyuubi/engine/spark/monitor/DataFrameUtil.scala
  externals/kyuubi-spark-monitor/src/main/scala/org/apache/kyuubi/engine/spark/monitor/KyuubiStatementMonitor.scala
  externals/kyuubi-spark-monitor/src/main/scala/org/apache/kyuubi/engine/spark/monitor/entity/KyuubiStatementInfo.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/KyuubiStatementMonitorSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

update mirror
  kyuubi-ctl/pom.xml
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCli.scala
Due: none

[KYUUBI #869] Add Kyuubi Query Engine for Spark UI with basic stats
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/ui/EnginePage.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/ui/EngineTab.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/kyuubi/ui/EngineTabSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/Utils.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationManager.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

1. Remove DataFrameUtil.class 2. Change the data structure for KyuubiStatementInfo 3. Use spark code to generate schema and row 4. When we generate schema by reflection, store the schema in mem
  externals/kyuubi-spark-monitor/src/main/scala/org/apache/kyuubi/engine/spark/monitor/DataFrameUtil.scala
  externals/kyuubi-spark-monitor/src/main/scala/org/apache/kyuubi/engine/spark/monitor/KyuubiStatementMonitor.scala
  externals/kyuubi-spark-monitor/src/main/scala/org/apache/kyuubi/engine/spark/monitor/entity/KyuubiStatementInfo.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/KyuubiStatementMonitorSuite.scala
Due: kyuubi-spark-sql-engine

init
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
Due: kyuubi-spark-sql-engine

get
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
Due: kyuubi-spark-sql-engine

Add files via upload
  docs/imgs/kyuubi_logo.png
Due: none

Add files via upload
  kyuubi_logo.png
Due: none

[KYUUBI #877] Add kubernetes configmap yaml file
  docker/kyuubi-configmap.yaml
  docker/kyuubi-pod.yaml
Due: none

[KYUUBI #821] Improper exception for closing a non-existent session
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/FrontendService.scala
Due: kyuubi-common

keep origin configmap usage
  docker/kyuubi-pod.yaml
Due: none

[GA] Remove SL Scan
  .github/workflows/shiftleft-analysis.yml
Due: none

[GA] Remove GA Release
  .github/workflows/release.yml
Due: none

[KYUUBI #880] [GA] Remove SL Scan
  .github/workflows/shiftleft-analysis.yml
Due: none

[KYUUBI #881] [GA] Remove GA Release
  .github/workflows/release.yml
Due: none

improve patch
  docker/kyuubi-configmap.yaml
  docker/kyuubi-pod.yaml
Due: none

Rewrite kyuubi-hive-jdbc in Java
  dev/kyuubi-extension-spark_3.1/pom.xml
  dev/kyuubi-tpcds/pom.xml
  kyuubi-common/pom.xml
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/KyuubiConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/KyuubiDatabaseMetaData.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/KyuubiDriver.java
  kyuubi-hive-jdbc/src/main/scala/org/apache/kyuubi/jdbc/KyuubiConnection.scala
  kyuubi-hive-jdbc/src/main/scala/org/apache/kyuubi/jdbc/KyuubiDatabaseMetaData.scala
  pom.xml
Due: kyuubi-common

Add Event for Engine
  docs/deployment/settings.md
  externals/kyuubi-spark-monitor/pom.xml
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EngineEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EventLogger.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EventLoggerType.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EventLoggingService.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/JsonEventLogger.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/JsonProtocol.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/KyuubiEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkContextHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/EngineEventSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EventLoggingServiceSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #884] Rewrite kyuubi-hive-jdbc in Java
  dev/kyuubi-extension-spark_3.1/pom.xml
  dev/kyuubi-tpcds/pom.xml
  kyuubi-common/pom.xml
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/KyuubiConnection.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/KyuubiDatabaseMetaData.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/KyuubiDriver.java
  kyuubi-hive-jdbc/src/main/scala/org/apache/kyuubi/jdbc/KyuubiConnection.scala
  kyuubi-hive-jdbc/src/main/scala/org/apache/kyuubi/jdbc/KyuubiDatabaseMetaData.scala
  pom.xml
Due: kyuubi-common

Add Event for Engine
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EventLoggerType.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EventLoggingService.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/JsonEventLogger.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/EngineEventSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EventLoggingServiceSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

Rename kyuubi-extension-spark_3.1 to kyuubi-extension-spark-3-1
  .github/workflows/master.yml
  build/dist
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiAnalysis.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiEnsureRequirements.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiQueryStagePreparation.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark-3-1/src/test/resources/log4j.properties
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
  docs/sql/rules.md
  pom.xml
Due: none

Add Event for Engine
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/EngineEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/JsonEventLogger.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/KyuubiEvent.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EventLoggingServiceSuite.scala
Due: kyuubi-spark-sql-engine

Add Event for Engine
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/Serverable.scala
  pom.xml
Due: kyuubi-common

[KYUUBI #882] Rename kyuubi-extension-spark_3.1 to kyuubi-extension-spark-3-1
  .github/workflows/master.yml
  build/dist
  dev/kyuubi-extension-spark-3-1/pom.xml
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiAnalysis.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiEnsureRequirements.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiQueryStagePreparation.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSQLConf.scala
  dev/kyuubi-extension-spark-3-1/src/main/scala/org/apache/kyuubi/sql/KyuubiSparkSQLExtension.scala
  dev/kyuubi-extension-spark-3-1/src/test/resources/log4j.properties
  dev/kyuubi-extension-spark-3-1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
  docs/sql/rules.md
  pom.xml
Due: none

[GA] Daily publish snapshot
  .github/workflows/publish-snapshot.yml
  build/release/asf-settings.xml
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/DataGenerator.scala
  kyuubi-assembly/pom.xml
  pom.xml
Due: none

Remove Kyuubi local cache before deploy
  .github/workflows/publish-snapshot.yml
Due: none

Pin ubuntu-20.04 in GA
  .github/workflows/master.yml
  .github/workflows/nightly.yml
  .github/workflows/publish-snapshot.yml
Due: none
