Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

fix
  .github/workflows/master.yml
Due: none

[KYUUBI #1761] [SubTask][THTTP] Make abstract TFrontendService for thrift http protocol support
  docs/deployment/settings.md
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkSQLEngine.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkTBinaryFrontendService.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoTBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopTBinaryFrontendServer.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopTBinaryFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ServerableSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ThriftFrontendServiceSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/PlainSASLHelperSuite.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiServerSuite.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

fix
  build/mvn
Due: none

[KYUUBI #1643] Implement GetFunctions operation
  LICENSE
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetFunctions.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/util/StringUtils.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/util/StringUtilsSuite.scala
Due: none

[KYUUBI #1763] [INFRA] Remove scala installation in`build/mvn` and using warn level for the ci
  .github/workflows/master.yml
  build/mvn
Due: none

[KYUUBI #1764] Reuse the workingDir in ProcBuilder
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/trino/TrinoProcessBuilder.scala
Due: none

[TEST] Remove SessionManagerSuite to reduce duplicated tests
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/HiveJDBCTestHelper.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/TClientTestUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/TFrontendServiceSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/session/SessionManagerSuite.scala
Due: kyuubi-common

[KYUUBI #1766] [TEST] Remove SessionManagerSuite to reduce duplicated tests
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/HiveJDBCTestHelper.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/TClientTestUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/TFrontendServiceSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/session/SessionManagerSuite.scala
Due: kyuubi-common

Clean up code of FlinkOperation
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperation.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetCatalogs.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetTableTypes.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetTables.scala
Due: none

Add executeScala api for KyuubiStatement
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/jdbc/KyuubiHiveDriverSuite.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
Due: kyuubi-spark-sql-engine

[KYUUBI apache#1645] Implement GetSchemas operation
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetSchemas.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

nit
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetTables.scala
Due: none

[KYUUBI #1756] Clean up code of FlinkOperation
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperation.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetCatalogs.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetTableTypes.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetTables.scala
Due: none

[KYUUBI #1714] Add executeScala api for KyuubiStatement
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/jdbc/KyuubiHiveDriverSuite.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
Due: kyuubi-spark-sql-engine

add log4j2.properties
  dev/kyuubi-extension-spark-3-1/src/test/resources/log4j2.properties
  dev/kyuubi-extension-spark-3-2/src/test/resources/log4j2.properties
  dev/kyuubi-extension-spark-common/src/test/resources/log4j2.properties
  externals/kyuubi-flink-sql-engine/src/test/resources/log4j2.properties
  externals/kyuubi-spark-sql-engine/src/test/resources/log4j2.properties
  externals/kyuubi-trino-engine/src/test/resources/log4j2.properties
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/resources/log4j2.properties
  kyuubi-common/src/test/resources/log4j.properties
  kyuubi-common/src/test/resources/log4j2.properties
  kyuubi-ctl/src/test/resources/log4j.properties
  kyuubi-ctl/src/test/resources/log4j2.properties
  kyuubi-ha/src/test/resources/log4j2.properties
  kyuubi-metrics/src/test/resources/log4j2.properties
  kyuubi-server/src/test/resources/log4j2.properties
  kyuubi-server/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
  kyuubi-zookeeper/src/test/resources/log4j2.properties
  pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

more
  kyuubi-assembly/pom.xml
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
  kyuubi-hive-beeline/pom.xml
  pom.xml
Due: kyuubi-common

[KYUUBI #1704] Complete Flink-Hive data type mapping
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/schema/RowSet.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

change rate unit
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/JsonReporterService.scala
Due: none

fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/trino/TrinoProcessBuilder.scala
Due: none

fix LogDivertAppender
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender.scala
Due: kyuubi-common

[KYUUBI #1645] Implement Flink engine GetSchemas operation
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetSchemas.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

[KYUUBI #1696] Add fetch logs and results rows rate
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsConstants.scala
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/MetricsSystem.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/BackendServiceMetric.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/BackendServiceMetricSuite.scala
Due: none

[KYUUBI #1771] Change rate unit in `JsonReporterService`
  kyuubi-metrics/src/main/scala/org/apache/kyuubi/metrics/JsonReporterService.scala
Due: none

address comments
  dev/dependencyList
  dev/kyuubi-extension-spark-3-1/src/test/resources/log4j2.properties
  dev/kyuubi-extension-spark-3-2/src/test/resources/log4j2.properties
  dev/kyuubi-extension-spark-common/src/test/resources/log4j2.properties
  externals/kyuubi-flink-sql-engine/src/test/resources/log4j2.properties
  externals/kyuubi-spark-sql-engine/src/test/resources/log4j2.properties
  externals/kyuubi-trino-engine/src/test/resources/log4j2.properties
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/resources/log4j2.properties
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender.scala
  kyuubi-common/src/test/resources/log4j2.properties
  kyuubi-ctl/src/test/resources/log4j2.properties
  kyuubi-ha/src/test/resources/log4j2.properties
  kyuubi-metrics/src/test/resources/log4j2.properties
  kyuubi-server/src/test/resources/log4j2.properties
  kyuubi-zookeeper/src/test/resources/log4j2.properties
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

fix build erorr at first
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender.scala
Due: kyuubi-common

start appender
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender.scala
Due: kyuubi-common

fix logging
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
Due: kyuubi-common

more
  kyuubi-common/src/main/resources/log4j2-defaults.properties
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender.scala
Due: kyuubi-common

make it run at first
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender.scala
Due: kyuubi-common

refactor
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/log/LogDivertAppender.scala
Due: kyuubi-common

exclude log4j12 from spark-sql
  pom.xml
Due: none

save temporarily
  kyuubi-common/src/test/scala/org/apache/kyuubi/KyuubiFunSuite.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliArgumentsSuite.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
Due: kyuubi-common, kyuubi-ha

Improve EnginePage
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/events/SparkOperationEvent.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/events/EngineEventsStoreSuite.scala
Due: kyuubi-spark-sql-engine

reformat
  kyuubi-common/src/test/scala/org/apache/kyuubi/KyuubiFunSuite.scala
Due: kyuubi-common

remove more
  pom.xml
Due: none

fix style
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/ui/EnginePage.scala
Due: kyuubi-spark-sql-engine

[KYUUBI-1775] Add kyuubi.server.name configuration
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-common

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
