Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #711] [BUILD] Bump jetty 9.4.41.v20210516
  dev/dependencyList
  pom.xml
Due: none

[TPCDS] kyuubi-tpcds should respect dsgen charset
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/TableGenerator.scala
Due: none

address comments
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/TableGenerator.scala
Due: none

through-project
  dev/kyuubi-extension-spark_3.1/src/main/scala/org/apache/kyuubi/sql/KyuubiAnalysis.scala
  dev/kyuubi-extension-spark_3.1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

[KYUUBI #715] [SQL] Check if need add repartition through project
  dev/kyuubi-extension-spark_3.1/src/main/scala/org/apache/kyuubi/sql/KyuubiAnalysis.scala
  dev/kyuubi-extension-spark_3.1/src/test/scala/org/apache/spark/sql/KyuubiExtensionSuite.scala
Due: none

[KYUUBI #714] [TPCDS] kyuubi-tpcds should respect dsgen charset
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/TableGenerator.scala
Due: none

use secure repository
  pom.xml
Due: none

[KYUUBI #717] use secure repository
  pom.xml
Due: none

[KYUUBI #694 #701 #708] Upgrade version
  pom.xml
Due: none

[KYUUBI #701] Upgrade scalatest 3.2.9
  pom.xml
Due: none

[KYUUBI #708] [BUILD] Upgrade scala-maven-plugin to 4.5.3
  pom.xml
Due: none

[KYUUBI #694] Upgrade Scala to 2.12.14
  pom.xml
Due: none

[KYUUBI #694] replace dev/dependencyList
  dev/dependencyList
Due: none

[KYUUBI #694] Upgrade Scala to 2.12.14
  dev/dependencyList
  pom.xml
Due: none

[KYUUBI #708] add a new comment here and skip this version
  pom.xml
Due: none

[TEST] Use in-memory catalog in most test suites
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/HiveJDBCTests.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServer.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/spark/InitializeSQLSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationHiveSuite.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

modify cleaner.yml comment
  tools/kubernetes/docker/shuffle-files-cleaner/cleaner.yml
Due: none

trait HiveJDBCTests extends BasicJDBCTests
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/HiveJDBCTests.scala
Due: kyuubi-common

add tools kubernetes shuffle files cleaner docs
  docs/tools/index.rst
  docs/tools/kubernetes_shuffler_files_cleaner.md
Due: none

fix ut
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicJDBCTests.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/HiveJDBCTests.scala
Due: kyuubi-common

[KYUUBI #684]Improve kyuubi ctl verbose output (#685)
  bin/kyuubi-ctl
  bin/load-kyuubi-env.sh
  conf/log4j.properties.template
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/Logging.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLineUtils.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCliArguments.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
Due: kyuubi-common

[KYUUBI #722] [TEST] Use in-memory catalog in most test suites
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkOperationSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/BasicJDBCTests.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/HiveJDBCTests.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/WithKyuubiServer.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/spark/InitializeSQLSuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationHiveSuite.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

upgrade spark version from 3.0.2 to 3.0.3
  pom.xml
Due: none

[KYUUBI #725] Upgrade Spark 3.0.2 to 3.0.3
  pom.xml
Due: none

sql级别数据埋点开发
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLOperationListener.scala
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationManager.scala
  kyuubi-main/pom.xml
  kyuubi-monitor/pom.xml
  kyuubi-monitor/src/main/java/org/apache/kyuubi/monitor/entity/KApplication.java
  kyuubi-monitor/src/main/java/org/apache/kyuubi/monitor/entity/KJobInfo.java
  kyuubi-monitor/src/main/java/org/apache/kyuubi/monitor/entity/KStageInfo.java
  kyuubi-monitor/src/main/java/org/apache/kyuubi/monitor/entity/KStatement.java
  pom.xml
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

添加相关注释
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SQLOperationListener.scala
Due: kyuubi-spark-sql-engine

sql级别数据埋点开发
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
Due: kyuubi-spark-sql-engine

add license
  kyuubi-monitor/src/main/java/org/apache/kyuubi/monitor/entity/KApplication.java
  kyuubi-monitor/src/main/java/org/apache/kyuubi/monitor/entity/KJobInfo.java
  kyuubi-monitor/src/main/java/org/apache/kyuubi/monitor/entity/KStageInfo.java
  kyuubi-monitor/src/main/java/org/apache/kyuubi/monitor/entity/KStatement.java
Due: none

sql级别数据埋点开发
  kyuubi-monitor/pom.xml
Due: none

adjust the ordering of dependency
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLOperationListener.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationManager.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

add featureNotSupported to KyuubiSQLException object
  kyuubi-common/src/main/scala/org/apache/kyuubi/KyuubiSQLException.scala
Due: kyuubi-common

delete redundant empty line
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
Due: kyuubi-common

[KYUUBI #730] delete redundant empty line
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/JDBCTests.scala
Due: kyuubi-common

BugFix: resolve the problem that can't get jobEnd's metrics from SQLOperationListener
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkSQLOperationManager.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/kyuubi/SparkSQLOperationListener.scala
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/OperationManager.scala
  kyuubi-main/pom.xml
  kyuubi-monitor/pom.xml
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
