Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI #4312] [FOLLOWUP] Fix overmatched README pattern for markdown styling
  pom.xml
Due: none

fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ResponseFilter.scala
Due: none

comment at the head of beeline -e
  kyuubi-hive-beeline/src/main/java/org/apache/hive/beeline/KyuubiBeeLine.java
Due: none

Support GetPrimaryKeys for Trino Fe
  kyuubi-server/src/main/antlr4/org/apache/kyuubi/sql/KyuubiTrinoFeBaseLexer.g4
  kyuubi-server/src/main/antlr4/org/apache/kyuubi/sql/KyuubiTrinoFeBaseParser.g4
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/trino/api/KyuubiTrinoOperationTranslator.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/sql/parser/trino/KyuubiTrinoFeAstBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/sql/plan/trino/TrinoFeOperations.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/parser/trino/KyuubiTrinoFeParserSuite.scala
Due: none

The configuration joiner should use `&` instead of `;`
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/mysql/MySQLJDBCTestHelper.scala
Due: none

test
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/RowSet.scala
Due: kyuubi-spark-sql-engine

Improve trino session context
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/trino/api/Query.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/trino/api/TrinoContext.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/trino/api/v1/StatementResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/trino/api/TrinoClientApiSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/trino/api/v1/StatementResourceSuite.scala
Due: none

style
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/trino/api/v1/StatementResourceSuite.scala
Due: none

fix
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #4322] MySQL url configuration joiner should use `&` instead of `;`
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/mysql/MySQLJDBCTestHelper.scala
Due: none

[KYUUBI #4320] Support GetPrimaryKeys for Trino Fe
  kyuubi-server/src/main/antlr4/org/apache/kyuubi/sql/KyuubiTrinoFeBaseLexer.g4
  kyuubi-server/src/main/antlr4/org/apache/kyuubi/sql/KyuubiTrinoFeBaseParser.g4
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/trino/api/KyuubiTrinoOperationTranslator.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/sql/parser/trino/KyuubiTrinoFeAstBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/sql/plan/trino/TrinoFeOperations.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/parser/trino/KyuubiTrinoFeParserSuite.scala
Due: none

Add Publish docker image step
  docs/community/release.md
Due: none

[KYUUBI #4324] Add Publish docker image step
  docs/community/release.md
Due: none

nit
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/RowSet.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
Due: kyuubi-spark-sql-engine

nit
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkDataTypeTests.scala
Due: kyuubi-common

nit
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/RowSet.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/schema/RowSetSuite.scala
Due: kyuubi-spark-sql-engine

fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ResponseFilter.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/ApiRootResource.scala
Due: none

[KYUUBI #4323] Improve trino session context
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/trino/api/Query.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/trino/api/TrinoContext.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/trino/api/v1/StatementResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/trino/api/TrinoClientApiSuite.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/trino/api/v1/StatementResourceSuite.scala
Due: none

fix swagger ui 415 error
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: none

[KYUUBI #4316] Fix returned Timestamp values may lose precision
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecutePython.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/RowSet.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/schema/RowSetSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/util/RowSetUtils.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkDataTypeTests.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/arrow/ArrowColumnarBatchRow.java
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

arrow based rowset timestamp as string
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/ExecuteStatement.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/operation/SparkOperation.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/schema/RowSet.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/spark/sql/kyuubi/SparkDatasetHelper.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkArrowbasedOperationSuite.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiArrowBasedResultSet.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiArrowQueryResultSet.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/KyuubiStatement.java
  kyuubi-hive-jdbc/src/main/java/org/apache/kyuubi/jdbc/hive/arrow/ArrowColumnarBatchRow.java
Due: kyuubi-common, kyuubi-spark-sql-engine

update docs
  docs/deployment/settings.md
Due: none

fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ResponseFilter.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/WrapOutputStream.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/WrapResponse.scala
Due: none

[KYUUBI #4329] Fix REST API 415 HTTP error in Swagger UI
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/OperationsResource.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
Due: none

fix
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/ResponseFilter.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/WrapResponse.scala
Due: none

[REST] Retry should catch NoHttpResponse Exception and retry
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/RestClient.java
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationMetricsSuite.scala
Due: none

Remove Unrelated Code
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/KyuubiOperationMetricsSuite.scala
Due: none

[KYUUBI #4334] [REST] Rest client should catch `NoHttpResponse Exception` and retry
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/RestClient.java
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
