Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License. You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

codecov:
  token: 6c25f14f-ec5c-40d2-b2e2-482013acca13

flags:
  kyuubi-common:
    paths:
      - kyuubi-common
    carryforward: true
  kyuubi-ha:
    paths:
      - kyuubi-ha
    carryforward: true
  kyuubi-main:
    paths:
      - kyuubi-main
    carryforward: true
  kyuubi-spark-sql-engine:
    paths:
      - externals/kyuubi-spark-sql-engine
  aggregate:
    paths:
      - dev/kyuubi-codecov
    carryforward: true

# To see status checks based on flags
coverage:
  status:
    project:
      default:
        target: auto
        flags:
          - kyuubi-common
          - kyuubi-ha
          - kyuubi-main
          - kyuubi-spark-sql-engine
      kyuubi-common:
        target: auto
        flags:
          - kyuubi-common
      kyuubi-ha:
        target: auto
        flags:
          - kyuubi-ha
      kyuubi-main:
        target: auto
        flags:
          - kyuubi-main
      kyuubi-spark-sql-engine:
        target: auto
        flags:
          - kyuubi-spark-sql-engine
      aggregate:
        target: auto
        flags:
          - aggregate

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"
  show_carryforward_flags: false

[KYUUBI #1983] [[KYUUBI #1806][FOLLOWUP] Fix LaunchEngine may be closed multiple times
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

[KYUUBI #1958] Fix flaky test: statement redact for engine tab
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/spark/ui/EngineTabSuite.scala
Due: kyuubi-spark-sql-engine

Apache Kyuubi(Incubating) Maturity Self Assessment
  MATURITY.md
Due: none

spotless
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1960] Skip creating sparksession and starting engine if the max initialization time exceeds
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

CONTRIBUTING
  CONTRIBUTING.md
Due: none

CONTRIBUTING
  docs/community/CONTRIBUTING.md
Due: none

CONTRIBUTING
  CONTRIBUTING.md
  docs/community/index.rst
Due: none

[KYUUBI #1992] Remove SPARK_HOME predication.
  bin/kyuubi
Due: none

Lazy initialize vars depends on system level confs
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
Due: kyuubi-spark-sql-engine

Fix
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkDeltaOperationSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkHudiOperationSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkIcebergOperationSuite.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1988] Tune initialization of vars depend on system level confs
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithSparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkDeltaOperationSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkHudiOperationSuite.scala
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/operation/SparkIcebergOperationSuite.scala
Due: kyuubi-spark-sql-engine

Clean up log4j2 conf
  conf/log4j2.properties.template
  dev/kyuubi-extension-spark-3-1/src/test/resources/log4j2-test.properties
  dev/kyuubi-extension-spark-3-2/src/test/resources/log4j2-test.properties
  dev/kyuubi-extension-spark-common/src/test/resources/log4j2-test.properties
  docs/deployment/settings.md
  externals/kyuubi-flink-sql-engine/src/test/resources/log4j2-test.properties
  externals/kyuubi-spark-sql-engine/src/test/resources/log4j2-test.properties
  externals/kyuubi-trino-engine/src/test/resources/log4j2-test.properties
  integration-tests/kyuubi-flink-it/src/test/resources/log4j2-test.properties
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/resources/log4j2-test.properties
  kyuubi-common/src/main/resources/log4j-defaults.properties
  kyuubi-common/src/main/resources/log4j2-defaults.properties
  kyuubi-common/src/test/resources/log4j2-test.properties
  kyuubi-ctl/src/test/resources/log4j2-test.properties
  kyuubi-ha/src/test/resources/log4j2-test.properties
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/src/test/resources/log4j2-test.properties
  kyuubi-server/src/test/resources/log4j2-test.properties
  kyuubi-zookeeper/src/test/resources/log4j2-test.properties
  pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

Tune surefire plugin in conf
  kyuubi-hive-jdbc/pom.xml
  pom.xml
Due: none

[KYUUBI #1986] Apache Kyuubi(Incubating) Maturity Self Assessment
  MATURITY.md
Due: none

nit
  kyuubi-hive-jdbc/pom.xml
Due: none

[KYUUBI #1996] Clean up log4j2 conf and enhance surefire plugin conf
  conf/log4j2.properties.template
  dev/kyuubi-extension-spark-3-1/src/test/resources/log4j2-test.properties
  dev/kyuubi-extension-spark-3-2/src/test/resources/log4j2-test.properties
  dev/kyuubi-extension-spark-common/src/test/resources/log4j2-test.properties
  docs/deployment/settings.md
  externals/kyuubi-flink-sql-engine/src/test/resources/log4j2-test.properties
  externals/kyuubi-spark-sql-engine/src/test/resources/log4j2-test.properties
  externals/kyuubi-trino-engine/src/test/resources/log4j2-test.properties
  integration-tests/kyuubi-flink-it/src/test/resources/log4j2-test.properties
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/resources/log4j2-test.properties
  kyuubi-common/src/main/resources/log4j-defaults.properties
  kyuubi-common/src/main/resources/log4j2-defaults.properties
  kyuubi-common/src/test/resources/log4j2-test.properties
  kyuubi-ctl/src/test/resources/log4j2-test.properties
  kyuubi-ha/src/test/resources/log4j2-test.properties
  kyuubi-hive-jdbc/pom.xml
  kyuubi-metrics/src/test/resources/log4j2-test.properties
  kyuubi-server/src/test/resources/log4j2-test.properties
  kyuubi-zookeeper/src/test/resources/log4j2-test.properties
  pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

Bump Hudi 0.10.1
  pom.xml
Due: none

Update quick_start_with_helm.md
  docs/quick_start/quick_start_with_helm.md
Due: none

CONTRIBUTING
  CONTRIBUTING.md
  README.md
  docs/_static/css/custom.css
  docs/community/contributions.md
  docs/community/improvement-proposals.md
  docs/community/index.rst
Due: none

CONTRIBUTING
  MATURITY.md
Due: none

[KYUUBI #2000][DEPS] Bump Hadoop 3.3.2
  dev/dependencyList
  pom.xml
Due: none

[KYUUBI #2004] Sync contents for CONTRIBUTING & COMMUNITY between web and main repo
  CONTRIBUTING.md
  MATURITY.md
  README.md
  docs/_static/css/custom.css
  docs/community/CONTRIBUTING.md
  docs/community/contributions.md
  docs/community/improvement-proposals.md
  docs/community/index.rst
Due: none

Add a space beyond the minimum cell width in non-verbose mode
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLineUtils.scala
Due: none

[KYUUBI #1999] Update quick_start_with_helm.md
  docs/quick_start/quick_start_with_helm.md
Due: none

[KYUUBI #2006] Improve the readability of ServiceControl list/get operations
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLineUtils.scala
Due: none

init hive engine
  externals/kyuubi-download/pom.xml
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/session/FlinkSessionImpl.scala
  externals/kyuubi-hive-sql-engine/pom.xml
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/HiveBackendService.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/HiveSQLEngine.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/HiveTBinaryFrontend.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/operation/ExecuteStatement.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/operation/HiveOperation.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/operation/HiveOperationManager.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/session/HiveSessionImpl.scala
  externals/kyuubi-hive-sql-engine/src/main/scala/org/apache/kyuubi/engine/hive/session/HiveSessionManager.scala
  externals/kyuubi-hive-sql-engine/src/test/resources/log4j2-test.properties
  externals/kyuubi-hive-sql-engine/src/test/scala/org/apache/kyuubi/engine/hive/operation/HiveOperationSuite.scala
  externals/kyuubi-hive-sql-engine/src/test/scala/org/apache/kyuubi/engine/hive/operation/WithHiveSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/session/SparkSessionImpl.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/session/TrinoSessionImpl.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/operation/AbstractOperation.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/hive/HiveProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
  pom.xml
Due: kyuubi-common, kyuubi-spark-sql-engine

support engine type and subdomain
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCliArguments.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCliArgumentsParser.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliArgumentsSuite.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
Due: none

fix ut
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
Due: none

fix style
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ServiceControlCli.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliSuite.scala
Due: none

remove println
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ServiceControlCliArgumentsSuite.scala
Due: none

hive
  com.sun.jmx.remote.internal.ServerCommunicatorAdmin$Timeout.class
  java.io.DeleteOnExitHook$1.class
  java.lang.ApplicationShutdownHooks$1.class
  java.lang.ref.Finalizer$FinalizerThread.class
  java.lang.ref.Reference$ReferenceHandler.class
  java.lang.reflect.Method.class
  java.util.concurrent.FutureTask.class
  java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.class
  java.util.concurrent.ThreadPoolExecutor$Worker.class
  java.util.logging.LogManager$Cleaner.class
  org.apache.hadoop.fs.FileSystem$Cache$ClientFinalizer.class
  org.apache.hadoop.util.ShutdownHookManager$1.class
  org.apache.kyuubi.service.TBinaryFrontendService.class
  org.apache.kyuubi.session.SessionManager$$anon$1.class
  org.apache.kyuubi.session.SessionManager$$anon$2.class
  org.apache.logging.log4j.core.LoggerContext$1.class
  org.apache.logging.log4j.core.LoggerContext$ThreadContextDataTask.class
  org.apache.logging.log4j.core.util.DefaultShutdownCallbackRegistry.class
  org.jetbrains.plugins.scala.testingSupport.scalaTest.ScalaTestReporter.class
  org.jetbrains.plugins.scala.testingSupport.scalaTest.ScalaTestReporterWithLocation.class
  org.jetbrains.plugins.scala.testingSupport.scalaTest.ScalaTestRunner.class
  org.jetbrains.plugins.scala.testingSupport.scalaTest.ScalaTestRunnerArgs.class
  org.jetbrains.plugins.scala.testingSupport.scalaTest.ScalaTestVersionUtils.class
  org.jetbrains.plugins.scala.testingSupport.scalaTest.TeamcityReporter.class
  org.jetbrains.plugins.scala.testingSupport.scalaTest.treeBuilder.ParallelTreeBuilder$SuiteId.class
  org.jetbrains.plugins.scala.testingSupport.scalaTest.treeBuilder.ParallelTreeBuilder$SuiteTree.class
  org.jetbrains.plugins.scala.testingSupport.scalaTest.treeBuilder.ParallelTreeBuilder.class
  org.scalatest.DispatchReporter$Propagator.class
  org.scalatest.tools.SuiteRunner.class
  sun.nio.ch.FileChannelImpl$Unmapper.class
  sun.rmi.transport.DGCAckHandler$1.class
  sun.rmi.transport.DGCImpl$1.class
  sun.rmi.transport.tcp.TCPTransport$AcceptLoop.class
  sun.rmi.transport.tcp.TCPTransport$ConnectionHandler.class
Due: none

hive
  1.jstack
Due: none
