Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUBBI #1744] Fix trino client flaky test
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoStatement.scala
Due: none

fix
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/KyuubiSparkUtil.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #1745] [KYUBBI #1744] Fix trino client flaky test
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoStatement.scala
Due: none

[KYUUBI #1740] Use testcontainers scalatest in trino module
  externals/kyuubi-trino-engine/pom.xml
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/TrinoContextSuite.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/TrinoStatementSuite.scala
  externals/kyuubi-trino-engine/src/test/scala/org/apache/kyuubi/engine/trino/WithTrinoContainerServer.scala
  pom.xml
Due: none

[KYUUBI #1743] Fix parallelism of DataGenerator and other enhancements
  dev/kyuubi-tpcds/README.md
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/DataGenerator.scala
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/TableGenerator.scala
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/Benchmark.scala
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/Query.scala
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/RunBenchmark.scala
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/TPCDS.scala
  dev/kyuubi-tpcds/src/main/scala/org/apache/kyuubi/tpcds/benchmark/TPCDS_2_4_Queries.scala
Due: none

[KYUUBI #1746] Move sparkEngineMajorMinorVersion into SparkQueryTests to make HiveJDBCTestHelper spark free
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/HiveJDBCTestHelper.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
Due: kyuubi-common

bin/kyuubi-zk-cli should has execute permission
  bin/kyuubi-zk-cli
Due: none

[KYUUBI #1643] Implement GetFunctions operation
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/FlinkSQLOperationManager.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetFunctions.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

[KYUUBI #1660] Add restart option for bin/kyuubi
  bin/kyuubi
Due: none

Unify kubernetes integration test
  .github/workflows/license.yml
  .github/workflows/master.yml
  .github/workflows/style.yml
  integration-tests/kyuubi-flink-it/pom.xml
  integration-tests/kyuubi-kubernetes-deployment-it/pom.xml
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/resources/log4j.properties
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/scala/org/apache/kyuubi/kubernetes/test/KubernetesJDBCTestsSuite.scala
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/scala/org/apache/kyuubi/kubernetes/test/MiniKube.scala
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/scala/org/apache/kyuubi/kubernetes/test/ProcessUtils.scala
  integration-tests/kyuubi-kubernetes-deployment-it/test-k8s.yaml
  integration-tests/pom.xml
  pom.xml
Due: none

[KYUUBI #1731][FEATURE] Kyuubi server should not fail to start when Hadoop FileSystem class not found
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProvider.scala
Due: none

[KYUUBI #1738] Unify kubernetes integration test
  .github/workflows/license.yml
  .github/workflows/master.yml
  .github/workflows/style.yml
  integration-tests/kyuubi-flink-it/pom.xml
  integration-tests/kyuubi-kubernetes-deployment-it/pom.xml
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/resources/log4j.properties
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/scala/org/apache/kyuubi/kubernetes/test/KubernetesJDBCTestsSuite.scala
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/scala/org/apache/kyuubi/kubernetes/test/MiniKube.scala
  integration-tests/kyuubi-kubernetes-deployment-it/src/test/scala/org/apache/kyuubi/kubernetes/test/ProcessUtils.scala
  integration-tests/kyuubi-kubernetes-deployment-it/test-k8s.yaml
  integration-tests/pom.xml
  pom.xml
Due: none

[KYUUBI #1757] Extract workingDir from engine specific process builder into ProcBuilder
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

Fix CI issue
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

closeoperation
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: none

[KYUUBI #1731][FEATURE][FOLLOWUP] Use validated HadoopFs URI in HadoopFsDelegationTokenProvider#obtainDelegationTokens
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProvider.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/credentials/HadoopFsDelegationTokenProviderSuite.scala
Due: none

add test
  plugins/kyuubi-event-logger-elasticsearch/pom.xml
  plugins/kyuubi-event-logger-elasticsearch/src/main/scala/org/apache/kyuubi/event/logger/elasticsearch/ElasticSearchClientBuilder.scala
  plugins/kyuubi-event-logger-elasticsearch/src/test/scala/org/apache/kyuubi/event/logger/ElasticSearchEventLoggerSuite.scala
  plugins/kyuubi-event-logger-elasticsearch/src/test/scala/org/apache/kyuubi/event/logger/WithElasticsearchContainer.scala
Due: none

[WIP] Thrift Http protocol support 1
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkSQLEngine.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/FlinkTBinaryFrontendService.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoTBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopTBinaryFrontendServer.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/NoopTBinaryFrontendService.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ServerableSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ThriftFrontendServiceSuite.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/authentication/PlainSASLHelperSuite.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

[WIP] Thrift Http protocol support 1
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
Due: kyuubi-common

[WIP] Thrift Http protocol support 1
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/KyuubiTBinaryFrontendService.scala
Due: kyuubi-common

[WIP] Thrift Http protocol support 1
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ThriftFrontendServiceSuite.scala
Due: kyuubi-common

[WIP] Thrift Http protocol support 1
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/ThriftFrontendServiceSuite.scala
Due: kyuubi-common

[KYUUBI #1759] Remove duplicate close operation api
  kyuubi-server/src/main/scala/org/apache/kyuubi/server/api/v1/SessionsResource.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/api/v1/SessionsResourceSuite.scala
Due: none

[KYUUBI #1748] bin/kyuubi-zk-cli should has execute permission
  bin/kyuubi-zk-cli
Due: none

[KYUUBI #1510] Add TRINO engine type and TrinoProcessBuilder
  build/dist
  docs/deployment/settings.md
  externals/kyuubi-trino-engine/bin/trino-engine.sh
  externals/kyuubi-trino-engine/pom.xml
  externals/kyuubi-trino-engine/src/main/scala/org/apache/kyuubi/engine/trino/TrinoSqlEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/EngineRef.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/trino/TrinoProcessBuilder.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/engine/trino/TrinoProcessBuilderSuite.scala
Due: kyuubi-common

[KYUUBI #1757] Extract workingDir from engine specific process builde…
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/ProcBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/flink/FlinkProcessBuilder.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/engine/spark/SparkProcessBuilder.scala
Due: none

[WIP] Thrift Http protocol support 1
  docs/deployment/settings.md
Due: none

[KYUUBI #1643] Implement GetFunctions operation
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetFunctions.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/util/StringUtils.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
Due: none

[WIP] Thrift Http protocol support 1
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/KyuubiServerSuite.scala
Due: none

nit
  build/mvn
Due: none

[KYUUBI #1643] Implement GetFunctions operation
  LICENSE
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/operation/GetFunctions.scala
  externals/kyuubi-flink-sql-engine/src/main/scala/org/apache/kyuubi/engine/flink/util/StringUtils.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/operation/FlinkOperationSuite.scala
  externals/kyuubi-flink-sql-engine/src/test/scala/org/apache/kyuubi/engine/flink/util/StringUtilsSuite.scala
Due: none

address comment
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/service/TFrontendService.scala
Due: kyuubi-common

fix
  .github/workflows/master.yml
  build/mvn
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
