Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

log session Name
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiSessionEvent.scala
Due: kyuubi-common

move to behind handle
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
Due: kyuubi-common

make name lazy
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
Due: kyuubi-common

fix test cases
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/SparkQueryTests.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/operation/thrift/http/KyuubiOperationThriftHttpPerUserSuite.scala
Due: kyuubi-common

style
  extensions/spark/kyuubi-extension-spark-3-1/src/test/resources/log4j2-test.xml
  extensions/spark/kyuubi-extension-spark-3-3/src/test/resources/log4j2-test.xml
  extensions/spark/kyuubi-extension-spark-common/src/test/resources/log4j2-test.xml
  extensions/spark/kyuubi-spark-authz/src/test/resources/log4j2-test.xml
  extensions/spark/kyuubi-spark-connector-common/src/test/resources/log4j2-test.xml
  extensions/spark/kyuubi-spark-connector-kudu/src/test/resources/log4j2-test.xml
  extensions/spark/kyuubi-spark-connector-tpcds/src/test/resources/log4j2-test.xml
  extensions/spark/kyuubi-spark-connector-tpch/src/test/resources/log4j2-test.xml
  externals/kyuubi-flink-sql-engine/src/test/resources/log4j2-test.xml
  externals/kyuubi-hive-sql-engine/src/test/resources/log4j2-test.xml
  externals/kyuubi-jdbc-engine/src/test/resources/log4j2-test.xml
  externals/kyuubi-spark-sql-engine/src/test/resources/log4j2-test.xml
  externals/kyuubi-trino-engine/src/test/resources/log4j2-test.xml
  integration-tests/kyuubi-flink-it/src/test/resources/log4j2-test.xml
  integration-tests/kyuubi-kubernetes-it/src/test/resources/log4j2-test.xml
  kyuubi-common/src/test/resources/log4j2-test.xml
  kyuubi-ctl/src/test/resources/log4j2-test.xml
  kyuubi-events/src/test/resources/log4j2-test.xml
  kyuubi-ha/src/test/resources/log4j2-test.xml
  kyuubi-hive-jdbc/src/test/resources/log4j2-test.xml
  kyuubi-metrics/src/test/resources/log4j2-test.xml
  kyuubi-server/src/test/resources/log4j2-test.xml
  kyuubi-zookeeper/src/test/resources/log4j2-test.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-spark-sql-engine

comments
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiSessionEvent.scala
Due: kyuubi-common

[KYUUBI #2851] Log session name when opening/closing session
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/AbstractSession.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/Session.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiSessionEvent.scala
Due: kyuubi-common

renew token when opening session
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiReservedKeys.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/credentials/HadoopCredentialsManager.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/LaunchEngine.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

fix ut
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
Due: kyuubi-spark-sql-engine

remove credentials to prevent escalate to session conf
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkTBinaryFrontendService.scala
Due: kyuubi-spark-sql-engine

[KYUUBI #2849] Close the engine alive pool gracefully
  kyuubi-server/src/main/scala/org/apache/kyuubi/client/KyuubiSyncThriftClient.scala
Due: none

Support skipTests for kyuubi-rest-client
  kyuubi-rest-client/pom.xml
Due: none

fix delete/list operation after rebase
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListBatchCommand.scala
Due: none

reorganize cmd folder and rename command class
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ControlCliArguments.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/create/CreateServerCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteEngineCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteServerCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetEngineCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetServerCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListEngineCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListServerCommand.scala
Due: none

refactor kyuubi-ctl conf
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ClientFactory.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CtlConf.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchCliSuite.scala
Due: kyuubi-common

add kyuubi rest config: hostUrl, spnegoHost, authSchema
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ClientFactory.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/create/CreateBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/log/LogBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/submit/SubmitBatchCommand.scala
  kyuubi-ctl/src/test/resources/cli/batch.yaml
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchCliSuite.scala
Due: kyuubi-common

add list batch option
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CliConfig.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLine.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/BatchCliArgumentsSuite.scala
Due: none

fix license and style
  dev/dependencyList
  kyuubi-ctl/pom.xml
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLine.scala
  kyuubi-ctl/src/test/resources/cli/batch.yaml
Due: none

implement create/get/delete/list/log/submit batch command
  kyuubi-ctl/pom.xml
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CliConfig.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ClientFactory.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLine.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/Command.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/create/CreateBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/log/LogBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/submit/SubmitBatchCommand.scala
  kyuubi-ctl/src/test/resources/cli/batch.yaml
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/BatchCliArgumentsSuite.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ControlCliArgumentsSuite.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ControlCliArgumentsTestUtil.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ControlCliSuite.scala
  kyuubi-server/pom.xml
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchCliSuite.scala
Due: none

use reflect to generate command object
  kyuubi-ctl/pom.xml
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ControlCliArguments.scala
Due: none

rename ServiceControlXXX to ControlXXX
  bin/kyuubi-ctl
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CliConfig.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLine.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ControlCliArguments.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/Command.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/CreateCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/ListCommand.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ControlCliArgumentsSuite.scala
Due: none

fix list/log batch
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLine.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLineUtils.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/Render.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/RestClientFactory.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/create/CreateBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/log/LogBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/submit/SubmitBatchCommand.scala
  kyuubi-ctl/src/test/resources/cli/batch.yaml
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/BatchCliArgumentsSuite.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ControlCliArgumentsSuite.scala
  kyuubi-rest-client/src/main/java/org/apache/kyuubi/client/BatchRestApi.java
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchCliSuite.scala
Due: none

refactor command
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CliConfig.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLine.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/ControlCliArguments.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/Command.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/create/CreateServerCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListCommand.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/ControlCliArgumentsSuite.scala
Due: none

rename ClientFactory to RestClientFactory
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CtlConf.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/RestClientFactory.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/create/CreateBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/log/LogBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/submit/SubmitBatchCommand.scala
Due: none

refactor RestClientFactory
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/RestClientFactory.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/Command.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/create/CreateBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/delete/DeleteBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/get/GetBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/list/ListBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/log/LogBatchCommand.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/cmd/submit/SubmitBatchCommand.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/server/rest/client/BatchCliSuite.scala
Due: none

fix compile error
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleReplaceShowObjectCommands.scala
Due: none

[KYUUBI #2848] Global temp view should only exist in session catalog
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/shim/CatalogShim_v3_0.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/operation/IcebergMetadataTests.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

[KYUUBI #2858] Support skipTests for kyuubi rest client module
  kyuubi-rest-client/pom.xml
Due: none

[KYUUBI-2854] Add exception field in KyuubiSessionEvent
  kyuubi-server/src/main/scala/org/apache/kyuubi/events/KyuubiSessionEvent.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/BatchJobSubmission.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/operation/LaunchEngine.scala
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSession.scala
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: none

fix checkstyle
  kyuubi-server/src/test/scala/org/apache/kyuubi/events/handler/ServerJsonLoggingEventHandlerSuite.scala
Due: none

[GA] Daily publish snapshot with profile spark-3.3
  .github/workflows/publish-snapshot.yml
Due: none

[BUILD] Release script support Spark 3.3
  build/dist
  build/release/release.sh
Due: none

comments
  kyuubi-server/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: none

[KYUUBI #2624] Support isExtended for FilteredShowTablesCommand in AuthZ module.
  extensions/spark/kyuubi-spark-authz/src/main/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RuleReplaceShowObjectCommands.scala
  extensions/spark/kyuubi-spark-authz/src/test/resources/sparkSql_hive_jenkins.json
  extensions/spark/kyuubi-spark-authz/src/test/scala/org/apache/kyuubi/plugin/spark/authz/ranger/RangerSparkExtensionSuite.scala
Due: none

[KYUUBI #2861] [GA] Daily publish snapshot with profile spark-3.3
  .github/workflows/publish-snapshot.yml
Due: none

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
