Repository apache/kyuubi: changes, and which Codecov flags are due for each by the changed paths.
All: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

Add ConfigEntry with fallback and deprecate session.timeout
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/ConfigBuilder.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/ConfigEntry.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
Due: kyuubi-common

add unit test
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/ConfigEntrySuite.scala
Due: kyuubi-common

[KYUUBI #470] Add ConfigEntry with fallback and deprecate session.timeout
  docs/deployment/settings.md
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/ConfigBuilder.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/ConfigEntry.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/session/SessionManager.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/ConfigEntrySuite.scala
Due: kyuubi-common

to increase code converage
  kyuubi-ctl/src/main/java/org/apache/kyuubi/ctl/KyuubiCtlOptionParser.java
Due: none

retest pleaes
  kyuubi-ctl/src/main/java/org/apache/kyuubi/ctl/KyuubiCtlOptionParser.java
Due: none

tmp
  kyuubi-embedded-zookeeper/pom.xml
  kyuubi-embedded-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
  kyuubi-embedded-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
  pom.xml
Due: none

[KYUUBI #304] Add Kyuubi Ctl arguments parser
  dev/kyuubi-codecov/pom.xml
  kyuubi-common/src/test/scala/org/apache/kyuubi/KyuubiFunSuite.scala
  kyuubi-ctl/pom.xml
  kyuubi-ctl/src/main/java/org/apache/kyuubi/ctl/KyuubiCtlOptionParser.java
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtl.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArguments.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArgumentsParser.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlException.scala
  kyuubi-ctl/src/test/resources/log4j.properties
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/KyuubiCtlArgumentsSuite.scala
  pom.xml
Due: kyuubi-common, aggregate

tmp
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithDiscoverySparkSQLEngine.scala
  kyuubi-common/pom.xml
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
  kyuubi-embedded-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
  kyuubi-ha/pom.xml
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/server/EmbeddedZkServer.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-main/pom.xml
  kyuubi-main/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
  kyuubi-metrics/pom.xml
  kyuubi-zookeeper/pom.xml
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
  kyuubi-zookeeper/src/test/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeperSuite.scala
  pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine

refine
  dev/kyuubi-codecov/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
  kyuubi-ha/pom.xml
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
  kyuubi-zookeeper/src/test/resources/log4j.properties
  kyuubi-zookeeper/src/test/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeperSuite.scala
Due: kyuubi-common, kyuubi-ha, kyuubi-main, aggregate

refine
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
Due: none

refine
  dev/kyuubi-codecov/pom.xml
Due: aggregate

refine
  docs/deployment/settings.md
Due: none

on_k8s
  docs/deployment/on_kubernetes.md
Due: none

rm Env
  docs/deployment/on_kubernetes.md
Due: none

address comments
  kyuubi-main/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
Due: kyuubi-main

[KYUUBI #471] Separate Embedded Zookeeper server from ha
  dev/kyuubi-codecov/pom.xml
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/pom.xml
  externals/kyuubi-spark-sql-engine/src/test/scala/org/apache/kyuubi/engine/spark/WithDiscoverySparkSQLEngine.scala
  kyuubi-common/pom.xml
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-common/src/test/scala/org/apache/kyuubi/config/KyuubiConfSuite.scala
  kyuubi-ha/pom.xml
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/server/EmbeddedZkServer.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
  kyuubi-main/pom.xml
  kyuubi-main/src/main/scala/org/apache/kyuubi/server/KyuubiServer.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/config/AllKyuubiConfiguration.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/operation/WithKyuubiServer.scala
  kyuubi-zookeeper/pom.xml
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeper.scala
  kyuubi-zookeeper/src/main/scala/org/apache/kyuubi/zookeeper/ZookeeperConf.scala
  kyuubi-zookeeper/src/test/resources/log4j.properties
  kyuubi-zookeeper/src/test/scala/org/apache/kyuubi/zookeeper/EmbeddedZookeeperSuite.scala
  pom.xml
Due: kyuubi-common, kyuubi-ha, kyuubi-main, kyuubi-spark-sql-engine, aggregate

[KYUUBI#457】Support configurable initialize sql statement for engine startup
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
Due: kyuubi-common, kyuubi-spark-sql-engine

add ut
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
Due: kyuubi-main

[KYUUBI #457] Support configurable initialize sql statement for engine startup
  docs/deployment/settings.md
  externals/kyuubi-spark-sql-engine/src/main/scala/org/apache/kyuubi/engine/spark/SparkSQLEngine.scala
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-main/src/test/scala/org/apache/kyuubi/engine/spark/SparkSqlEngineSuite.scala
Due: kyuubi-common, kyuubi-main, kyuubi-spark-sql-engine

depend kyuubi-main
  kyuubi-ctl/pom.xml
Due: none

save
  kyuubi-common/src/main/scala/org/apache/kyuubi/config/KyuubiConf.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLineUtils.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtl.scala
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArguments.scala
Due: kyuubi-common

add create/delete
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

save
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/CommandLineUtils.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

save
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-main/src/main/scala/org/apache/kyuubi/session/KyuubiSessionImpl.scala
Due: kyuubi-ha, kyuubi-main

save
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtl.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

wip
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtl.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
Due: kyuubi-ha

[KYUUBI #304] Stop engine server gracefully when related zk node is deleted
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/KyuubiServiceDiscovery.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/ServiceDiscoverySuite.scala
Due: kyuubi-ha

[KYUUBI #479][TEST] FIx flaky test "BindException: Cannot assign requested address"
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/FrontendServiceSuite.scala
Due: kyuubi-common

[KYUUBI #479][TEST] Fix flaky test "BindException: Cannot assign requested address"
  kyuubi-common/src/test/scala/org/apache/kyuubi/service/FrontendServiceSuite.scala
Due: kyuubi-common

[KYUUBI #304] Remove abbreviations for kyuubi ctl arguments
  kyuubi-ctl/src/main/java/org/apache/kyuubi/ctl/KyuubiCtlOptionParser.java
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArguments.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/KyuubiCtlArgumentsSuite.scala
Due: none

replace --zkAddress with --zk-quorum
  kyuubi-ctl/src/main/java/org/apache/kyuubi/ctl/KyuubiCtlOptionParser.java
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArguments.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/KyuubiCtlArgumentsSuite.scala
Due: none

update arguments usage
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArguments.scala
Due: none

zk quorum follow up
  kyuubi-ctl/src/main/java/org/apache/kyuubi/ctl/KyuubiCtlOptionParser.java
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArguments.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/KyuubiCtlArgumentsSuite.scala
Due: none

[KYUUBI #304] Remove abbreviations for service control arguments
  kyuubi-ctl/src/main/java/org/apache/kyuubi/ctl/KyuubiCtlOptionParser.java
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArguments.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/KyuubiCtlArgumentsSuite.scala
Due: none

[KYUUBI #304] Validate specified host and port in arguments parse phase, only enable expose server for create action
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArguments.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/KyuubiCtlArgumentsSuite.scala
Due: none

[KYUUBI #304] Validate specified host and port in arguments parse phase
  kyuubi-ctl/src/main/scala/org/apache/kyuubi/ctl/KyuubiCtlArguments.scala
  kyuubi-ctl/src/test/scala/org/apache/kyuubi/ctl/KyuubiCtlArgumentsSuite.scala
Due: none

[KYUUBI #483] Add configEntry for zookeeper node timeout
  docs/deployment/settings.md
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/client/ServiceDiscovery.scala
  kyuubi-ha/src/test/scala/org/apache/kyuubi/ha/client/HighAvailabilityConfSuite.scala
Due: kyuubi-ha

address comments
  docs/deployment/settings.md
  kyuubi-ha/src/main/scala/org/apache/kyuubi/ha/HighAvailabilityConf.scala
Due: kyuubi-ha

Path conditions:
  kyuubi-common: any of: kyuubi-common
  kyuubi-ha: any of: kyuubi-ha
  kyuubi-main: any of: kyuubi-main
  kyuubi-spark-sql-engine: any of: externals/kyuubi-spark-sql-engine
  aggregate: any of: dev/kyuubi-codecov
